<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>All Profiles</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" appearence="outline">
                <input matInput autocomplete="off" placeholder="Search by Name" [(ngModel)]="searchName" (keyup)="SearchByName()"> 
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Hiring Requests</mat-label>
                <mat-select name="hiringrequest" [(ngModel)]="hiringRequestId" (change)="filterChanged()">
                     <mat-option *ngFor="let hiringRequest of hiringRequestOptions" [value]="hiringRequest.id">{{hiringRequest.purpose}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Notice Period</mat-label>
                <mat-select name="noticeperiod" [(ngModel)]="noticePeriod" #noticePeriodRef="ngModel" (change)="filterChanged()">
                     <mat-option *ngFor="let noticePeriod of noticePeriodOptions" [value]="noticePeriod.code">{{noticePeriod.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Status</mat-label>
                <mat-select>
                     <mat-option *ngFor="let status of statusOptions" [value]="status.code">{{status.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Profiles | Total {{lstGrid.data?.length}}</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.uid}}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">{{element.displayName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="resume">
                        <th mat-header-cell *matHeaderCellDef>Resume</th>
                        <td mat-cell *matCellDef="let element">Download</td>
                    </ng-container>

                    <ng-container matColumnDef="purpose">
                        <th mat-header-cell *matHeaderCellDef>Hiring Purpose</th>
                        <td mat-cell *matCellDef="let element">{{element.hiringPurpose}}</td>
                    </ng-container>

                    <ng-container matColumnDef="wl">
                        <th mat-header-cell *matHeaderCellDef>Current Work Location</th>
                        <td mat-cell *matCellDef="let element">{{element.currentWorkLocation}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ce">
                        <th mat-header-cell *matHeaderCellDef>Current Employer</th>
                        <td mat-cell *matCellDef="let element">{{element.currentEmployer}}</td>
                    </ng-container>

                    <ng-container matColumnDef="np">
                        <th mat-header-cell *matHeaderCellDef>Notice Period</th>
                        <td mat-cell *matCellDef="let element">{{element.noticePeriod}}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">{{element.status}}</td>
                    </ng-container>

                    <ng-container matColumnDef="exp">
                        <th mat-header-cell *matHeaderCellDef>Experience (In Years)</th>
                        <td mat-cell *matCellDef="let element">{{element.relevantExperienceInYears}}</td>
                    </ng-container>

                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row  (click)="onRowSelection(element)" [class.demo-row-is-clicked]="selection.isSelected(element)" *matRowDef="let element; columns: displayedColumns;">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination> -->
            </div>
        </div>
        <br/>
        <div class="pull-right profiles-btns">
            <!-- <remarks-modal *ngIf="!commonService.hideFeature('SHORTLIST_PROFILE_FOR_HIRING_REQUEST_NEED')" [modalId]="'shortListProfile'" [remarkTitle]="'Shortlist'" [isDisable]="buttonModes.shortlist" (updateReason)="shortListProfile($event)"></remarks-modal>
            <remarks-modal *ngIf="!commonService.hideFeature('REJECT_PROFILE_FOR_HIRING_REQUEST_NEED')" [modalId]="'RejectProfile'" [remarkTitle]="'Reject'" [required]="true" [message]="'Please enter the reason for rejection'" [isDisable]="buttonModes.reject" (updateReason)="rejectProfile($event)"></remarks-modal>
            <button *ngIf="!commonService.hideFeature('SCHEDULE_INTERVIEW')" class="profiles-view-button" [disabled]="buttonModes.schedule" (click)="loadScheduleInterview()">Schedule Interview</button>
            <button class="profiles-view-button" *ngIf="!commonService.hideFeature('NOTIFY_SELECTED_CANDIDATE_TO_UPLOAD_SUPPORTING_DOCUMENTS')" (click)="notifyCandidate()" [disabled]="buttonModes.notify">Notify Candidate</button>
            <button class="profiles-view-button" *ngIf="!commonService.hideFeature('START_VERIFICATION_OF_SELECTED_CANDIDATE_DOCUMENTS')" (click)="startVerification()" [disabled]="buttonModes.startVerification">Start Verification</button>
            <button *ngIf="!commonService.hideFeature('VIEW_PRE_JOINING_DOCUMENTS_LIST')" [disabled]="buttonModes.viewDetails" class="profiles-view-button" (click)="showVerificationDetails()">View Details</button>
            <button *ngIf="!commonService.hideFeature('CREATE_OFFER')" class="profiles-view-button" [disabled]="buttonModes.createOffer" (click)="navigateToOffers()">Create Offer</button>
            <button *ngIf="!commonService.hideFeature('MARK_CANDIDATE_AS_JOINED')" class="profile-screening-view-button" [disabled]="buttonModes.join" (click)="updateProspectStatus('JOIN')">Join</button>
            <button *ngIf="!commonService.hideFeature('MARK_CANDIDATE_AS_NO_SHOW')" class="profile-screening-view-button" [disabled]="buttonModes.noShow" (click)="updateProspectStatus('NO_SHOW')">No Show</button>   
            <button *ngIf="!commonService.hideFeature('VIEW_PROFILE_TIMELINE')" [disabled]="buttonModes.timeline" class="profile-screening-view-button" (click)="showProspectTimeline()">Show Timeline</button>
            <button *ngIf="!commonService.hideFeature('VIEW_INTERVIEW_FEEDBACK')" [disabled]="buttonModes.viewFeedback" class="profiles-view-button" (click)="viewFeedBack()">View Feedback</button> -->
            <button mat-raised-button color="primary" [disabled]="buttonModes.viewProfile" class="profiles-view-button" >View Profile</button>
        </div>
    </div>
</div>
<div class="example-button-row">
    <button mat-raised-button color="primary" >Shortlist</button>
    <button mat-raised-button color="primary">Reject</button>
    <button mat-raised-button color="primary">Schedule Interview</button>
    <button mat-raised-button color="primary">Notify Candidate</button>
    <button mat-raised-button color="primary">Start Verification</button>
    <button mat-raised-button color="primary">View Details</button>
    <button mat-raised-button color="primary">Create Offer</button>
    <button mat-raised-button color="primary">Join</button>
    <button mat-raised-button color="primary">Show Timeline</button>
    <button mat-raised-button color="primary">View Feedback</button>
    <button mat-raised-button color="primary">View Profile</button>
    
</div>


