<div class="containerLayout">
    <div *ngIf="pending">
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="30" align="start">
                <h2><strong>Pending Invoice(s)</strong></h2>
                <button mat-raised-button color="primary" (click)="onAction()">Action</button>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div class="responsive-table" fxFlex="100">
            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                <ng-container matColumnDef="sl">
                    <th mat-header-cell *matHeaderCellDef> S.No </th>
                    <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="TimesheetMY">
                    <th mat-header-cell *matHeaderCellDef> Timesheet Month-Year </th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="TimeSheetDocument">
                    <th mat-header-cell *matHeaderCellDef> TimeSheet Document</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="InvoiceDate">
                    <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="Currency">
                    <th mat-header-cell *matHeaderCellDef>Currency</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="InvoiceAmount">
                    <th mat-header-cell *matHeaderCellDef>Invoice Amount</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="InvoiceRaisedBy">
                    <th mat-header-cell *matHeaderCellDef>Invoice Raised By</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="InvoiceRaisedOn">
                    <th mat-header-cell *matHeaderCellDef>Invoice Raised On</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="PaymentDate">
                    <th mat-header-cell *matHeaderCellDef>Payment Date</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="PaymentReceived">
                    <th mat-header-cell *matHeaderCellDef> Payment Received</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="AmountReceived">
                    <th mat-header-cell *matHeaderCellDef>Amount Received(INR)</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="PaymentStatus">
                    <th mat-header-cell *matHeaderCellDef> Payment Status</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>

                <ng-container matColumnDef="Comments">
                    <th mat-header-cell *matHeaderCellDef>Comments</th>
                    <td mat-cell *matCellDef="let element"> </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                <tr mat-row *matRowDef="let element; columns: getDisplayedColumns();" class="example-element-row">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="13" align="center">No data</td>
                </tr>
            </table>
        </div>
    </div>

</div>


<ng-template #template>
    <h2 mat-dialog-title align="center">Approve/Reject</h2>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content>
        <div class="full-width" flexLayout="row" flexLayout.xs="column">
            <mat-label fxFlex="50">Action</mat-label>
            <div fxFlex="50">
                <mat-radio-group flexLayout="row" color="primary" fxLayoutAlignGap="2px" matInput
                    aria-label="Select an option">
                    <mat-radio-button fxFlex [value]="true">Approve </mat-radio-button>
                    <mat-radio-button fxFlex [value]="false">Reject</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <mat-form-field class="full-width">
            <mat-label>Comments</mat-label>
            <textarea matInput autocomplete="off"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="danger">Cancel</button>
        <button type="submit" mat-button color="primary" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
</ng-template>