<div [@.disabled]="disableAnimation">
  <div class="row">
    <mat-label fxFlex="50">Project</mat-label>
    <p align="start">Hours</p>
  </div>
  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="50" align="start">
            {{title}}
          </mat-panel-title>
          <mat-panel-description fxFlex="50" align="start">
            {{hours}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br />
        <div class="mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell" fxFlex="30">Task</div>
            <div class="mat-header-cell" fxFlex="20">Hours</div>
            <div class="mat-header-cell" fxFlex="50">Description</div>
          </div>
          <div class="mat-row" *ngFor="let item of lstGrid">
            <p fxFlex="30">{{item.taskName}}</p>
            <p fxFlex="20">{{item.hours}}</p>
            <p fxFlex="50">{{item.comments}}</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
  </mat-dialog-content>
</div>