<div class="containerLayout">
    
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h3>Profile / Profile Details</h3>
        </div>    
    </div>
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex.lg="100" fxFlex.xs="100">
        <mat-tab-group>
            <mat-tab label="Personal Info " appearance="outline" required>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput required autocomplete="off" placeholder="First Name" required name="firstName" maxlength="100" [(ngModel)]="profileDetails.firstName"
                            #firstNameRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>

                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Middle Name</mat-label>
                            <input matInput  autocomplete="off" placeholder="Middle Name" required  maxlength="40" [(ngModel)]="profileDetails.middleName" name="middleName"
                            #middleNameRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput required autocomplete="off" placeholder="Last Name" required  maxlength="40" [(ngModel)]="profileDetails.lastName" name="lastName"
                            #lastNameRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div>
                
                
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Personal Email ID</mat-label>
                            <input matInput required autocomplete="off" placeholder="personalEmailId" required maxlength="64" [(ngModel)]="profileDetails.email" name="personalEmail"
                            #personalEmailRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Mobile No</mat-label>
                            <input matInput  autocomplete="off" placeholder="mobileNo" required [(ngModel)]="profileDetails.mobileNumber"
                            name="mobileNumber" #mobileNumberRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Date Of Birth</mat-label>
                            <input matInput [matDatepicker]="picker2" autocomplete="off" (click)="picker2.open()"
                                (keydown)="false" required [(ngModel)]="profileDetails.dateOfBirth" [value]="profileDetails.dateOfBirth"
                                name="dateOfBirth" #dateOfBirth="ngModel" [readOnly]="viewMode">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>   
                
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Natioanlity</mat-label>
                            <input matInput required autocomplete="off" placeholder="Purpose" required [(ngModel)]="profileDetails.nationality" name="nationality"
                            #nationalityRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Enter Aadhar</mat-label>
                            <input matInput  autocomplete="off" placeholder="Purpose" >
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Enter Pan</mat-label>
                            <input matInput  autocomplete="off" placeholder="Purpose">
                        </mat-form-field>
                    </div>
                </div>
                <label>Current Address</label>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                    <div fxFlex.lg="45" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>H No./Plot No.</mat-label>
                            <input matInput required autocomplete="off" placeholder="Purpose">
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="45" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>House Name & Street</mat-label>
                            <input matInput  autocomplete="off" placeholder="Purpose" required maxlength="100" [(ngModel)]="profileDetails.currentAddress.address1"
                            name="currentPlotNumber" #currentPlotNumberRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div>   
                
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline" required>
                            <mat-label>Country</mat-label>
                            <mat-select>
                                <mat-option>1</mat-option>
                                <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline" required>
                            <mat-label>State</mat-label>
                            <mat-select >
                                <mat-option>1</mat-option>
                                <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="45" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput required autocomplete="off" placeholder="City" required [(ngModel)]="profileDetails.currentAddress.city"
                            name="currentCity" #currentCityRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div> 
                    <div fxFlex.lg="45" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Zip Code</mat-label>
                            <input matInput required autocomplete="off" placeholder="Zip Code"required [(ngModel)]="profileDetails.currentAddress.zipcode"
                            name="currentZipcode" maxlength="16" #currentZipcodeRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div> 
                </div>
            </mat-tab>
                  
            <mat-tab label=" Professional Info" appearance="outline" required>
                <div fxFlex.lg="30" fxFlex.xs="100">        
                    <mat-label>Working Status</mat-label><br>
                    <mat-radio-group aria-label="Depricated">
                        <mat-radio-button value="1">Active</mat-radio-button>&nbsp;
                        <mat-radio-button value="2">Inactive</mat-radio-button>
                    </mat-radio-group> 
                </div> 
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Current Employer</mat-label>
                            <input matInput required autocomplete="off" placeholder="Current Employer" [(ngModel)]="profileDetails.currentEmployer"
                            value="Infosys Private Ltd,Banglore" #currentEmployerRef="ngModel" [readOnly]="viewMode">
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Current Work Location</mat-label>
                            <input matInput  required autocomplete="off" placeholder="Current Work Location" [(ngModel)]="profileDetails.currentWorkLocation" #currentWorkLocationRef="ngModel"
                            [readOnly]="viewMode" required>
                        </mat-form-field>
                    </div> 
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Notice Period</mat-label>
                            <mat-select name="noticePeriod" [(ngModel)]="profileDetails.noticePeriod" [disabled]="viewMode">
                                <mat-option *ngFor="let noticePeriod of comboData.noticeperiod" value= {{noticePeriod.code}}></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Current CTC</mat-label>
                            <input matInput  required autocomplete="off" placeholder="Current CTC" [(ngModel)]="profileDetails.currentCTC" #currentCTCRef="ngModel"
                            [readOnly]="viewMode" required>
                        </mat-form-field>
                    </div> 
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Expected CTC</mat-label>
                            <input matInput  required autocomplete="off" placeholder="Expected CTC"  [(ngModel)]="profileDetails.expectedCTC" #expectedCTCRef="ngModel"
                            [readOnly]="viewMode" required >
                        </mat-form-field>
                    </div> 
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Total Experience (In years)</mat-label>
                            <input matInput  required autocomplete="off" placeholder="Total Experience (In years)">
                        </mat-form-field>
                    </div> 
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Relevent Experience (In years)</mat-label>
                            <input matInput  required autocomplete="off" placeholder="Relevent Experience (In years) ">
                        </mat-form-field>
                    </div> 
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Category</mat-label>
                            <mat-select>
                                <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Employment Type</mat-label>
                            <mat-select [(ngModel)]="profileDetails.employmentType" [disabled]="viewMode">
                                 <mat-option *ngFor="let employementType of comboData.employmentType" value= {{employementType.code}}>
                                    {{employementType.description}}</mat-option> 
                            </mat-select>
                        </mat-form-field>
                    </div>
                
                
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Document Type</mat-label>
                            <mat-select name="documentType" [(ngModel)]="profileDetails.documentType" [disabled]="true">
                                <mat-option *ngFor="let documentType of comboData.documentType" value= {{documentType.code}}> {{documentType.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Prospect Source</mat-label>
                            <mat-select>
                                <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.lg="30" fxFlex.xs="100"></div>
                </div>
            </mat-tab>

            <mat-tab label="Skillset" appearance="outline" required>
                
            </mat-tab>
            <mat-tab label="Confidential Documents" appearance="outline"> Confidential Documents 
                <mat-form-field class="full-width" appearance="outline">
                    <textarea matInput autocomplete="off" rows="8"></textarea>
                </mat-form-field>
            </mat-tab>
           
        </mat-tab-group>
       
    </div>
</div>
<div align="end">
    <button mat-raised-button>Close</button> 
</div>
</div>






