<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>My Interviews</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around" >
      
        <div fxFlex.lg="22"  fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Select Result Status</mat-label>
                <mat-select name="resultStatus" [(ngModel)]="resultStatus" #resultStatusRef="ngModel" (change)="filterChanged()">
                    <mat-option value="ALL">Select Result Status</mat-option>
                    <mat-option *ngFor="let resultStatus of resultStatusOptions" [value]="resultStatus.code">{{resultStatus.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" align="end" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Select Status</mat-label>
                <mat-select name="selectStatus" [(ngModel)]="scheduleStatus" #scheduleStatusRef="ngModel" (change)="filterChanged()">
                    <mat-option value="ALL">Select Status</mat-option>
                    <mat-option *ngFor="let status of statusOptions" [value]="status.code">{{status.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>PROFILES | TOTAL</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table class="mat-elevation-z4 rtable">
                    <!-- [dataSource]="lstGrid" -->
           
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.uid}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cn">
                        <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
                        <td mat-cell *matCellDef="let element">{{element.candidateName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="job_des">
                        <th mat-header-cell *matHeaderCellDef>Job Description</th>
                        <td mat-cell *matCellDef="let element">{{element.jobDescription}}</td>
                    </ng-container>

                    <ng-container matColumnDef="mobNo">
                        <th mat-header-cell *matHeaderCellDef>Mobile No.</th>
                        <td mat-cell *matCellDef="let element">{{element.mobileNo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ilevel">
                        <th mat-header-cell *matHeaderCellDef>Interview Level</th>
                        <td mat-cell *matCellDef="let element">{{element.interviewLevel}}</td>
                    </ng-container>

                    <ng-container matColumnDef="imode">
                        <th mat-header-cell *matHeaderCellDef>Interview Mode</th>
                        <td mat-cell *matCellDef="let element">{{element.interviewMode}}</td>
                    </ng-container>

                    <ng-container matColumnDef="idate">
                        <th mat-header-cell *matHeaderCellDef>Interview Date</th>
                        <td mat-cell *matCellDef="let element">{{element.interviewDate}}</td>
                    </ng-container>

                    <ng-container matColumnDef="sch_by">
                        <th mat-header-cell *matHeaderCellDef>Scheduled By</th>
                        <td mat-cell *matCellDef="let element">{{element.scheduledBy}}</td>
                    </ng-container>

                    
                    <ng-container matColumnDef="st">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">{{element.status}}</td>
                    </ng-container>

                    <ng-container matColumnDef="rs">
                        <th mat-header-cell *matHeaderCellDef>Result Status</th>
                        <td mat-cell *matCellDef="let element">{{element.resultStatus}}</td>
                    </ng-container>

                    <ng-container matColumnDef="resume">
                        <th mat-header-cell *matHeaderCellDef>Resume</th>
                        <td mat-cell *matCellDef="let element">Download</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr> 
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination> -->
            </div>
        </div>
    </div>
</div>
<div align="end">
    <button mat-raised-button color="primary" [disabled]="buttonModes.open" (click)="showProfileDetails()">Open</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Accept</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Decline</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Submit Feedback</button>&nbsp;&nbsp;    
    <button mat-raised-button color="primary">View Feedback</button>&nbsp;&nbsp;
</div>
