.mat-table {
    display: inline;
    overflow: hidden;
  }
  
  .mat-cell,
  .mat-header-cell {
    align-items: center;
    display: inline-block;
    word-break: break-word;
    overflow: hidden;
    font-size: 16px;
  }
  
  .mat-row p {
    word-wrap: break-word;
    // word-break: break-all;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    border-right: 1px solid lightgrey;
    margin-bottom: 0px;
  }
  