<div class="cardLayout">
    <mat-card class="mat-elevation-z3">
        <mat-card-header>
            <mat-card-title>HIRING REQUEST NEED DETAILS | ALL MANDATORY*</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline" required>
                        <mat-label>Practice</mat-label>
                        <!-- <mat-select [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="needDetailsFrmHiringRequestData.needDetails.practice" [disabled]="viewMode" (selectionChange)="loadCompetenciesByPractice()" required>
                    <mat-option *ngFor="let item of comboData.practice" [value]="item.id">
                            {{item.practiceName}}</mat-option> -->
                        <!-- </mat-select> -->
                        <mat-select>
                            <mat-option>1</mat-option>
                            <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline" required>
                        <mat-label>Competence</mat-label>
                        <mat-select>
                            <mat-option>1</mat-option>
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>
                            <mat-option>4</mat-option>
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>
                            <mat-option>4</mat-option>
                            <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline" required>
                        <mat-label>Work Location</mat-label>
                        <mat-select>
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>
                            <mat-option>4</mat-option>
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>
                            <mat-option>4</mat-option>
                            <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-label>Experience Required</mat-label>
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px">

                        <div fxFlex.lg="40" fxFlex.xs="40">
                            <mat-form-field class="full-width" appearance="outline">
                                <input matInput min="0" max="100" type="number" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="10" fxFlex.xs="10"> to </div>
                        <div fxFlex.lg="40" fxFlex.xs="40">
                            <mat-form-field class="full-width" appearance="outline">
                                <input matInput min="0" max="100" type="number" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Expected Role</mat-label>
                        <input matInput autocomplete="off" placeholder="Expected Role">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Number of Resources</mat-label>
                        <input matInput type="number" autocomplete="off" placeholder="Number of Resources">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">

                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Expected Start Date</mat-label>
                        <input matInput autocomplete="off" placeholder="Expected Start Date">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline" required>
                        <mat-label>Model</mat-label>
                        <mat-select>
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>
                            <mat-option>4</mat-option>
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>
                            <mat-option>4</mat-option>
                            <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Purpose</mat-label>
                        <input matInput required autocomplete="off" placeholder="Purpose">
                    </mat-form-field>
                </div>
                <mat-accordion fxFlex.lg="100" fxFlex.xs="100" class="accordion">
                    <mat-expansion-panel class="mat-elevation-z6">
                        <mat-expansion-panel-header class="panel">
                            <mat-panel-title fxFlex="100" align="start">
                                Job Description Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <br />
                        <div class="row" fxLayout fxLayout.lt-md="column">
                            <div fxFlex.lg="28" fxFlex.xs="100">
                                <mat-form-field class="max-width" appearance="outline">
                                    <mat-label>Department</mat-label>
                                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="departmentId"
                                        (selectionChange)="loadPracticesByDepartment()">
                                        <mat-option *ngFor="let item of departmentOptions" [value]="item.id">
                                            {{item.departmentName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="28" fxFlex.xs="100">
                                <mat-form-field class="max-width" appearance="outline">
                                    <mat-label>Practice</mat-label>
                                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="practiceId"
                                        (selectionChange)="getTemplates()">
                                        <mat-option *ngFor="let practice of practiceOptions" [value]="practice.id">
                                            {{practice.practiceName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="28" fxFlex.xs="100">
                                <mat-form-field class="max-width" appearance="outline">
                                    <mat-label>Template Name</mat-label>
                                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="templateId"
                                        (selectionChange)="onTemplateChange($event.value)">
                                        <mat-option *ngFor="let item of templatesLst" [value]="item.id">
                                            {{item.templateName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="10" fxFlex.xs="100">
                                <button mat-raised-button color="primary" (click)="onJobSelection()"
                                    style="margin-top:15px;">Continue</button>
                            </div>
                        </div>
                        <br />
                        <div *ngIf="showJdInfo">
                            <div class="row" fxLayout fxLayout.xs="column">
                                <div fxFlex="50" align="start">
                                    <h3>Job Description Details</h3>
                                </div>
                            </div>
                            <div class="row" fxLayout fxLayout.xs="column">
                                <div fxFlex.lg="100" fxFlex.xs="100">
                                    <mat-tab-group dynamicHeight>
                                        <mat-tab label="Company Background" appearance="outline">
                                            <br />
                                            <div class="row" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
                                                <div fxFlex="48">
                                                    <mat-label>Company Background</mat-label>
                                                    <mat-form-field class="full-width" appearance="outline">
                                                        <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                            [(ngModel)]="jobCompBg"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="48">
                                                    <mat-label>Practice Background</mat-label>
                                                    <mat-form-field class="full-width" appearance="outline">
                                                        <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                            [(ngModel)]="jobPracBg"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Job Description" appearance="outline">
                                            <br />
                                            <mat-label>Job Description</mat-label>
                                            <mat-form-field class="full-width" appearance="outline">
                                                <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                    [(ngModel)]="jobds"
                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                            </mat-form-field>
                                        </mat-tab>

                                        <mat-tab label="Position/Responsibilities" appearance="outline">
                                            <br />
                                            <mat-label>Position/Responsibilities</mat-label>
                                            <mat-form-field class="full-width" appearance="outline">
                                                <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                    [(ngModel)]="jobresp"
                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                            </mat-form-field>
                                        </mat-tab>
                                        <mat-tab label="Skills" appearance="outline">
                                            <br />
                                            <div fxLayout="row wrap" fxLayout.lt-md="column"
                                                fxLayoutAlign="space-between center">
                                                <div fxFlex.lg="48" fxFlex.xs="100">
                                                    <mat-label>Design Skills</mat-label>
                                                    <mat-form-field class="full-width" appearance="outline">
                                                        <textarea matInput autocomplete="off" rows="3" [disabled]="true"
                                                            [(ngModel)]="jobDsSkill"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex.lg="48" fxFlex.xs="100">
                                                    <mat-label>Technical Skills</mat-label>
                                                    <mat-form-field class="full-width" appearance="outline">
                                                        <textarea matInput autocomplete="off" rows="3" [disabled]="true"
                                                            [(ngModel)]="jobTsSkill"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex.lg="48" fxFlex.xs="100">
                                                    <mat-label>Certifications</mat-label>
                                                    <mat-form-field class="full-width" appearance="outline">
                                                        <textarea matInput autocomplete="off" rows="2" [disabled]="true"
                                                            [(ngModel)]="jobCert"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex.lg="48" fxFlex.xs="100">
                                                    <mat-label>Other Skills</mat-label>
                                                    <mat-form-field class="full-width" appearance="outline">
                                                        <textarea matInput autocomplete="off" rows="2" [disabled]="true"
                                                            [(ngModel)]="jobOtherSkill"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Education" appearance="outline">
                                            <br />
                                            <mat-label>Education</mat-label>
                                            <mat-form-field class="full-width" appearance="outline">
                                                <textarea matInput autocomplete="off" rows="5" [disabled]="true"
                                                    [(ngModel)]="jobEdu"
                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                            </mat-form-field>
                                        </mat-tab>
                                        <mat-tab label="Initial Screening Questions" appearance="outline">
                                            <br />
                                            <mat-label>Initial Screening Questions</mat-label>
                                            <mat-form-field class="full-width" appearance="outline">
                                                <textarea matInput autocomplete="off" rows="5" [disabled]="true"
                                                    [(ngModel)]="jobScrnQs"
                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                            </mat-form-field>
                                        </mat-tab>
                                    </mat-tab-group>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z6" style="margin-top: 10px ;">
                        <mat-expansion-panel-header class="panel">
                            <mat-panel-title fxFlex="100" align="start">
                                Interview Panel Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <br />
                        <mat-label *ngIf="panelGrid.length > 0"><b>Panel Details</b></mat-label>
                        <div fxLayout="row" fxLayout.lt-md="column" *ngIf="panelGrid.length > 0">
                            <div class="mat-table" fxFlex="100">
                                <div class="mat-header-row">
                                    <div class="mat-header-cell" fxFlex="15">Level</div>
                                    <div class="mat-header-cell" fxFlex="20">Name</div>
                                    <div class="mat-header-cell" fxFlex="25">Panel Members</div>
                                    <div class="mat-header-cell" fxFlex="25">Criteria</div>
                                    <div class="mat-header-cell" fxFlex="15">Action</div>
                                </div>
                                <div class="mat-row" *ngFor="let item of panelGrid; let i =index">
                                    <p fxFlex="15">{{item.level}}</p>
                                    <p fxFlex="20">{{item.name}}</p>
                                    <p fxFlex="25">{{item.members}}</p>
                                    <p fxFlex="25">{{item.criteria}}</p>
                                    <p fxFlex="15">
                                        <mat-icon matTooltip="Edit" (click)="onPanelAction(item, 'edit', i)">
                                        edit</mat-icon>
                                        <mat-icon matTooltip="Delete" (click)="onPanelAction(item, 'delete', i)">
                                        cancel</mat-icon>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        <fieldset style="min-height:100px;">
                            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lg="80px">
                                <div fxFlex.lg="30" fxFlex.xs="100">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Level <span
                                                [ngStyle]="(panelSubmitted && !level)? {'color':'red'} : {'color': 'black'}">*</span>
                                        </mat-label>
                                        <mat-select [(ngModel)]="level">
                                            <mat-option *ngFor="let item of interviewLevelLst" [value]="item.id">
                                                {{item.description}}</mat-option>
                                        </mat-select>
                                        <mat-hint class="mat-error" *ngIf="panelSubmitted && !level">Field is
                                            <strong>required</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div fxFlex.lg="30" fxFlex.xs="100">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Panel Name <span
                                                [ngStyle]="(panelSubmitted && !panelName)? {'color':'red'} : {'color': 'black'}">*</span>
                                        </mat-label>
                                        <input matInput [(ngModel)]="panelName" autocomplete="off">
                                        <mat-hint class="mat-error" *ngIf="panelSubmitted && !panelName">Field is
                                            <strong>required</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                                <div fxFlex.lg="90" fxFlex.xs="100">
                                    <mat-label>Panel Members <span
                                            [ngStyle]="(panelSubmitted && panelMembers.length == 0)? {'color':'red'} : {'color': 'black'}">*</span>
                                    </mat-label>
                                    <tag-input name="panelMembers" [(ngModel)]="panelMembers" #panel [disable]="true">
                                        <ng-template let-item="item" let-index="index">
                                            <span>
                                                {{ item.name }}
                                            </span>
                                            <delete-icon (click)="panel.removeItem(item, index)">
                                            </delete-icon>
                                        </ng-template>
                                    </tag-input>
                                    <mat-error *ngIf="panelSubmitted && panelMembers.length == 0">Field is
                                        <strong>required</strong>
                                    </mat-error>
                                </div>
                                <div fxFlex.lg="10" fxFlex.xs="100">
                                    <button mat-icon-button (click)="openSelectionModal('panel')">
                                        <mat-icon>add_box</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                                <div fxFlex.lg="90" fxFlex.xs="100">
                                    <mat-label>Selection Criteria <span
                                            [ngStyle]="(panelSubmitted && criteria.length == 0)? {'color':'red'} : {'color': 'black'}">*</span>
                                    </mat-label>
                                    <tag-input name="Criteria" [(ngModel)]="criteria" #Criteria [disable]="true">
                                        <ng-template let-item="item" let-index="index">
                                            <span>
                                                {{ getCriteriaNames(item) }}
                                            </span>
                                            <delete-icon (click)="Criteria.removeItem(item, index)">
                                            </delete-icon>
                                        </ng-template>
                                    </tag-input>
                                    <mat-error *ngIf="panelSubmitted && criteria.length == 0">Field is
                                        <strong>required</strong>
                                    </mat-error>
                                </div>
                                <div fxFlex.lg="10" fxFlex.xs="100">
                                    <button mat-icon-button (click)="openSelectionModal('criteria')">
                                        <mat-icon>add_box</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                                <div fxFlex="50" align="end">
                                    <button mat-raised-button color="primary" (click)="addPanel()">
                                        <mat-icon>add_box</mat-icon> Add
                                    </button>
                                </div>
                                <div fxFlex="50" align="start">
                                    <button mat-raised-button color="primary"> Clear</button>
                                </div>
                            </div>
                        </fieldset>
                    </mat-expansion-panel>
                </mat-accordion>
                <br />
            </div>
        </mat-card-content>
    </mat-card>
</div>