<form class="form" style="font-size: 14px;">
    <!-- <h2 mat-dialog-title align="start">{{modalHeader}}</h2>
    <mat-divider></mat-divider> -->
    <mat-dialog-content>
        <p>Are you sure you want to delete this records?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="danger">Cancel</button>
        <button type="submit" mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</form>