<form>
    <p class="feedback-heading">FEEDBACK</p>
    <div class="row">
        <div class="form-group col-md-4 col-sm-4">
            <label class="labelText" for="photo">Prospect Photo</label>
            <input type="file" accept="image/*" class="form-control" (change)="onFileUpload($event)" />
            <br />
            <img id="prospect-photo" [src]="photoUrl" *ngIf="photoUrl" />
        </div>
    </div>
    <div name="categories" *ngFor="let criterion of feedBackDetails.criterionList">
        <div class="row">
            <label class="labelText col-md-2" for="priorWorkExperience">{{ criterion.criterionName }}
                <span
                    [ngStyle]="(!criterion.rating || !criterion.feedback)? {'color':'red'} : {'color': 'black'}">*</span>
            </label>
            <p-rating class="col-md-2" style="margin-left: -2.5em" [(ngModel)]="criterion.rating"
                name="{{ criterion.criterionName }}"></p-rating>
        </div>
        <p-editor class="feedback-editor" name="{{ criterion.criterionName }}" [(ngModel)]="criterion.feedback">
        </p-editor>
    </div>
    <div class="feedback-radio">
        <label class="radio-inline">
            <input type="radio" [(ngModel)]="feedBackDetails.resultStatus" name="recommendationRadio"
                value="RECOMMENDED" />
            Recommended
        </label>
        <label class="radio-inline">
            <input type="radio" [(ngModel)]="feedBackDetails.resultStatus" name="recommendationRadio"
                value="NOT_RECOMMENDED" />
            Not Recommended
        </label>
    </div>
    <br />
    <div class="row" *ngIf="feedBackDetails.resultStatus == 'RECOMMENDED'">
        <div class="col-md-4 col-sm-4 form-group">
            <label class="labelText" for="selectInterview">Asset Category
                <span
                    [ngStyle]="(assetCategory ==null || assetCategory == '')? {'color':'red'} : {'color': 'black'}">*</span>
            </label>
            <select name="assetCategory" class="form-control" [(ngModel)]="assetCategory">
                <option value="">Select</option>
                <option *ngFor="let item of assetList" [value]="item.assetCategory">
                    {{item.assetCategory}}</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-4 form-group">
            <label class="labelText" for="interviewRemarks">Additional Configuration</label>
            <textarea rows=2 class="form-control" name="additionalHardware" maxlength="500"
                placeholder="Additional Configuration Required" [(ngModel)]="additionalHardware"></textarea>
        </div>
    </div>
    <div class="pull-right feedback-btns">
        <button class="feedback-cancel-button" (click)="navigateToInterviews()">Close</button>
        <button *ngIf="!commonService.hideFeature('SUBMIT_INTERVIEW_FEEDBACK')" class="feedback-submit-button"
            (click)="submitFeedback()">
            Submit
        </button>
    </div>
</form>