
<div class="containerLayout">
    <mat-card class="mat-elevation-z3">
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Interview/ Interview Details</h3>
            </div>    
        </div>
        <mat-card-content>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="max-width" appearance="outline">
                        <mat-label>Prospective Hire Name</mat-label>
                        <input matInput autocomplete="off" placeholder="Prospective Hire Name" [(ngModel)]="interviewDetails.prospectiveHireName" [readOnly]="true">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="max-width" appearance="outline" required>
                        <mat-label>Level</mat-label>
                         <mat-select name="level" [(ngModel)]="interviewDetails.interviewLevel" required (change)="loadPanels()" [disabled]="true">
                            <mat-option value="">Select</mat-option>
                            <mat-option *ngFor="let level of interviewLevelOptions" [value]="level.id">{{level.description}}</mat-option>
                        </mat-select> 
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="max-width" appearance="outline" required>
                        <mat-label>Select Panel</mat-label>
                         <mat-select name="selectPanel" [(ngModel)]="interviewDetails.interviewPanelId" (change)="getInterviewers()" required [disabled]="true">
                            <mat-option value="">Select</mat-option>
                            <mat-option *ngFor="let panel of panels" [value]="panel.id">{{panel.name}}</mat-option>  
                        </mat-select> 
                    </mat-form-field>
                </div>
                
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="max-width" appearance="outline" required>
                        <mat-label>Select Interviewer</mat-label>
                         <mat-select name="selectInterview" [(ngModel)]="interviewDetails.interviewerId" required [disabled]="true">
                            <mat-option value="">Select</mat-option>
                            <mat-option *ngFor="let interviewer of interviewers" [value]="interviewer.id">{{interviewer.fullName}}</mat-option>
                        </mat-select> 
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="max-width" appearance="outline" required>
                        <mat-label>Select Ad-hoc Interviwer</mat-label>
                         <mat-select name="selectAdhocInterview" [(ngModel)]="interviewDetails.adhocInterviewId" required [disabled]="true">
                           <mat-option value="">Select</mat-option> 
                           <mat-option *ngFor="let mode of interviewModeOptions" [value]="mode.code">{{mode.description}}</mat-option>
                        </mat-select> 
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="max-width" appearance="outline" required>
                        <mat-label>Interview Mode</mat-label>
                         <mat-select name="interviewMode" [(ngModel)]="interviewDetails.interviewMode" required [disabled]="true">
                            <mat-option value="">Select</mat-option>
                            <mat-option *ngFor="let mode of interviewModeOptions" [value]="mode.code">{{mode.description}}</mat-option>
                        </mat-select> 
                    </mat-form-field>
                </div>
                <div fxFlex.lg="35" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Interview Date</mat-label>
                        <input matInput [matDatepicker]="picker2" autocomplete="off" (click)="picker2.open()"
                            (keydown)="false">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>  
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <mat-label>Remarks</mat-label>
                <mat-form-field class="full-width" appearance="outline">
                    <textarea matInput autocomplete="off" rows="8" [(ngModel)]="interviewDetails.recruiterComments" [disabled]="true"></textarea>
                </mat-form-field>
            </div>    
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button (click)="navigateToPrevious()">Close</button>
        </mat-card-actions>
    </mat-card>

    