 td.mat-cell {
    // border-bottom-width: 0;
    padding: 0% !important;
    border-right: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    min-height: 50px;
}


td.mat-cell:first-child {
    border-left: 1px solid lightgray;
  }

.highlightToday {
    background-color: aqua;
}

.tasks {
    cursor: pointer;
    background-color: orange;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 20px !important;
}

.newFields .mat-card {
  min-width: 100px !important;
  min-height: 20px !important;
}

.holiday {
    background-color: green;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 20px !important;
}

.pending {
    cursor: pointer;
    background-color: orange;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 20px !important;
}

.rejected {
    cursor: pointer;
    background-color: #ff5050;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 20px !important;
}

.leave {
    cursor: pointer;
    // background-color: #db8f03;
    background-color: orange;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 20px !important;
}

.empty {
    cursor: pointer;
    background-color: #fde8cc;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 40px !important;
}

.approved {
    cursor: pointer;
    background-color: #a7ff91;
    color: black;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 20px !important;
}

.cellContent {
    // width: 100%;
    // height: 80px;
    border-radius: 0px;
}
   

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .monthlyrow td {
    padding-left: 16px !important;
  }

  .wknds {
    background-color: #fde8cc !important;
  }
  
  .gray { background-color: #f5f5f5 };

  
.viewDt {
  padding: 10px 10px 10px 30px;
}

  #foo {
    position: absolute;
    bottom: 5px;
    right: 3px;
  }
