<mat-tab-group dynamicHeight *ngIf="!showChild">
    <mat-tab label="Time Sheets">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <!-- <div class="row" fxLayout fxLayout.xs="column">
                    <div fxFlex="50" align="start">
                        <h2><strong>Time Sheets</strong></h2>
                    </div>
                </div> -->
                <!-- <mat-divider></mat-divider> -->
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex="10" align="start">
                        <h3>Color Codes : </h3>
                    </div>
                    <div fxFlex="90" align="start">
                        <div fxFlex="100" fxLayoutAlignGap="10px" style="padding-top: 5px;">
                            <p fxFlex style="color: chocolate;">Work From Home</p>
                            <p fxFlex style="color: green;">Holiday</p>
                            <p fxFlex style="color: #db8f03;">Leave</p>
                            <p fxFlex style="color: #03A9F4;">Onduty</p>
                            <p fxFlex style="color: #ffc400;">TS Pending</p>
                            <p fxFlex style="color: #a7ff91;">TS Approved</p>
                            <p fxFlex style="color: #ff5050;">TS Rejected</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" fxLayout fxLayout.lt-md="column">
                    <div fxFlex="50">
                        <h3>{{this.viewDay | date: 'MMMM - yyyy'}}</h3>
                    </div>
                    <div fxFlex="50">
                        <div fxLayout.lt-md="column" align="end" fxLayoutGap="10px">
                            <button mat-raised-button color="primary" (click)="onArrow('prev')">
                                <mat-icon>arrow_left</mat-icon>
                            </button>
                            <button mat-raised-button color="primary" (click)="onArrow('today')">Today</button>
                            <button mat-raised-button color="primary" (click)="onArrow('next')">
                                <mat-icon>arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div class="responsive-table" fxFlex="100">
                        <table mat-table [dataSource]="currentDates" class="tstable mat-elevation-z8">
                            <ng-container [matColumnDef]="column.day" *ngFor="let column of displayedColumns">
                                <th mat-header-cell *matHeaderCellDef> {{column.day}} </th>
                                <td mat-cell *matCellDef="let element; let i =index"
                                    [ngClass]="{highlightToday: isToday(element[column.pos]?.date)}">
                                    <!-- <mat-card class="cellContent">
                                        <mat-card-content> -->
                                    <div style="padding: 20px;">
                                        {{(element[column.pos]?.date| date: 'dd')}}
                                        <div style="padding-top:5px"
                                            *ngFor="let item of element[column.pos]?.lineInfoList">
                                            <mat-card [ngClass]="{'pending': item.type == 11, 'leave': item.type == 21 , 'rejected':item.type == 13,
                                            'approved': item.type == 22}" *ngIf="element[column.pos] && (item.type == 11 || item.type == 21
                                             || item.type == 22 || item.type == 13)"
                                                (click)="onDate(element[column.pos])" mat-ripple>
                                                {{item.info}}</mat-card>
                                            <mat-card [ngClass]="{'approved': item.type == 12}"
                                                *ngIf="element[column.pos] && (item.type == 12)"
                                                (click)="onView(element[column.pos], item)" mat-ripple>
                                                {{item.info}}</mat-card>
                                            <mat-card [ngClass]="{'holiday': item.type == 30}"
                                                *ngIf="element[column.pos] && (item.type == 30)"
                                                (click)="checkDate(element[column.pos]?.date) && onDate(element[column.pos])"
                                                mat-ripple>
                                                {{item.info}}</mat-card>
                                        </div>
                                        <div style="padding-top:5px" class="newFields"
                                            *ngIf="element[column.pos]?.lineInfoList.length == 0 && checkDate(element[column.pos]?.date)">
                                            <mat-card class="empty" *ngIf="element[column.pos]"
                                                (click)="onDate(element[column.pos])" mat-ripple>
                                            </mat-card>
                                        </div>
                                    </div>
                                    <!-- </mat-card-content>
                                    </mat-card> -->
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row">
                            </tr>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Month Summary">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
                    <div fxFlex="30"></div>
                    <div fxFlex="10">
                        <button mat-mini-fab color="primary" (click)="onMSArrow('prev')">
                            <mat-icon>arrow_left</mat-icon>
                        </button>
                    </div>
                    <p fxFlex="20" class="viewDt">{{msDay | date:'MMM-yyyy'}}</p>
                    <div fxFlex="10">
                        <button mat-mini-fab color="primary" (click)="onMSArrow('next')">
                            <mat-icon>arrow_right</mat-icon>
                        </button>
                    </div>
                    <div fxFlex="30"></div>
                </div>
                <br />
                <fieldset style="min-height:100px;">
                    <br/>
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlignGap="10px">
                        <div fxFlex.lg="22" fxFlex.xs="100"></div>
                        <div fxFlex.lg="22" fxFlex.xs="100">
                            <mat-form-field class="max-width">
                                <mat-label>Project</mat-label>
                                <mat-select [(ngModel)]="projectId">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option *ngFor="let item of projectsLst" [value]="item.projectId">
                                        {{item.projectName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="22" fxFlex.xs="100">
                            <mat-form-field class="max-width">
                                <mat-label>Status</mat-label>
                                <mat-select [(ngModel)]="statusId">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option *ngFor="let item of statusLst" [value]="item.status">{{item.statusStr}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="10">
                            <div style="padding: 10px;">
                                <button mat-raised-button color="primary" (click)="getMonthlySummary()">Search</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div fxLayout="row" fxLayout.xs="column">
                    <div class="responsive-table" fxFlex="100">
                        <table mat-table [dataSource]="monthlyGrid" class="mat-elevation-z4 rtable">
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element?.date | date:'dd-MMM-yyyy'}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Project Name </th>
                                <td mat-cell *matCellDef="let element"> {{element?.projectName}} </td>
                                <td mat-footer-cell *matFooterCellDef><b> Total </b> </td>
                            </ng-container>

                            <ng-container matColumnDef="hours">
                                <th mat-header-cell *matHeaderCellDef> Hours </th>
                                <td mat-cell *matCellDef="let element"> {{element?.hours}} </td>
                                <td mat-footer-cell *matFooterCellDef><b> {{totalHours}} </b></td>
                            </ng-container>

                            <ng-container matColumnDef="work">
                                <th mat-header-cell *matHeaderCellDef> Work </th>
                                <td mat-cell *matCellDef="let element" [matTooltip]="element?.comments">
                                    <div class="fixed_col_ellipses">
                                        {{element?.comments}}
                                    </div>
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Manager Status </th>
                                <td mat-cell *matCellDef="let element"> {{element?.statusStr}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="monthlyColumns"></tr>
                            <tr mat-row *matRowDef="let element; let even = even;  columns: monthlyColumns;"
                                class="monthlyrow"
                                [ngClass]="{'wknds': ((element?.date | date:'EEE') == 'Sat' || (element?.date | date:'EEE') == 'Sun'), 'gray': even}">
                            </tr>
                            <tr mat-footer-row *matFooterRowDef="monthlyColumns"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5" align="center">No data</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<div *ngIf="showChild">
    <app-tasks [projectDetails]="projectDetails" [taskDate]="selectedDate" [employeeCode]="empCode"
        (messageEvent)="receiveMessage($event)"></app-tasks>
</div>