<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h3><strong>{{editMode ? 'Edit Job Description' : viewMode ? 'View Job Description' : 'Create New Job Description'}}</strong></h3>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <form #myForm="ngForm">
        <div class="row" fxLayout fxLayout.lt-md="column">
            <div fxFlex.lg="28" fxFlex.xs="100">
                <mat-form-field class="max-width" appearance="outline">
                    <mat-label>Department</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="jobDescData && jobDescData.departmentId" [disabled]="viewMode"
                        (selectionChange)="loadPracticesByDepartment()" required>
                        <mat-option *ngFor="let item of departmentOptions" [value]="item.id">
                            {{item.departmentName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="28" fxFlex.xs="100">
                <mat-form-field class="max-width" appearance="outline">
                    <mat-label>Practice</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}" [disabled]="viewMode"
                        [(ngModel)]="jobDescData && jobDescData.practiceId" required>
                        <mat-option *ngFor="let practice of practiceOptions" [value]="practice.id">
                            {{practice.practiceName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="28" fxFlex.xs="100">
                <mat-form-field class="max-width" appearance="outline">
                    <mat-label>Template Name</mat-label>
                    <input matInput maxlength="64" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="jobDescData && jobDescData.templateName" [disabled]="viewMode" autocomplete="off"
                        required />
                </mat-form-field>
            </div>
        </div>
        <br />
        <div>
            <div class="row" fxLayout fxLayout.xs="column">
                <div fxFlex="50" align="start">
                    <h3>JOB DESCRIPTIONS</h3>
                </div>
                <div fxFlex="50" align="end">
                    <mat-checkbox class="checkboxStyle" [disabled]="!editMode || viewMode"
                    [(ngModel)]="jobDescData && jobDescData.deprecated" [ngModelOptions]="{standalone: true}">
                        Deprecate</mat-checkbox>
                </div>
            </div>
            <div class="row" fxLayout fxLayout.xs="column">
                <div fxFlex.lg="100" fxFlex.xs="100">
                    <mat-tab-group #tablist dynamicHeight (selectedTabChange)="tabSelects($event)">
                        <mat-tab label="Company Background" appearance="outline">
                            <br /> Company Background
                            <mat-form-field class="full-width" appearance="outline">
                                <textarea matInput autocomplete="off" rows="8" #companyBackground="ngModel"
                                    id="companyBackground" [disabled]="viewMode" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="jobDescData && jobDescData.details.companyOverview"></textarea>
                            </mat-form-field>

                            <mat-label>Practice Background</mat-label>
                            <mat-form-field class="full-width" appearance="outline">
                                <textarea matInput autocomplete="off" rows="8" id="practiceBackground"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="jobDescData && jobDescData.details.practiceOverview"
                                    [disabled]="viewMode"></textarea>
                            </mat-form-field>
                        </mat-tab>

                        <mat-tab label="Job Description">
                            <br /> Job Description <span
                                [ngStyle]="(!(jobDescData && jobDescData.details.jobDesc))? {'color':'red'} : {'color': 'black'}">*</span>
                            <mat-form-field class="full-width" appearance="outline">
                                <textarea matInput autocomplete="off" rows="8" required #jobDesRef="ngModel"
                                    id="jobDescription" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="jobDescData && jobDescData.details.jobDesc" [disabled]="viewMode"
                                    required></textarea>
                            </mat-form-field>
                        </mat-tab>

                        <mat-tab label="Position/Responsibilities">
                            <br /> Position/Responsibilities <span
                                [ngStyle]="(!(jobDescData && jobDescData.details.responsibilities))? {'color':'red'} : {'color': 'black'}">*</span>
                            <mat-form-field class="full-width" appearance="outline">
                                <textarea matInput autocomplete="off" rows="8" required
                                    #positionResponsibility="ngModel" id="positionResponsibility"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="jobDescData && jobDescData.details.responsibilities"
                                    [disabled]="viewMode"></textarea>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Skills" appearance="outline">
                            <br /> <h4>Design Skills</h4>
                            <div class="full-width" appearance="fill">
                                <tag-input secondaryPlaceholder="Enter a new Skill" placeholder="Add a new skill"
                                [(ngModel)]=" jobDescData && jobDescData.details.skills && jobDescData.details.skills.uxDesignSkills"
                                [ngModelOptions]="{standalone: true}" [addOnBlur]="true" [disable]="viewMode"></tag-input>
                            </div>
                            <br /><h4>Technical Skills</h4>
                            <div class="full-width" appearance="fill">
                                <tag-input secondaryPlaceholder="Enter a new Skill" placeholder="Add a new skill"
                                [(ngModel)]=" jobDescData && jobDescData.details.skills && jobDescData.details.skills.technicalSkills"
                                [ngModelOptions]="{standalone: true}" [addOnBlur]="true" [disable]="viewMode"></tag-input>
                            </div>
                            <br /><h4>Certifications (If mandatory)</h4>
                            <div class="full-width" appearance="fill">
                                <tag-input secondaryPlaceholder="Enter a new Skill" placeholder="Add a new skill"
                                [(ngModel)]="jobDescData && jobDescData.details.skills && jobDescData.details.skills.certifications"
                                [ngModelOptions]="{standalone: true}" [addOnBlur]="true" [disable]="viewMode"></tag-input>
                            </div>

                            <mat-label>Other Skills</mat-label>
                            <mat-form-field class="full-width" appearance="outline">
                                <textarea matInput autocomplete="off" rows="8" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="jobDescData && jobDescData.details.skills && jobDescData.details.skills.others"
                                    [disabled]="viewMode"></textarea>
                            </mat-form-field>
                        </mat-tab>

                        <mat-tab label="Education" appearance="outline">
                            <br /> Education
                            <mat-form-field class="full-width" appearance="outline">
                                <textarea matInput autocomplete="off" rows="8" id="education"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="jobDescData && jobDescData.details.education"
                                    [disabled]="viewMode"></textarea>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="Initial Screening Questions" appearance="outline">
                            <br /> Initial Screening Questions
                            <mat-form-field class="full-width" appearance="outline">
                                <textarea matInput autocomplete="off" rows="8" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="jobDescData && jobDescData.details.screeningQuestions"
                                    [disabled]="viewMode"></textarea>
                            </mat-form-field>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div align="end">
                <button mat-raised-button (click)="showJobDescList()">Close</button>&nbsp;&nbsp;
                <button mat-raised-button type="button" *ngIf="indexData != 5" #jobDescriptionNext class="job-description-next-button"
                    (click)="next()">Next</button>
                <button mat-raised-button *ngIf="editMode && !viewMode && indexData == 5"
                    [hidden]="commonService.hideFeature('UPDATE_JOB_DESCRIPTION')" class="job-description-finish-button"
                    (click)="finishJobDescription()">Update</button>&nbsp;&nbsp;
                <button mat-raised-button *ngIf="!editMode && !viewMode && indexData == 5" #jobDescriptionFinish
                    hidden=true class="job-description-finish-button"
                    (click)="finishJobDescription()">Save</button>&nbsp;&nbsp;
            </div>
            <br/>
        </div>
    </form>
</div>
