<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Open Positions</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h5>OPEN POSITIONS | TOTAL</h5>
        </div>
    </div>
    <!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        item 1
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                    excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
                    veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        item 2
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                    excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
                    veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?</p>
            </mat-expansion-panel>
        </mat-accordion> -->
    <div class="row" fxLayout fxLayout.xs="column">
        <cdk-accordion class="example-accordion">
            <cdk-accordion-item *ngFor="let item of lstGrid; let index = index;" #accordionItem="cdkAccordionItem"
                class="example-accordion-item" [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                <div class="example-accordion-item-header" (click)="accordionItem.toggle()"
                    [ngStyle]="(accordionItem.expanded)? {'background-color': '#eee'} : {'background-color': 'white'} ">
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="100">
                        <div fxFlex.lg="30" fxFlex.xs="100"><span class="need-text"><span
                                    class="need-heading"><b>Client:</b></span>
                                {{item.clientName}}</span></div>
                        <div fxFlex.lg="30" fxFlex.xs="100"><span class="need-text"><span
                                    class="need-heading"><b>Department:</b></span> {{item.departmentName}}</span></div>
                        <div fxFlex.lg="30" fxFlex.xs="100"><span class="need-text"><span
                                    class="need-heading"><b>Priority:</b></span> {{item.priorityDisplayName}}</span>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100"><span class="need-text"><span
                                    class="need-heading"><b>Type:</b></span>
                                {{item.typeDisplayName}}</span></div>
                        <div fxFlex.lg="60" fxFlex.xs="100"><span class="need-text"><span
                                    class="need-heading"><b>Purpose:</b></span> {{item.purpose}}</span></div>
                    </div>
                    <span class="example-accordion-item-description">
                        {{ accordionItem.expanded ? '' : '' }}
                    </span>
                </div>
                <div class="example-accordion-item-body" role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index">
                    <div class="reqNeed" *ngFor="let item of requestNeed.needs">
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="100">
                            <div fxFlex.lg="24" fxFlex.xs="100"><b>Purpose:</b>
                                {{item.purpose}}</div>
                            <div fxFlex.lg="24" fxFlex.xs="100"><b>Competency:</b>
                                {{item.competencyName}}</div>
                            <div fxFlex.lg="24" fxFlex.xs="100"><b>Practice:</b>
                                {{item.practiceName}}</div>
                            <div fxFlex.lg="24" fxFlex.xs="100"><b>Minimum Exp:</b>
                                {{item.minimumExperienceInYears}}</div>
                        </div>
                    </div>
                </div>
            </cdk-accordion-item>
        </cdk-accordion>
    </div>
</div>