.example-accordion {
  display: block;
  display: absolute;
  width: 100%;
}

.example-accordion-item {
  display: block;
  border: solid 2px #ccc;
  margin: 15px;
}

// .example-accordion-item + .example-accordion-item {
//   border-top: none;
// }

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 25px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
