<div class="body-content">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex.lg="18" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Leave Type</mat-label>
                <mat-select [(ngModel)]="type">
                    <mat-option value="">All</mat-option>
                    <mat-option *ngFor="let item of typesLst" [value]="item.id">{{item.leaveDescription}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="18" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="status">
                    <mat-option value="">All</mat-option>
                    <mat-option *ngFor="let item of statusLst" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="18" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker" autocomplete="off" [(ngModel)]="fromDate"
                    (click)="picker.open()" (keydown)="false" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex.lg="18" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" autocomplete="off" [(ngModel)]="toDate"
                    (click)="picker1.open()" (keydown)="false" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex.lg="18" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Work Location</mat-label>
                <mat-select [(ngModel)]="location">
                    <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="10" fxFlex.xs="100">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div class="row" fxLayout fxLayout.xs="column" *ngIf="showData">
        <div fxFlex="50" align="start">
            <h3>Leave Status Report</h3>
        </div>
    </div>
    <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0) && showData">
        <div fxFlex="50" align="start" fxLayoutGap="3px">
            <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
            <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" *ngIf="showData">
        <div fxFlex="100">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z4 rtable">
                <ng-container matColumnDef="sl.no">
                    <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="empId">
                    <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                </ng-container>

                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="doj">
                    <th mat-header-cell *matHeaderCellDef> DOJ </th>
                    <td mat-cell *matCellDef="let element"> {{element.doj | date:'dd-MMM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.leaveType}} </td>
                </ng-container>

                <ng-container matColumnDef="fmDt">
                    <th mat-header-cell *matHeaderCellDef> From Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromDate | date:'dd-MMM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="toDt">
                    <th mat-header-cell *matHeaderCellDef> To Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.toDate | date:'dd-MMM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="days">
                    <th mat-header-cell *matHeaderCellDef> Days </th>
                    <td mat-cell *matCellDef="let element"> {{element.days}} </td>
                </ng-container>

                <ng-container matColumnDef="sts">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="appliedTo">
                    <th mat-header-cell *matHeaderCellDef> Applied To </th>
                    <td mat-cell *matCellDef="let element"> {{element.appliedTo}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="10" align="center">No data</td>
                </tr>
            </table>
            <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
        </div>
    </div>
    <!-- <div fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="10px">
        <div fxLayout.gt-md="row" fxLayout.lt-sm="column"  fxLayoutGap="10px" fxFlex="100"  fxFlex.gt-md="50">
          <div fxFlex.lt-md="30" fxFlex.lt-sm="100" >
            <mat-form-field class="max-width">
                <mat-label>Leave Type</mat-label>
                <mat-select [(ngModel)]="type">
                    <mat-option *ngFor="let item of locationLst" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex.lt-md="30" fxFlex.lt-sm="100" >
            <mat-form-field class="max-width">
                <mat-label>Leave Type</mat-label>
                <mat-select [(ngModel)]="type">
                    <mat-option *ngFor="let item of locationLst" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex.lt-md="30" fxFlex.lt-sm="100" > <mat-form-field class="max-width">
            <mat-label>Leave Type</mat-label>
            <mat-select [(ngModel)]="type">
                <mat-option *ngFor="let item of locationLst" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field></div>
        </div>
        <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100"   fxFlex.gt-md="50">
          <div fxFlex.lt-md="30" fxFlex.lt-sm="100" >
            <mat-form-field class="max-width">
                <mat-label>Leave Type</mat-label>
                <mat-select [(ngModel)]="type">
                    <mat-option *ngFor="let item of locationLst" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex.lt-md="30" fxFlex.lt-sm="100" >
            <mat-form-field class="max-width">
                <mat-label>Leave Type</mat-label>
                <mat-select [(ngModel)]="type">
                    <mat-option *ngFor="let item of locationLst" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex.lt-md="30" fxFlex.lt-sm="100" > 
              <mat-form-field class="max-width">
            <mat-label>Leave Type</mat-label>
            <mat-select [(ngModel)]="type">
                <mat-option *ngFor="let item of locationLst" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
        </div>
      </div> -->
</div>