<div class="containerLayout" *ngIf="!showChild">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>All Hiring Requests</strong></h2>
        </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <input matInput autocomplete="off" placeholder="Search by Id" >
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select [(ngModel)]="filterData.department" (selectionChange)="loadPracticesByDepartment()">
                    <mat-option *ngFor="let dept of departmentOptions" [value]="dept.id">
                        {{dept.departmentName}}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Practice</mat-label>
                <mat-select  [(ngModel)]="filterData.practice">
                    <mat-option *ngFor="let practice of practiceOptions" [value]="practice.id">
                        {{practice.practiceName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Priority</mat-label>
                <mat-select [(ngModel)]="filterData.priority" >
                    <mat-option *ngFor="let priority of priorityOptions" [value]="priority.id">
                        {{priority.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="filterData.status">
                    <mat-option *ngFor="let status of statusOptions" [value]="status.id">
                        {{status.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100"></div>
        <div fxFlex="10">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary" (click)="loadGrid()">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>All Hiring Requests| Total</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid"  class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.uid}}</td>
                    </ng-container>

                    <ng-container matColumnDef="purpose">
                        <th mat-header-cell *matHeaderCellDef>Purpose</th>
                        <td mat-cell *matCellDef="let element">{{element.purpose}}</td>
                    </ng-container>

                    <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef>Department</th>
                        <td mat-cell *matCellDef="let element">{{element.departmentId}}</td>
                    </ng-container>

                    <ng-container matColumnDef="practice">
                        <th mat-header-cell *matHeaderCellDef>Practice</th>
                        <td mat-cell *matCellDef="let element">{{element.practiceId}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ct">
                        <th mat-header-cell *matHeaderCellDef>Competency</th>
                        <td mat-cell *matCellDef="let element">{{element.competencyId}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cn">
                        <th mat-header-cell *matHeaderCellDef>Client Name</th>
                        <td mat-cell *matCellDef="let element">{{element.clientId}}</td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef>Model</th>
                        <td mat-cell *matCellDef="let element">{{element.operatingModelId}}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">{{element.statusId}}</td>
                    </ng-container>

                    
                    <ng-container matColumnDef="ht">
                        <th mat-header-cell *matHeaderCellDef>Hiring Type</th>
                        <td mat-cell *matCellDef="let element">{{element.hiringType}}</td>
                    </ng-container>


                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef>Priority</th>
                        <td mat-cell *matCellDef="let element">{{element.priorityId}}</td>
                    </ng-container>


                    <ng-container matColumnDef="res">
                        <th mat-header-cell *matHeaderCellDef>Resources</th>
                        <td mat-cell *matCellDef="let element">{{element.resourcesCount}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cd">
                        <th mat-header-cell *matHeaderCellDef>Created Date</th>
                        <td mat-cell *matCellDef="let element">{{element.createdOn}}</td>
                    </ng-container>

                    <ng-container matColumnDef="rsdate">
                        <th mat-header-cell *matHeaderCellDef>Requistion Start Date</th>
                        <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
                    </ng-container>

                    
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row  (click)="onRowSelection(element)" *matRowDef="let element; columns: displayedColumns;"
                    [class.demo-row-is-clicked]="selection.isSelected(element)">
                    </tr> 
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination>
            </div>
        </div>
    </div>
    <br />
    <div align="end">
        <button mat-raised-button color="primary">Show Timeline</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="onViewRequest()">View Request</button>&nbsp;&nbsp;
    </div>
</div>
<div *ngIf="showChild">
    <app-create-hiring-request [selectedRow]="childData" [viewMode]="true" (messageEvent)="receiveMessage($event)"></app-create-hiring-request>
</div>