<div fxLayout="row" fxLayout.lt-lg="column" fxLayout.xs="column"  class="mat-elevation-z4 custom-pagination">
    <div fxFlex="55" fxFlex.lt-lg="100" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-md="start">
        <div class="custom-pageNumber" style="margin-left: 4px;">
            page number: </div>
        <mat-form-field floatLabel="never" style="width: 40px;">
            <input matInput type="text" [(ngModel)]="pageNumber"
                (keyup)="goToPage(pageNumber)">
        </mat-form-field>
        <div class="custom-pageNumber">of
            {{totalPages}} </div>
    </div>
    <div fxFlex="45" fxFlex.lt-lg="100">
        <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="onPaginationChange($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>