<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Job Descriptions</strong></h2>
        </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column">
       
        <div fxFlex.lg="25" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select [(ngModel)]="filterData && filterData.departmentId"
                    (selectionChange)="loadPracticesByDepartment()">
                    <mat-option value="">All</mat-option>
                    <mat-option *ngFor="let department of departmentOptions" [value]="department.id">
                        {{department.departmentName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex.lg="25" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Practice</mat-label>
                <mat-select [(ngModel)]="filterData && filterData.practiceId" (selectionChange)="filterChanged()">
                    <mat-option value="">All</mat-option>
                    <mat-option *ngFor="let practice of practiceOptions" [value]="practice.id">{{practice.practiceName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="25" fxFlex.xs="100">
            <mat-label>Deprecated</mat-label><br>
            <mat-radio-group aria-label="Depricated" [(ngModel)]="filterData.isDeprecated" (change)="filterChanged()">
                <mat-radio-button  [value]="true">Yes</mat-radio-button>&nbsp;
                <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>JOB DESCRIPTIONS | TOTAL {{length}}</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table class="mat-elevation-z4 rtable" [dataSource]="lstGrid">
                    <ng-container matColumnDef="dn">
                        <th mat-header-cell *matHeaderCellDef>Department Name</th>
                        <td mat-cell *matCellDef="let element">{{getDeptName(element.departmentId)}}</td>
                    </ng-container>


                    <ng-container matColumnDef="pn">
                        <th mat-header-cell *matHeaderCellDef>Practice Name</th>
                        <td mat-cell *matCellDef="let element">{{getPracName(element.departmentId, element.practiceId)}}</td>
                    </ng-container>

                    <ng-container matColumnDef="jdt">
                        <th mat-header-cell *matHeaderCellDef>Job Description Title</th>
                        <td mat-cell *matCellDef="let element">{{element.templateName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="onr">
                        <th mat-header-cell *matHeaderCellDef>Owner</th>
                        <td mat-cell *matCellDef="let element">{{element.createdBy}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="onRowSelection(element)" *matRowDef="let element; columns: displayedColumns;"
                        [class.demo-row-is-clicked]="selection.isSelected(element)">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div align="end">
        <button mat-raised-button color="primary" (click)="editJobDescription()" [disabled]="isDisable">Edit</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="viewJobDescription()">View </button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="navigateToJobDescriptionCreation()">Create </button>&nbsp;&nbsp;
    </div>
</div>
