<div class="body-content">
    <mat-tab-group dynamicHeight>
        <mat-tab label="All Active">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" align="start">
                            <h3>Client Billing</h3>
                        </div>
                    </div>
                    <div class="row" fxLayout fxLayout.xs="column">
                        <div fxFlex="30" align="start" style="padding-left: 2px;">
                            <div style="padding-top: 10px;" fxLayoutGap="3px">
                                <button mat-raised-button class="exp-buttons">PDF</button>
                                <button mat-raised-button class="exp-buttons">Excel</button>
                            </div>
                        </div>
                        <div fxFlex="40" align="start">
                            <div fxFlex="100" fxLayout fxLayout.xs="column" fxLayoutGap="3px">
                                <div fxFlex="20" align="start">
                                    <mat-form-field class="full-width">
                                        <mat-label>Column</mat-label>
                                        <mat-select>
                                            <mat-option>Select Column</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="50" align="start">
                                    <mat-form-field class="full-width" >
                                        <input matInput autocomplete="off" placeholder="Search">
                                        <mat-icon matSuffix class="material-icons-round">search</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div fxLayout="row" fxLayout.xs="column">
                        <div class="responsive-table" fxFlex="100">
                            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                                <ng-container matColumnDef="sl.no">
                                    <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                                    <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="cust">
                                    <th mat-header-cell *matHeaderCellDef> Customer </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pName">
                                    <th mat-header-cell *matHeaderCellDef> Project Name </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pManager">
                                    <th mat-header-cell *matHeaderCellDef> Project Manager </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="stage">
                                    <th mat-header-cell *matHeaderCellDef> Stage </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pStartDate">
                                    <th mat-header-cell *matHeaderCellDef> Planned Start Date </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pEndDate">
                                    <th mat-header-cell *matHeaderCellDef> Planned End Date </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="practice">
                                    <th mat-header-cell *matHeaderCellDef> Practice </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="eModel">
                                    <th mat-header-cell *matHeaderCellDef> Engagement Model </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="cCenter">
                                    <th mat-header-cell *matHeaderCellDef> Cost-Center </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="aEligibility">
                                    <th mat-header-cell *matHeaderCellDef> Audit Eligibility </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef>Type </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="billable">
                                    <th mat-header-cell *matHeaderCellDef>Billable </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="shadow">
                                    <th mat-header-cell *matHeaderCellDef>Shadow </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="investment">
                                    <th mat-header-cell *matHeaderCellDef>Investment </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="im">
                                    <th mat-header-cell *matHeaderCellDef>IM Project </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="rd">
                                    <th mat-header-cell *matHeaderCellDef>RD </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="total">
                                    <th mat-header-cell *matHeaderCellDef>Total </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="off">
                                    <th mat-header-cell *matHeaderCellDef>Offshore </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="on">
                                    <th mat-header-cell *matHeaderCellDef>Onsite </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="21" align="center">No data</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="onPaginationChange($event)">
                    </mat-paginator>
                
                    <br />
                    <div class="own-mat-table">
                        <div class="mat-header-row">
                            <div class="own-mat-header-cell" fxFlex="10"></div>
                            <div class="own-mat-header-cell" fxFlex="10">Billable</div>
                            <div class="own-mat-header-cell" fxFlex="10">Shadow</div>
                            <div class="own-mat-header-cell" fxFlex="10">Investment</div>
                            <div class="own-mat-header-cell" fxFlex="10">IM Project</div>
                            <div class="own-mat-header-cell" fxFlex="10">RD</div>
                            <div class="own-mat-header-cell" fxFlex="10">Total</div>
                        </div>
                        <div class="own-mat-row">
                            <p fxFlex="10">Total</p>
                            <p fxFlex="10">37.6</p>
                            <p fxFlex="10">1</p>
                            <p fxFlex="10">0.25</p>
                            <p fxFlex="10">10</p>
                            <p fxFlex="10">0</p>
                            <p fxFlex="10">48.85</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Pipeline">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                    <div class="row" fxLayout fxLayout.xs="column">
                        <div fxFlex="30" align="start" style="padding-left: 2px;">
                            <div style="padding-top: 10px;" fxLayoutGap="3px">
                                <button mat-raised-button class="exp-buttons">PDF</button>
                                <button mat-raised-button class="exp-buttons">Excel</button>
                            </div>
                        </div>
                        <div fxFlex="40" align="start">
                            <div fxFlex="100" fxLayout fxLayout.xs="column" fxLayoutGap="3px">
                                <div fxFlex="20" align="start">
                                    <mat-form-field class="full-width">
                                        <mat-label>Column</mat-label>
                                        <mat-select>
                                            <mat-option>Select Column</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="50" align="start">
                                    <mat-form-field class="full-width" >
                                        <input matInput autocomplete="off" placeholder="Search">
                                        <mat-icon matSuffix class="material-icons-round">search</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div fxLayout="row" fxLayout.xs="column">
                        <div class="responsive-table" fxFlex="100">
                            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                                <ng-container matColumnDef="sl.no">
                                    <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                                    <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="cust">
                                    <th mat-header-cell *matHeaderCellDef> Customer </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pName">
                                    <th mat-header-cell *matHeaderCellDef> Project Name </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pManager">
                                    <th mat-header-cell *matHeaderCellDef> Project Manager </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="stage">
                                    <th mat-header-cell *matHeaderCellDef> Stage </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pStartDate">
                                    <th mat-header-cell *matHeaderCellDef> Planned Start Date </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pEndDate">
                                    <th mat-header-cell *matHeaderCellDef> Planned End Date </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="practice">
                                    <th mat-header-cell *matHeaderCellDef> Practice </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="eModel">
                                    <th mat-header-cell *matHeaderCellDef> Engagement Model </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="cCenter">
                                    <th mat-header-cell *matHeaderCellDef> Cost-Center </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="aEligibility">
                                    <th mat-header-cell *matHeaderCellDef> Audit Eligibility </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef>Type </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="billable">
                                    <th mat-header-cell *matHeaderCellDef>Billable </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="shadow">
                                    <th mat-header-cell *matHeaderCellDef>Shadow </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="investment">
                                    <th mat-header-cell *matHeaderCellDef>Investment </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="im">
                                    <th mat-header-cell *matHeaderCellDef>IM Project </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="rd">
                                    <th mat-header-cell *matHeaderCellDef>RD </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="total">
                                    <th mat-header-cell *matHeaderCellDef>Total </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="off">
                                    <th mat-header-cell *matHeaderCellDef>Offshore </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="on">
                                    <th mat-header-cell *matHeaderCellDef>Onsite </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="21" align="center">No data</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="onPaginationChange($event)">
                    </mat-paginator>
                
                    <br />
                    <div class="own-mat-table">
                        <div class="mat-header-row">
                            <div class="own-mat-header-cell" fxFlex="10"></div>
                            <div class="own-mat-header-cell" fxFlex="10">Billable</div>
                            <div class="own-mat-header-cell" fxFlex="10">Shadow</div>
                            <div class="own-mat-header-cell" fxFlex="10">Investment</div>
                            <div class="own-mat-header-cell" fxFlex="10">IM Project</div>
                            <div class="own-mat-header-cell" fxFlex="10">RD</div>
                            <div class="own-mat-header-cell" fxFlex="10">Total</div>
                        </div>
                        <div class="own-mat-row">
                            <p fxFlex="10">Total</p>
                            <p fxFlex="10">37.6</p>
                            <p fxFlex="10">1</p>
                            <p fxFlex="10">0.25</p>
                            <p fxFlex="10">10</p>
                            <p fxFlex="10">0</p>
                            <p fxFlex="10">48.85</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Non-Active">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" align="start">
                            <h3>Client Billing</h3>
                        </div>
                    </div>
                    <div class="row" fxLayout fxLayout.xs="column">
                        <div fxFlex="30" align="start" style="padding-left: 2px;">
                            <div style="padding-top: 10px;" fxLayoutGap="3px">
                                <button mat-raised-button class="exp-buttons">PDF</button>
                                <button mat-raised-button class="exp-buttons">Excel</button>
                            </div>
                        </div>
                        <div fxFlex="40" align="start">
                            <div fxFlex="100" fxLayout fxLayout.xs="column" fxLayoutGap="3px">
                                <div fxFlex="20" align="start">
                                    <mat-form-field class="full-width">
                                        <mat-label>Column</mat-label>
                                        <mat-select>
                                            <mat-option>Select Column</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="50" align="start">
                                    <mat-form-field class="full-width" >
                                        <input matInput autocomplete="off" placeholder="Search">
                                        <mat-icon matSuffix class="material-icons-round">search</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div fxLayout="row" fxLayout.xs="column">
                        <div class="responsive-table" fxFlex="100">
                            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                                <ng-container matColumnDef="sl.no">
                                    <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                                    <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="cust">
                                    <th mat-header-cell *matHeaderCellDef> Customer </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pName">
                                    <th mat-header-cell *matHeaderCellDef> Project Name </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pManager">
                                    <th mat-header-cell *matHeaderCellDef> Project Manager </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="stage">
                                    <th mat-header-cell *matHeaderCellDef> Stage </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pStartDate">
                                    <th mat-header-cell *matHeaderCellDef> Planned Start Date </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="pEndDate">
                                    <th mat-header-cell *matHeaderCellDef> Planned End Date </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="practice">
                                    <th mat-header-cell *matHeaderCellDef> Practice </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="eModel">
                                    <th mat-header-cell *matHeaderCellDef> Engagement Model </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="cCenter">
                                    <th mat-header-cell *matHeaderCellDef> Cost-Center </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="aEligibility">
                                    <th mat-header-cell *matHeaderCellDef> Audit Eligibility </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef>Type </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="billable">
                                    <th mat-header-cell *matHeaderCellDef>Billable </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="shadow">
                                    <th mat-header-cell *matHeaderCellDef>Shadow </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="investment">
                                    <th mat-header-cell *matHeaderCellDef>Investment </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="im">
                                    <th mat-header-cell *matHeaderCellDef>IM Project </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="rd">
                                    <th mat-header-cell *matHeaderCellDef>RD </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="total">
                                    <th mat-header-cell *matHeaderCellDef>Total </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="off">
                                    <th mat-header-cell *matHeaderCellDef>Offshore </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <ng-container matColumnDef="on">
                                    <th mat-header-cell *matHeaderCellDef>Onsite </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>
                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="21" align="center">No data</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="onPaginationChange($event)">
                    </mat-paginator>
                
                    <br />
                    <div class="own-mat-table">
                        <div class="mat-header-row">
                            <div class="own-mat-header-cell" fxFlex="10"></div>
                            <div class="own-mat-header-cell" fxFlex="10">Billable</div>
                            <div class="own-mat-header-cell" fxFlex="10">Shadow</div>
                            <div class="own-mat-header-cell" fxFlex="10">Investment</div>
                            <div class="own-mat-header-cell" fxFlex="10">IM Project</div>
                            <div class="own-mat-header-cell" fxFlex="10">RD</div>
                            <div class="own-mat-header-cell" fxFlex="10">Total</div>
                        </div>
                        <div class="own-mat-row">
                            <p fxFlex="10">Total</p>
                            <p fxFlex="10">37.6</p>
                            <p fxFlex="10">1</p>
                            <p fxFlex="10">0.25</p>
                            <p fxFlex="10">10</p>
                            <p fxFlex="10">0</p>
                            <p fxFlex="10">48.85</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
