.multi-select-dialog {
    .ui-diaolg {
        cursor: auto;
    }
    .ui-dialog .ui-dialog-content {
        height: 355px !important;
        overflow-y: hidden;
        margin: 0px 15px!important;
    }
    .form-control {
        margin: 0 0 1em 0;
        float: none;
    }
    .ui-dialog-buttonpane {
        margin: 27px!important;
        border: none!important;
    }
    .panel-btns button {
        border: 1px solid #2399e5;
        color: #FFFFFF;
        background: #2399e5 !important;
        height: 32px;
    }
    .dialog-list {
        padding-left: 1em !important;
        label {
            cursor: pointer;
        }
        input {
            cursor: pointer;
        }
        .checkbox-inline {
            cursor: auto;
        }
    }
}



// **************************
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 30px !important;
}