<!-- <form #dialog="ngForm" autocomplete="off">
    <p-dialog class="multi-select-dialog" header={{title}} [(visible)]="display" (onShow)="search=undefined;" (onHide)="reset();" [modal]="true" width="400">
        <input type="text" class="form-control" name="search" placeholder="Search by {{searchTitle}}" [(ngModel)]="search"  />
        <nav>
            <ul class="dialog-list">
                <li *ngIf="(items | searchFilter:search)?.length === 0">
                    <div class="checkbox-inline col-md-12">
                        <label class="col-md-11 multi-select-data"><span  style="padding-left:1em;">No Matches Found</span></label>
                    </div>
                </li>
                <li *ngFor="let item of items | searchFilter:search" class="row">
                    <div class="checkbox-inline col-md-12">
                        <label class="col-md-11 multi-select-data"><input class="col-md-1" id={{item.id}} [(ngModel)]="item.checked" type="checkbox" name={{item.name}} (click)="itemSelected()" [ngModelOptions]="{standalone: true}"><span style="padding-left:1em;">{{item.name}}</span></label>
                    </div>
                </li>
            </ul>
        </nav>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix panel-btns">
                <button  type="button" pButton icon="fa-close" (click)="display=false;search=undefined;reset()" label="Cancel"></button>
                <button type="button" pButton icon="fa-check" (click)="addSelection(dialog.value)" [disabled]="disable" label="Add"></button>
            </div>
        </footer>
    </p-dialog>
</form>
<span class="glyphicon glyphicon-plus" style="cursor:pointer;" (click)="showDialog()"></span> -->


<h2 mat-dialog-title align="center">{{title}}</h2>
<mat-dialog-content>
<mat-form-field class="full-width" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="search" autocomplete="off"  placeholder="Search by {{searchTitle}}"/>
</mat-form-field>

    <div class="full-width">
        <mat-selection-list (selectionChange)="selectionChanged($event)">
            <mat-list-option checkboxPosition="before" [selected]="checkSelected(item.id)" *ngFor="let item of items | searchFilter:search" [value]="item.id">
                {{item.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="primary" cdkFocusInitial (click)="onAdd()">Add</button>
    <button mat-button mat-dialog-close color="danger">Cancel</button>
</mat-dialog-actions>