<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="30" align="start">
            <h2><strong>{{pageTitle}}</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row" fxLayout fxLayout.lt-md="column">
        <div fxFlex="30" align="start" style="padding-left: 2px;">
            <div style="padding-top: 10px;" fxLayoutGap="3px">
                <!-- <button mat-raised-button class="exp-buttons">PDF</button>
                <button mat-raised-button class="exp-buttons">Excel</button> -->
            </div>
        </div>
        <div fxFlex="40" align="start">
            <div fxFlex="100" fxLayout fxLayout.xs="column" fxLayoutGap="3px">
                <div fxFlex="20" align="start">
                    <mat-form-field class="full-width">
                        <mat-label>Column</mat-label>
                        <mat-select  [(ngModel)]="columnName">
                            <mat-option>Select Column</mat-option>
                            <mat-option value="employeeName">Emp Name</mat-option>
                            <mat-option value="employeeCode">Emp Id</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50" align="start">
                    <mat-form-field class="full-width" >
                        <input matInput autocomplete="off" placeholder="Search"  [(ngModel)]="searchField">
                        <mat-icon matSuffix class="material-icons-round" (click)="onSearch()">search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="30" align="end" style="padding-bottom: 3px; padding-left: 2px;">
            <div style="padding-top: 10px;" fxLayoutGap="3px">
                <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
                <button mat-raised-button color="primary" (click)="onDelete()">Delete</button>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
        <div class="responsive-table" fxFlex="100">
            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Select All">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="sl.no">
                    <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Employee Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
                </ng-container>
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                </ng-container>

                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef> Roles </th>
                    <td mat-cell *matCellDef="let element" [matTooltip]="getRoles(element.rolesList)"> 
                        <div class="fixed_col_ellipses">
                            {{getRoles(element.rolesList)}}
                        </div>
                     </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Edit" (click)="onEdit(element)">edit</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="8" align="center">No data</td>
                </tr>
            </table>
            <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
        </div>
    </div>
</div>

<ng-template #modalTemplate>
    <h2 mat-dialog-title align="center">{{f.id.value == 0 ? 'Add ' : 'Update '}} {{pageTitle}}</h2>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="inputForm" class="form" style="font-size: 14px;">
        <mat-dialog-content>
            <mat-form-field class="full-width">
                <mat-label>User</mat-label>
                <input type="text" matInput formControlName="employeeCode" [matAutocomplete]="auto"
                    (ngModelChange)="search($event)" placeholder="Search By Name or Code">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)"
                    [displayWith]="getOptionText">
                    <mat-option *ngFor="let item of searchLst" [value]="item">
                        {{item.fullName}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.employeeCode.hasError('required') || !selectedEmp">User is <strong>required</strong>
                </mat-error>
                <mat-hint *ngIf="selectedEmp">Employee Code : {{ selectedEmp}}</mat-hint>
            </mat-form-field>

            <div class="full-width">
                <mat-label>Roles *</mat-label>
                <mat-selection-list formControlName="roles">
                    <mat-list-option checkboxPosition="before" *ngFor="let item of rolesLst" [value]="item.id">
                        {{item.name}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close color="danger">Cancel</button>
            <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>Submit</button>
        </mat-dialog-actions>
    </form>
</ng-template>