<!-- <div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Personal</strong></h2>
        </div>
    </div>
  
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
       
        <div fxFlex.lg="40" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Hiring Request</mat-label>
                 <mat-select name="hiringrequest" class="form-control"  [(ngModel)]="newProfileData && newProfileData.hiringRequestId" (change)="loadNeedsByHiringId()">
                    <mat-option *ngFor="let hiringRequest of hiringRequestOptions" [value]="hiringRequest.id">{{hiringRequest.purpose}}</mat-option>
                </mat-select> 
            </mat-form-field>
        </div>
        <div fxFlex.lg="40" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Hiring Need</mat-label>
                <mat-select >
                    <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      
    </div>

    <div>
      
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex.lg="100" fxFlex.xs="100">
            <mat-tab-group>
                <mat-tab label="Personal Info" appearance="outline" required> 
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput required autocomplete="off" placeholder="First Name" name="firstName"
                                maxlength="100" [(ngModel)]="personalDetailsFrmProspectData.firstName" #firstNameRef="ngModel"
                                [readOnly]="viewMode" pattern=".*\S+.*" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Middle Name</mat-label>
                                <input matInput required autocomplete="off" placeholder="Middle Name" name="middleName"
                                maxlength="100" [(ngModel)]="personalDetailsFrmProspectData.middleName" #middleNameRef="ngModel"
                                [readOnly]="viewMode" pattern=".*\S+.*" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput required autocomplete="off" placeholder="Last Name" name="lastName"
                                maxlength="100" [(ngModel)]="personalDetailsFrmProspectData.lastName" #lastNameRef="ngModel"
                                [readOnly]="viewMode" pattern=".*\S+.*" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Personal EmailID</mat-label>
                                <input matInput required autocomplete="off" placeholder="Personal EmailID" maxlength="64"
                                [(ngModel)]="personalDetailsFrmProspectData.email" name="personalEmailID" #personalEmailIDRef="ngModel"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [readOnly]="viewMode"
                                (blur)="checkEmail($any($event.target).value)" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput required autocomplete="off" placeholder="Mobile No." name="mobileNumber"
                                class="form-control inputText" id="mobileNumber" required minlength="10" maxlength="15"
                                (keypress)="restrictMobilenumber($event)"  [readOnly]="viewMode"
                                (blur)="checkMobile($any($event.target).value)">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Date</mat-label>
                                <input matInput required [matDatepicker]="picker3" autocomplete="off" (click)="picker3.open()"
                                    (keydown)="false">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Nationality</mat-label>
                                <input matInput required autocomplete="off" placeholder="Nationality" required maxlength="32"
                                [(ngModel)]="personalDetailsFrmProspectData.nationality" name="nationality"
                                #nationalityRef="ngModel" [readOnly]="viewMode" (keypress)="restrictLetters($event)" >
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter Aadhar</mat-label>
                                <input matInput  autocomplete="off" placeholder="Enter Aadhar" minlength="12" maxlength="12"
                                (keypress)="restrictNumeric($event)" [(ngModel)]="personalDetailsFrmProspectData.citizenIdentity1"
                                name="citizenIdentity1" [readOnly]="viewMode" #aadharRef="ngModel" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter PAN</mat-label>
                                <input matInput  autocomplete="off" placeholder="Enter PAN" maxlength="10" minlength="10"
                                [(ngModel)]="personalDetailsFrmProspectData.citizenIdentity2" name="citizenIdentity2"
                                [readOnly]="viewMode" #panRef="ngModel" (blur)="checkCitizenIdentity($any($event.target).value)"
                                 />
                            </mat-form-field>
                        </div>
                        <label>Current Address &nbsp;&nbsp;&nbsp;<mat-checkbox class="example-margin">Check me!</mat-checkbox></label>
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House No./Plot No.</mat-label>
                                <input matInput  autocomplete="off" placeholder="House No./Plot No."maxlength="100" class="form-control inputText"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.address1" name="currentPlotNumber"
                                #currentPlotNumberRef="ngModel" [readOnly]="viewMode" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House Name & Street</mat-label>
                                <input matInput  autocomplete="off" placeholder="House Name & Street" [(ngModel)]="personalDetailsFrmProspectData.currentAddress.address2" name="currentStreetName"
                                #currentStreetNameRef="ngModel" maxlength="100" [readOnly]="viewMode" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Country</mat-label>
                                <input matInput required autocomplete="off" placeholder="Country" name="currentCountry" class="form-control" #currentCountryRef="ngModel"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.country" [disabled]="viewMode"
                                (change)="getState($any($event.target).value);onCountryChange('present')">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput required autocomplete="off" placeholder="State" name="currentState" class="form-control inputText" required [(ngModel)]="personalDetailsFrmProspectData.currentAddress.state"
                                name="currentState" #currentStateRef="ngModel" [readOnly]="viewMode"
                                (change)="getCity($any($event.target).value);onStateChange('present')">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput required autocomplete="off" placeholder="City" name="currentCity" class="form-control inputText" required [(ngModel)]="personalDetailsFrmProspectData.currentAddress.city"
                                name="currentCity" #currentCityRef="ngModel" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Pin Code</mat-label>
                                <input matInput required autocomplete="off" placeholder="Pin Code" name="currentPincode" class="form-control inputText" required [(ngModel)]="personalDetailsFrmProspectData.currentAddress.pincode"
                                name="currentPincode" maxlength="16" #currentPincodeRef="ngModel" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <label>Permanent Address</label>
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House No./Plot No.</mat-label>
                                <input matInput  autocomplete="off" placeholder="House No./Plot No."maxlength="100" class="form-control inputText"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.address1" name="currentPlotNumber"
                                #currentPlotNumberRef="ngModel" [readOnly]="viewMode" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House Name & Street</mat-label>
                                <input matInput  autocomplete="off" placeholder="House Name & Street" [(ngModel)]="personalDetailsFrmProspectData.currentAddress.address2" name="currentStreetName"
                                #currentStreetNameRef="ngModel" maxlength="100" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Country</mat-label>
                                <input matInput required autocomplete="off" placeholder="Country" name="currentCountry" class="form-control" #currentCountryRef="ngModel"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.country" [disabled]="viewMode"
                                (change)="getState($any($event.target).value);onCountryChange('present')">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput required autocomplete="off" placeholder="State" name="currentState" class="form-control inputText" required [(ngModel)]="personalDetailsFrmProspectData.currentAddress.state"
                                name="currentState" #currentStateRef="ngModel" [readOnly]="viewMode"
                                (change)="getState($any($event.target).value);onCityChange('present')">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput required autocomplete="off" placeholder="City" name="currentCity" class="form-control inputText" required [(ngModel)]="personalDetailsFrmProspectData.currentAddress.city"
                                name="currentCity" #currentCityRef="ngModel" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Pin Code</mat-label>
                                <input matInput required autocomplete="off" placeholder="Pin Code" name="currentPincode" class="form-control inputText" required [(ngModel)]="personalDetailsFrmProspectData.currentAddress.pincode"
                                name="currentPincode" maxlength="16" #currentPincodeRef="ngModel" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                    </div>   
                    </div>   
                    </div>
                </mat-tab>
                      
                <mat-tab label="Professional Info " appearance="outline" required> 
                    <div fxFlex.lg="30" fxFlex.xs="100">        
                        <mat-label>Working Status</mat-label><br>
                        <mat-radio-group aria-label="Depricated">
                            <mat-radio-button value="1">Active</mat-radio-button>&nbsp;
                            <mat-radio-button value="2">Inactive</mat-radio-button>
                        </mat-radio-group> 
                    </div> 
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Current Employer</mat-label>
                                <input matInput required autocomplete="off" placeholder="Current Employer" [(ngModel)]=" personalDetailsFrmProspectData.currentEmployer"
                                value="Infosys Private Ltd,Banglore" #currentEmployerRef="ngModel" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Current Work Location</mat-label>
                                <input matInput required autocomplete="off" placeholder="Current Work Location"  [(ngModel)]="personalDetailsFrmProspectData.currentWorkLocation" #currentWorkLocationRef="ngModel"
                                [readOnly]="viewMode" required>
                            </mat-form-field>
                        </div> 
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Notice Period</mat-label>
                                <mat-select [(ngModel)]="personalDetailsFrmProspectData.noticePeriod" [disabled]="viewMode">
                                     <mat-option *ngFor="let noticePeriod of comboData.noticeperiod" value= {{noticePeriod.code}}>{{noticePeriod.description}}</mat-option> 
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Current CTC</mat-label>
                                <input matInput required autocomplete="off" placeholder="Current CTC" [(ngModel)]="personalDetailsFrmProspectData.currentCTC" #currentCTCRef="ngModel"
                                [readOnly]="viewMode" required>
                            </mat-form-field>
                        </div> 
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Expected CTC</mat-label>
                                <input matInput required autocomplete="off" placeholder="Expected CTC" [(ngModel)]="personalDetailsFrmProspectData.expectedCTC" #expectedCTCRef="ngModel"
                                [readOnly]="viewMode" required>
                            </mat-form-field>
                        </div> 
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Total Experience (In years)</mat-label>
                                <input matInput required autocomplete="off" placeholder="Total Experience (In years)" name="totalExperienceInYears" min="0" max="100"
                                #totalExp="ngModel" [(ngModel)]="personalDetailsFrmProspectData.totalExperienceInYears"
                                [readOnly]="viewMode" required
                                (keypress)="restrictFloatnumber($event) && validateExperience(totalExp.value)"
                                (change)="totalExpirenece(personalDetailsFrmProspectData.totalExperienceInYears,personalDetailsFrmProspectData.relevantExperienceInYears)" >
                            </mat-form-field>
                        </div> 
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Relevent Experience (In years)</mat-label>
                                <input matInput required autocomplete="off"
                                placeholder="Relevent Experience (In years) " name="relevantExperienceInYears" #relExp="ngModel" min="0"
                                max="100" [(ngModel)]="personalDetailsFrmProspectData.relevantExperienceInYears"
                                [readOnly]="viewMode" required
                                (keypress)="restrictFloatnumber($event) && validateExperience(relExp.value)"
                                (change)="releventExpirence(personalDetailsFrmProspectData.totalExperienceInYears,personalDetailsFrmProspectData.relevantExperienceInYears)" >
                            </mat-form-field>
                        </div> 
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Category</mat-label>
                                <mat-select  [(ngModel)]="personalDetailsFrmProspectData.category" [disabled]="viewMode">
                                    
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Employment Type</mat-label>
                                <mat-select  [(ngModel)]="personalDetailsFrmProspectData.employmentType" [disabled]="viewMode">
                                    <mat-option *ngFor="let employementType of comboData.employmentType" value= {{employementType.code}}>{{employementType.description}}</mat-option> 
                               </mat-select>
                            </mat-form-field>
                        </div>
                    
                    
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Document Type</mat-label>
                                <mat-select [(ngModel)]="personalDetailsFrmProspectData.documentType" [disabled]="true">
                                    <mat-option *ngFor="let documentType of comboData.documentType" value= {{documentType.code}}>{{documentType.description}}</mat-option> 
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Prospect Source</mat-label>
                                <mat-select name="prospectsource" class="form-control" [(ngModel)]="personalDetailsFrmProspectData.source"
                                [disabled]="viewMode" (change)="propsectSourceChange()">
                                    <mat-option *ngFor="let prospectSource of comboData && comboData.prospectSource"[value]="prospectSource.code">{{prospectSource.description}}</mat-option> 
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100"></div>
                    </div>
                    </mat-tab>
                <mat-tab label="Skillset" appearance="outline" required>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline" required>
                            <mat-label>Skill Category</mat-label>
                            <mat-select>
                                <mat-option>1</mat-option>
                                
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button>Add Category</button>
                    </div>
                    
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div align="end">
        <button mat-raised-button>Close</button>&nbsp;&nbsp;
        <button mat-raised-button>Confirm & Continue</button>
    </div>
    </div>
</div>




 -->
