<div class="containerLayout">
    <mat-card class="mat-elevation-z3">
        <mat-card-header>
            <!-- <mat-card-title>Offers / Offer Letter Details</mat-card-title> -->
            <mat-card-title>OFFER LETTER DETAILS</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput autocomplete="off" placeholder="Name" name="firstName" maxlength="100" [(ngModel)]="comboData.firstName">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput autocomplete="off" placeholder="Total Years Of Experience" name="totalexperience" [(ngModel)]="comboData.relevantExperience">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput autocomplete="off" placeholder="Relevent Experience" name="relevantexperience" [(ngModel)]="comboData.relevantExperience">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput autocomplete="off" placeholder="Category">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Offered Designation</mat-label>
                        <mat-select name="offeredDesignation" [(ngModel)]="offerDetails.offeredDesignationId" required>
                            <mat-option value="">Select</mat-option>
                            <mat-option *ngFor="let desig of comboData.designation" [value]="desig.id">{{desig.designation}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Designation Suffix</mat-label>
                        <input matInput autocomplete="off" placeholder="Designation Suffix" required title="{{desigSuffix}}" [(ngModel)]="desigSuffix">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput required autocomplete="off" placeholder="Offered CTC">
                    </mat-form-field>
                </div>

                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Work Location*</mat-label>
                        <mat-select name="workLocation" [(ngModel)]="offerDetails.workLocationId" required>
                            <mat-option value="">Select</mat-option>
                            <mat-option *ngFor="let location of comboData.workLocation" [value]="location.id">{{location.clientName}}</mat-option> 
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Date Of Joining</mat-label>
                        <input matInput [matDatepicker]="picker2" autocomplete="off" (click)="picker2.open()"
                            (keydown)="false" [(ngModel)]="offerDetails.expectedJoiningDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput required autocomplete="off" placeholder="Reporting Time" name="reportingTime" [(ngModel)]="offerDetails.reportingTime" showTime="true" hourFormat="12" (onSelect)="getTime($event)" required>
                    </mat-form-field>
                </div>

                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput required autocomplete="off" placeholder="Reporting Location"  maxlength="128" [(ngModel)]="offerDetails.location" #reportinglocation="ngModel" required>
                    </mat-form-field>
                </div>

                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Offer Expiry Date</mat-label>
                        <input matInput required [matDatepicker]="picker3" autocomplete="off" (click)="picker3.open()"
                            (keydown)="false" [(ngModel)]="offerDetails.expiryDate">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex.lg="22" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <input matInput required autocomplete="off" placeholder="Expiry Grace Period (In Days)"  min="0" [(ngModel)]="offerDetails.expiryGracePeriod" (change)="checkExpiryDate()" #graceperiod="ngModel" required>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex.lg="100" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Additional Details</mat-label>
                        <textarea matInput autocomplete="off" rows="8"></textarea>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>HR Signature</mat-label>
                        <textarea matInput required autocomplete="off" rows="8" maxlength="128" [(ngModel)]="offerDetails.signature" #hrsignature="ngModel" required></textarea>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Office Address</mat-label>
                        <textarea matInput required autocomplete="off" rows="8" [(ngModel)]="offerDetails.officeAddress" #officeaddress="ngModel" required></textarea>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="30" fxFlex.xs="100">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput autocomplete="off" rows="8" maxlength="250" [(ngModel)]="offerDetails.comments"></textarea>
                    </mat-form-field>
                </div>

            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button>Close</button>
            <button mat-raised-button>Update</button>
        </mat-card-actions>
    </mat-card>