
// body {
//     background: #f7f7f7;
//     font-family: avenirbook; 
//     font-size: 14px;
//     line-height: 1.42857;
//     color: #333;
// }
// .offerletter-details-text {
//     font-family: avenirbook;
//     font-size: 14px;
//     color: #575757;
//     letter-spacing: .2px;
//     text-align: left;
// }
// .row {
//     margin-left: -15px;
//     margin-right: -15px;
// }
// :after, :before {
//     box-sizing: border-box;
// }
// div {
//     display: block;
// }

.max1-width{
    max-width: equal-width;
}
.max2-width{
    max-width: equal-width;
}
.full1-width{
    max-width: equal-width;
}
