<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Shortlisted Profiles</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <input matInput autocomplete="off" placeholder="Search by Name" [(ngModel)]="searchName" (keyup)="SearchByName()">
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Hiring Requests</mat-label>
                <mat-select  name="hiringrequest" [(ngModel)]="hiringRequestId" (change)="filterChanged()">
                    <mat-option *ngFor="let hiringRequest of hiringRequestOptions" [value]="hiringRequest.id">{{hiringRequest.purpose}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Notice Period</mat-label>
                <mat-select name="noticeperiod" [(ngModel)]="noticePeriod" #noticePeriodRef="ngModel" (change)="filterChanged()">
                    <mat-option *ngFor="let noticePeriod of noticePeriodOptions" [value]="noticePeriod.code">{{noticePeriod.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
   
        <div fxFlex="10">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Shortlisted Profiles | Total</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table class="mat-elevation-z4 rtable">
                    <!-- [dataSource]="lstGrid" -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.uid}}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">{{element.displayName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="resume">
                        <th mat-header-cell *matHeaderCellDef>Resume</th>
                        <td mat-cell *matCellDef="let element">Download</td>
                    </ng-container>

                    <ng-container matColumnDef="purpose">
                        <th mat-header-cell *matHeaderCellDef>Hiring Purpose</th>
                        <td mat-cell *matCellDef="let element">{{element.hiringPurpose}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cwl">
                        <th mat-header-cell *matHeaderCellDef>Current Work Location</th>
                        <td mat-cell *matCellDef="let element">{{element.currentWorkLocation}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ce">
                        <th mat-header-cell *matHeaderCellDef>Current Employer</th>
                        <td mat-cell *matCellDef="let element">{{element.currentEmployer}}</td>
                    </ng-container>

                    <ng-container matColumnDef="np">
                        <th mat-header-cell *matHeaderCellDef>Notice Period</th>
                        <td mat-cell *matCellDef="let element">{{element.noticePeriod}}</td>
                    </ng-container>

                    <ng-container matColumnDef="st">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">{{element.status}}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination> -->
            </div>
        </div>
    </div>
    
</div>
<div align="end">
    <button mat-raised-button color="primary">Open</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Show Timeline</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Schedule Interview</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Reject</button>
</div>


