mat-expansion-panel-header {
    height: 100% !important;
    padding: 15px;
  }

.viewDt {
  padding: 10px 10px 10px 30px;
}

// .mat-form-field {
//   font-size: 12px !important;
// }

// .mat-form-field-infix {
//   border: 0px !important;
// }
// .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
//   transform: none !important;
// }