<div class="containerLayout">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px"  id="targetTop">
        <div fxFlex="30">
            <button mat-button (click)="onBack()"><span class="material-icons">
                arrow_back
                </span>Back</button>
        </div>
        <div fxFlex="10">
            <button mat-mini-fab color="primary" (click)="onArrow('prev')">
                <mat-icon>arrow_left</mat-icon>
            </button>
        </div>
        <p fxFlex="20" class="viewDt">{{taskDate | date:'dd-MMM-yyyy'}}</p>
        <div fxFlex="10">
            <button mat-mini-fab color="primary" (click)="onArrow('next')">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
        <div fxFlex="30"></div>
    </div>
    <!-- <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Time Sheets</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider> -->
    <br />
    <div *ngIf="tasksLst?.length > 0">
        <div class="row">
            <mat-label fxFlex="50">Project</mat-label>
            <p align="start">Hours</p>
        </div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="i == 0" hideToggle *ngFor="let item of tasksLst; let i =index">
                <mat-expansion-panel-header>
                    <mat-panel-title fxFlex="50" align="start">
                        {{item.projetName}}
                    </mat-panel-title>
                    <mat-panel-description fxFlex="50" align="start">
                        {{item.totalHours}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div fxLayout="row" fxLayout.xs="column">
                    <div class="responsive-table" fxFlex="100">
                        <table mat-table [dataSource]="item.timesheetDtoList" class="mat-elevation-z4 rtable">
                            <ng-container matColumnDef="task">
                                <th mat-header-cell *matHeaderCellDef>Task</th>
                                <td mat-cell *matCellDef="let element;let i=index">{{element.taskName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="hours">
                                <th mat-header-cell *matHeaderCellDef>Hours</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field class="taskfield" appearance="outline">
                                    <input type="text" matInput autocomplete="off" maxlength="5"
                                        [(ngModel)]="element.hours" (keyup)="onHours(element.projectId)"
                                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode==46))"
                                        (change)="onHoursChange($any($event.target).value)" 
                                        [disabled]="checkStatus(element.projectId)"/>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="desc">
                                <th mat-header-cell *matHeaderCellDef>Description</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field class="taskfield" appearance="outline">
                                    <input type="text" matInput autocomplete="off" maxlength="200"
                                        [(ngModel)]="element.comments" [disabled]="checkStatus(element.projectId)"/>
                                    </mat-form-field>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                                class="example-element-row">
                            </tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="8" align="center">No data</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br/>
        <div class="row" align="center" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="onSave()">Save</button>
            <button mat-raised-button color="primary" (click)="onReset()">Reset</button>
        </div>
        <br />
    </div>
</div>