<div class="body-content">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start" fxLayoutGap="3px">
            <div *ngIf="(length && length > 0)">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
            </div>
        </div>
        <div fxFlex="50" align="end" fxLayoutGap="3px">
            <button mat-raised-button color="primary" (click)="downloadSample()">Download Sample CSV</button>
            <button mat-raised-button color="primary" (click)="openDialog()">Import Data</button>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100">
            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                <ng-container matColumnDef="sl.no">
                    <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="empId">
                    <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                </ng-container>

                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <ng-container matColumnDef="cf">
                    <th mat-header-cell *matHeaderCellDef> Carry Forwarded CL's </th>
                    <td mat-cell *matCellDef="let element"> {{element.carryForwarded}} </td>
                </ng-container>

                <ng-container matColumnDef="used">
                    <th mat-header-cell *matHeaderCellDef> Used CL's </th>
                    <td mat-cell *matCellDef="let element"> {{element.usedCasualLeaves}} </td>
                </ng-container>

                <ng-container matColumnDef="acl">
                    <th mat-header-cell *matHeaderCellDef> Available CL's </th>
                    <td mat-cell *matCellDef="let element"> {{element.availableCLBalance}} </td>
                </ng-container>

                <ng-container matColumnDef="ad">
                    <th mat-header-cell *matHeaderCellDef> Availed Dates </th>
                    <td mat-cell *matCellDef="let element"> {{element.availedDates}} </td>
                </ng-container>

                <ng-container matColumnDef="ecl">
                    <th mat-header-cell *matHeaderCellDef>Expired Leaves </th>
                    <td mat-cell *matCellDef="let element"> {{element.expiredCLs}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="8" align="center">No data</td>
                </tr>
            </table>
            <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
        </div>
    </div>
</div>

<ng-template #template>
    <h2 mat-dialog-title align="center">Import File</h2>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content>
        <mat-form-field style="width: 100%;">
            <mat-label>File</mat-label>
            <button mat-icon-button matPrefix (click)="f_input.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input type="text" readonly matInput [formControl]="display" (click)="f_input.click()" />
            <input type="file" hidden #f_input (change)="handleFileInputChange(f_input.files)" />
            <!-- multiple -->
            <mat-error>File is required</mat-error>
        </mat-form-field>
        <br />
        <br />
        <br />
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="danger">Cancel</button>
        <button mat-button color="primary" (click)="onImportData()" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
</ng-template>