<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>My Team Time Sheets</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <!-- <div class="row" fxLayout fxLayout.lt-md="column">
        <div fxFlex="50">
            <h3>{{this.viewDay | date: 'MMMM - yyyy'}}</h3>
        </div>
        <!-- <div fxFlex="50">
            <div fxLayout.lt-md="column" align="end" fxLayoutGap="10px">
                <button mat-raised-button color="primary" (click)="onArrow('prev')">
                    <mat-icon>arrow_left</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="onArrow('today')">Today</button>
                <button mat-raised-button color="primary" (click)="onArrow('next')">
                    <mat-icon>arrow_right</mat-icon>
                </button>
            </div>
        </div> 
    </div> -->
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="30">
           
        </div>
        <div fxFlex="10">
            <button mat-mini-fab color="primary" (click)="onArrow('prev')">
                <mat-icon>arrow_left</mat-icon>
            </button>
        </div>
        <p fxFlex="20" class="viewDt">{{viewDay | date:'MMMM-yyyy'}}</p>
        <div fxFlex="10">
            <button mat-mini-fab color="primary" (click)="onArrow('next')"
            [disabled]="checkNext()">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
        <div fxFlex="30"></div>
    </div>
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h3>Project Team / Organizational Tasks</h3>
        </div>
        <div fxFlex="50" align="end" fxLayoutGap="3px" style="padding-bottom: 3px;">
            <button mat-raised-button color="primary" (click)="onSave('approve')">Approve</button>
            <button mat-raised-button color="primary" (click)="onSave('reject')">Reject</button>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div class="responsive-table" fxFlex="100">
            <table mat-table [dataSource]="lstGrid" class="tstable mat-elevation-z8">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <div style="padding: 10px;" matTooltip="Select All">
                            <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="selectAll"
                                (change)="$event ? onSelectAll($event.checked) : null">
                            </mat-checkbox>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let row; let k=index">
                        <div style="padding: 20px;">
                            <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.checked"
                                (change)="$event ? onRowSelection(k, $event.checked) : null">
                            </mat-checkbox>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <div style="padding:10px">
                            <a title="View" href="javascript:void(0)" [routerLink]="['/home/ts/viewts']"
                                [queryParams]="{id: element.employeeCode,name:element.employeeName}" target="_blank"
                                style="text-decoration: none;">{{element.employeeName}}</a>
                        </div>
                        <div *ngIf="element.lasUpdated">
                            <p style="color: green; padding-left: 2px; padding-right: 2px; font-size: smaller;">Last Updated: {{element.lasUpdated}}</p>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Project">
                    <th mat-header-cell *matHeaderCellDef> Project </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <div style="padding:10px">
                            {{element.projectName}}
                        </div>
                    </td>
                </ng-container>

                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns;let i =index">
                    <th mat-header-cell *matHeaderCellDef>
                        <div>
                            {{column | date:'dd-MMM'}}
                        </div>
                        <div>
                            ({{ column | date:'EEE'}})
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element; let j =index"
                        [ngClass]="{'wknd': ((column | date:'EEE') == 'Sat' || (column | date:'EEE') == 'Sun')}">
                        <div *ngIf="checkFilled(element.lineInfoArray[i])">
                            <div *ngFor="let item of element.lineInfoArray[i]">
                                <div *ngIf="item">
                                    <div *ngIf="(item.type == 21 || item.type == 22 || item.type == 30)"
                                        style="padding:5px">
                                        <mat-card
                                            [ngClass]="{'leave': item?.type == 21,'approved': item?.type == 22, 'holiday': item?.type == 30}">
                                            <mat-checkbox *ngIf="item.type == 21" (click)="$event.stopPropagation()"
                                                [checked]="element.checked && item.checked" color="primary"
                                                (change)="$event ? onItemSelection(item.id, $event, 'lv') : null"
                                                [(ngModel)]="item.checked">
                                                <!-- [disabled]="element.checked ? null : true" -->
                                            </mat-checkbox>
                                            <span *ngIf="(item.type == 21 || item.type == 22)"> (Leave)</span>
                                            <span *ngIf="(item.type == 30)">{{item?.info}}</span>
                                        </mat-card>
                                    </div>
                                    <div *ngIf="(item.type == 11 || item.type == 12 || item.type == 13)"
                                        style="padding:5px">
                                        <mat-card
                                            [ngClass]="{'pending': item?.type == 11,'approved': item?.type == 12, rejected: item?.type == 13}"
                                            mat-ripple (click)="onView(element, item)"> {{item?.info}}
                                        </mat-card>
                                        <div style="padding-top: 10px;">
                                            <mat-card class="slctAll" *ngIf="item.type == 11">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                    [checked]="element.checked && item.checked" color="primary"
                                                    (change)="$event ? onItemSelection(item.id , $event, 'ts') : null"
                                                    [(ngModel)]="item.checked"
                                                    ></mat-checkbox> Pending
                                            </mat-card>
                                            <!-- [disabled]="element.checked ? null : true" -->
                                            <div *ngIf="(item.type == 12 || item.type == 13)"
                                                style="padding:5px; margin-left:40px">
                                                <span class="material-icons" style="cursor: pointer;"
                                                    matTooltip="Revert TimeSheet" (click)="onRevert(item.id)">
                                                    undo
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:10px" *ngIf="!checkFilled(element.lineInfoArray[i])">
                            <div *ngIf="(column | date:'EEE') != 'Sat' && (column | date:'EEE') != 'Sun'">
                                Not Filled
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row"></tr>
            </table>
        </div>
        <br />
    </div>
    <br />
    <br />
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h3>Reporting Team</h3>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
        <div class="responsive-table" fxFlex="100">
            <table mat-table [dataSource]="reportingGrid" class="tstable mat-elevation-z8">
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <div style="padding:10px">
                            <a title="View" href="javascript:void(0)" [routerLink]="['/home/ts/viewts']"
                                [queryParams]="{id: element.employeeCode,name:element.employeeName}" target="_blank"
                                style="text-decoration: none;">{{element.employeeName}}</a>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Project">
                    <th mat-header-cell *matHeaderCellDef> Project </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <div style="padding:10px">
                            {{element.projectName}}
                        </div>
                    </td>
                </ng-container>

                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns;let i =index">
                    <th mat-header-cell *matHeaderCellDef>
                        <div>
                            {{column | date:'dd-MMM'}}
                        </div>
                        <div>
                            ({{ column | date:'EEE'}})
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element; let j =index"
                        [ngClass]="{'wknd': ((column | date:'EEE') == 'Sat' || (column | date:'EEE') == 'Sun')}">
                        <div *ngIf="checkFilled(element.lineInfoArray[i])">
                            <div *ngFor="let item of element.lineInfoArray[i]">
                                <div *ngIf="item">
                                    <div *ngIf="(item.type == 21 || item.type == 22 || item.type == 30)"
                                        style="padding:5px">
                                        <p
                                            [ngClass]="{'leave': item?.type == 21,'approved': item?.type == 22, 'holiday': item?.type == 30}">
                                            <span *ngIf="(item.type == 21 || item.type == 22)"> (Leave)</span>
                                            <span *ngIf="(item.type == 30)">{{item?.info}}</span>
                                        </p>
                                    </div>
                                    <div *ngIf="(item.type == 11 || item.type == 12 || item.type == 13)"
                                        style="padding:5px">
                                        <p> Filled </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding:10px" *ngIf="!checkFilled(element.lineInfoArray[i])">
                            <div *ngIf="(column | date:'EEE') != 'Sat' && (column | date:'EEE') != 'Sun'">
                                Not Filled
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="reportingColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: reportingColumns;" class="example-element-row"></tr>
            </table>
        </div>
        <br />
    </div>
</div>

<ng-template #alertTemplate>
    <mat-dialog-content>
        <p>Are you sure you want to revert this timesheet?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="danger">Cancel</button>
        <button type="submit" mat-button color="primary" (click)="onRevertSubmit()" cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</ng-template>