td.mat-cell {
    // border-bottom-width: 0;
    padding: 0% !important;
    border-right: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    min-height: 50px;
}


td.mat-cell:first-child {
    border-left: 1px solid lightgray;
  }

.highlightToday {
    background-color: aqua;
}

.tasks {
    cursor: pointer;
    background-color: orange;
    color: white;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    min-width: 20px !important
}

.holiday {
  cursor: pointer;
  background-color: green;
  color: white;
  margin: 0px;
  padding: 0px 0px 0px 5px;
  white-space: nowrap;
  min-width: 20px !important;
}

.pending {
  cursor: pointer;
  background-color: orange;
  color: white;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  min-width: 60px !important;
  text-align: center;
}

.leave {
  background-color: #db8f03;
  color: white;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  min-width: 20px !important;
}

.rejected {
  cursor: pointer;
  background-color: #ff5050;
  color: white;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  min-width: 20px !important;
  text-align: center;
}

.wknd {
  background-color: darkgrey;
  color: white;
}

.slctAll {
  cursor: pointer;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  min-width: 20px !important;
  text-align: center;
}

.approved {
  cursor: pointer;
  background-color: #a7ff91;
  color: black;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  min-width: 20px !important;
  text-align: center;
}

.cellContent {
    // width: 100%;
    // height: 80px;
    border-radius: 0px;
}
   

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
.example-element-detail {
    width: 100%;
    overflow: hidden;
    display: flex;
    // text-align: center;
    th.mat-header-cell {
      // text-align: center;
      border-left: 1px solid lightgray;
      border-top: 1px solid lightgray;
    }
    td.mat-cell {
      border-left: 1px solid lightgray;
    }
    th.mat-header-cell:last-child, td.mat-cell:last-child {
      border-right: 1px solid lightgray;
    }
  }

  #foo {
    position: fixed;
    bottom: 5px;
    right: 3px;
  }

  .viewDt {
    padding: 10px 10px 10px 30px;
  }