<mat-tab-group dynamicHeight>
    <mat-tab label="Leave Balance">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <app-leaves-balance></app-leaves-balance>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Availed Leaves">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <app-availed-leaves></app-availed-leaves>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Leaves Status">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <app-leaves-status></app-leaves-status>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Leave Summary">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <app-leave-summary></app-leave-summary>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Casual Leaves">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <app-casual-leaves-report></app-casual-leaves-report>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>