mat-radio-button {
    padding-left: 10px;
}

  td.mat-cell {
    border-right: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    min-height: 50px;
}


td.mat-cell:first-child {
    border-left: 1px solid lightgray;
  }

// fieldset legend {
//     // background: #1F497D;
//     color: #fff;
//     padding: 5px 10px ;
//     font-size: 32px;
//     border-radius: 5px;
//     box-shadow: 0 0 0 5px #ddd;
//     margin-left: 20px;
// }