<div class="body-content">
    <fieldset style="min-height:100px;">
        <legend>
            <!-- <mat-radio-group class="fieldsetRadio" flexLayout="row" fxLayout.lt-md="column" color="primary" fxLayoutAlignGap="2px" matInput
        aria-label="Select an option">
        <mat-radio-button fxFlex [value]="true">Credit MonthWise </mat-radio-button>
        <mat-radio-button fxFlex [value]="false">Credit YearWise</mat-radio-button>
        <mat-radio-button fxFlex value="yes">Leave Summary</mat-radio-button>
    </mat-radio-group> -->
            <mat-form-field appearance="outline">
                <mat-label>Report</mat-label>
                <mat-select [(ngModel)]="report" (selectionChange)="onReportChange()">
                    <mat-option value="creditMonthWise">Credit MonthWise</mat-option>
                    <mat-option value="creditYearWise">Credit YearWise</mat-option>
                    <mat-option value="leaveSummary">Leave Summary</mat-option>
                </mat-select>
            </mat-form-field>
        </legend>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" *ngIf="report == 'creditMonthWise'">
            <div fxFlex.lg="30" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateSelected" autocomplete="off"
                        (click)="picker.open()" (keydown)="false" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex.lg="30" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="jobStatus" required>
                        <mat-option *ngFor="let item of statusLst" [value]="item.id">{{item.status}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="30" fxFlex.xs="100">
                <mat-form-field class="max-width" >
                    <input matInput autocomplete="off" [(ngModel)]="searchField" placeholder="Emp Name/Code">
                </mat-form-field>
            </div>
            
            <div fxFlex="10">
                <div style="padding: 10px;">
                    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" *ngIf="report == 'creditYearWise'">
            <div fxFlex.lg="30" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Start Date</mat-label>
                    <mat-select [(ngModel)]="yearSelected" required (selectionChange)="onYearsChange()">
                        <mat-option *ngFor="let item of yearLst" [value]="item">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="30" fxFlex.xs="100">
                <mat-form-field class="max-width" >
                    <input matInput autocomplete="off" [(ngModel)]="searchField" placeholder="Emp Name/Code">
                </mat-form-field>
            </div>
            <div fxFlex="10">
                <div style="padding: 10px;">
                    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" *ngIf="report == 'leaveSummary'">
            <div fxFlex.lg="30" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Search By Name or Code</mat-label>
                    <input type="text" matInput [(ngModel)]="name" [matAutocomplete]="auto"
                        (ngModelChange)="search($event)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)"
                        [displayWith]="getOptionText">
                        <mat-option *ngFor="let item of searchLst" [value]="item"
                            [ngClass]="{'hide-autocomplete': name.length < 3}">
                            {{item.fullName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="selectedEmp">Employee Code : {{ selectedEmp.empId}}</mat-hint>
                </mat-form-field>
            </div>
            <div fxFlex="10">
                <div style="padding: 10px;">
                    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </fieldset>
    <br />

    <div *ngIf="(report == 'creditMonthWise') && lstGrid?.data[0]?.leavesCredited.length">
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Month Wise Report</h3>
            </div>
        </div>
        <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0)">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="el">
                        <th mat-header-cell *matHeaderCellDef> Els </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].els}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cl">
                        <th mat-header-cell *matHeaderCellDef> Cls </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].cls}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oh">
                        <th mat-header-cell *matHeaderCellDef> OLs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].ols}} </td>
                    </ng-container>

                    <ng-container matColumnDef="co">
                        <th mat-header-cell *matHeaderCellDef> COs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].cos}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
    <div *ngIf="(report == 'creditYearWise') && lstGrid?.data[0]?.leavesCredited.length">
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Year Wise Report</h3>
            </div>
        </div>
        <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0)">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="jan">
                        <th mat-header-cell *matHeaderCellDef> Jan </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[0]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[0]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[0]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[0]?.cos}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="feb">
                        <th mat-header-cell *matHeaderCellDef> Feb </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[1]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[1]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[1]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[1]?.cos}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="mar">
                        <th mat-header-cell *matHeaderCellDef> March </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[2]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[2]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[2]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[2]?.cos}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="apr">
                        <th mat-header-cell *matHeaderCellDef> April </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[3]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[3]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[3]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[3]?.cos}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="may">
                        <th mat-header-cell *matHeaderCellDef> May </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[4]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[4]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[4]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[4]?.cos}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="june">
                        <th mat-header-cell *matHeaderCellDef> June </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[5]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[5]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[5]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[5]?.cos}}</div>
                            </div>    
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="july">
                        <th mat-header-cell *matHeaderCellDef> July </th>
                        <td mat-cell *matCellDef="let element">
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[6]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[6]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[6]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[6]?.cos}}</div>
                            </div>    
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="aug">
                        <th mat-header-cell *matHeaderCellDef> Aug </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[7]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[7]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[7]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[7]?.cos}}</div>
                            </div>    
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sep">
                        <th mat-header-cell *matHeaderCellDef> Sep </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[8]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[8]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[8]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[8]?.cos}}</div>
                            </div>    
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="oct">
                        <th mat-header-cell *matHeaderCellDef> Oct </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[9]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[9]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[9]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[9]?.cos}}</div>
                            </div>    
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nov">
                        <th mat-header-cell *matHeaderCellDef> Nov </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[10]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[10]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[10]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[10]?.cos}}</div>
                            </div>    
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="dec">
                        <th mat-header-cell *matHeaderCellDef> Dec </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div style="padding: 5px;">
                                <div>ELs: {{element.leavesCredited[11]?.els}}</div>
                                <div>CLs: {{element.leavesCredited[11]?.cls}}</div>
                                <div>OLs: {{element.leavesCredited[11]?.ols}}</div>
                                <div>COs: {{element.leavesCredited[11]?.cos}}</div>
                            </div>    
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="lstGrid.data[0]? lstGrid.data[0].leavesCredited.length : 15"
                            align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
    <div *ngIf="(report == 'leaveSummary') && leaveSummaryResp.length > 0">
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Leave Available Balance</h3>
            </div>
        </div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv', 'leaveBalance')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx', 'leaveBalance')">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="leaveSummaryResp" class="mat-elevation-z4 rtable">

                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="el">
                        <th mat-header-cell *matHeaderCellDef> Els </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance.els}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cl">
                        <th mat-header-cell *matHeaderCellDef> Cls </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance.cls}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oh">
                        <th mat-header-cell *matHeaderCellDef> OLs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance.ols}} </td>
                    </ng-container>

                    <ng-container matColumnDef="co">
                        <th mat-header-cell *matHeaderCellDef> COs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance.cos}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="summaryColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: summaryColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6" align="center">No data</td>
                    </tr>
                </table>
            </div>
        </div>

        <br/>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Leave Availed Balance</h3>
            </div>
        </div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv', 'leaveAvailed')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx', 'leaveAvailed')">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="leaveSummaryResp" class="mat-elevation-z4 rtable">

                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="el">
                        <th mat-header-cell *matHeaderCellDef> Els </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveAvailed.els}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cl">
                        <th mat-header-cell *matHeaderCellDef> Cls </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveAvailed.cls}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oh">
                        <th mat-header-cell *matHeaderCellDef> OLs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveAvailed.ols}} </td>
                    </ng-container>

                    <ng-container matColumnDef="co">
                        <th mat-header-cell *matHeaderCellDef> COs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveAvailed.cos}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="summaryColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: summaryColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6" align="center">No data</td>
                    </tr>
                </table>
            </div>
        </div>

        <br />
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Leave Credit Balance</h3>
            </div>
        </div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv', 'leaveCredit')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx', 'leaveCredit')">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="leaveSummaryResp" class="mat-elevation-z4 rtable">

                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="el">
                        <th mat-header-cell *matHeaderCellDef> Els </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].els}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cl">
                        <th mat-header-cell *matHeaderCellDef> Cls </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].cls}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oh">
                        <th mat-header-cell *matHeaderCellDef> OLs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].ols}} </td>
                    </ng-container>

                    <ng-container matColumnDef="co">
                        <th mat-header-cell *matHeaderCellDef> COs </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesCredited[0].cos}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="summaryColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: summaryColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6" align="center">No data</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>