<div class="body-content">
    <div class="row" fxLayout fxLayout.lt-md="column">
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="status" multiple>
                    <mat-option *ngFor="let item of statusLst" [value]="item">{{item.status}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" >
                <input matInput autocomplete="off" [(ngModel)]="searchField" placeholder="Emp Name/Code">
            </mat-form-field>
        </div>
        <div fxFlex="30">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div [hidden]="!showData">
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Leave Balance Report</h3>
            </div>
        </div>
        <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0)">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="el">
                        <th mat-header-cell *matHeaderCellDef> Earned Leave </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance[2]}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cl">
                        <th mat-header-cell *matHeaderCellDef> Casual Leave </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance[1]}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oh">
                        <th mat-header-cell *matHeaderCellDef> Optional Holiday </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance[3]}} </td>
                    </ng-container>

                    <ng-container matColumnDef="co">
                        <th mat-header-cell *matHeaderCellDef> Comp Off </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveBalance[6]}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
</div>
