<div class="cardLayout">
    <mat-card class="mat-elevation-z3" [formGroup]="createHiringRequest">
        <mat-card-header>
            <mat-card-title> HIRING REQUEST | All fields with * are mandatory</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-accordion fxFlex.lg="100" fxFlex.xs="100" class="accordion">
                <mat-expansion-panel [expanded]="true" class="mat-elevation-z6" style="margin-top: 10px ;">
                    <mat-expansion-panel-header class="panel">
                        <mat-panel-title fxFlex="100" align="start">
                            Request Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br />
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Hiring For</mat-label>
                                <mat-select formControlName="hiringReasonId" [disabled]="viewMode">
                                    <mat-option *ngFor="let reason of hiringForOptions" [value]="reason.id">
                                        {{reason.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.hiringReasonId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Client Name</mat-label>
                                <mat-select formControlName="clientId" [disabled]="viewMode">
                                    <mat-option *ngFor="let client of clientNameOptions" [value]="client.id">
                                        {{client.clientName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.clientId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Department</mat-label>
                                <mat-select formControlName="departmentId"
                                    (selectionChange)="loadPracticesByDepartment($event.value)" [disabled]="viewMode">
                                    <mat-option *ngFor="let dept of departmentOptions" [value]="dept.id">
                                        {{dept.departmentName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.departmentId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Hiring Type</mat-label>
                                <mat-select formControlName="hiringType" [disabled]="viewMode">
                                    <mat-option *ngFor="let type of hiringTypeOptions" [value]="type.code">
                                        {{type.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.hiringType.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Hiring Manager</mat-label>
                                <mat-select formControlName="hiringManagerId" [disabled]="viewMode">
                                    <mat-option *ngFor="let item of hiringManagerLst" [value]="item.id">
                                        {{item.employeeName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.hiringManagerId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Priority</mat-label>
                                <mat-select formControlName="priorityId" [disabled]="viewMode">
                                    <mat-option *ngFor="let priority of priorityOptions" [value]="priority.id">
                                        {{priority.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.priorityId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column">
                        <div fxFlex.lg="100" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Purpose</mat-label>
                                <input matInput autocomplete="off" placeholder="Enter a description for hiring request"
                                    formControlName="purpose" maxlength="128" [disabled]="viewMode">
                                <mat-error *ngIf="f.purpose.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="90" fxFlex.xs="100">
                            <mat-label>Profile Screening Members</mat-label>
                            <tag-input name="screeningPanel" [(ngModel)]="screeningList"
                                [ngModelOptions]="{standalone: true}" #screeningPanel [disable]="true">
                                <ng-template let-item="item" let-index="index">
                                    <span>
                                        {{ getTagNames(item, 'screening')}}
                                    </span>
                                    <delete-icon (click)="screeningPanel.removeItem(item, index)">
                                    </delete-icon>
                                </ng-template>
                            </tag-input>
                        </div>
                        <div fxFlex.lg="10" fxFlex.xs="100">
                            <button mat-icon-button type="button" (click)="openSelectionModal('screening')">
                                <mat-icon>add_box</mat-icon>
                            </button>
                        </div>
                    </div>
                    <br />
                    <h2><b>Need Details</b></h2>
                    <mat-divider></mat-divider>
                    <br />
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Practice</mat-label>
                                <mat-select formControlName="practiceId" (selectionChange)="loadTemplates()"
                                    [disabled]="viewMode">
                                    <mat-option *ngFor="let practice of practiceOptions" [value]="practice.id">
                                        {{practice.practiceName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.practiceId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline" required>
                                <mat-label>Competency</mat-label>
                                <mat-select formControlName="competencyId" [disabled]="viewMode">
                                    <mat-option *ngFor="let item of competencyOptions" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.competencyId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Work Location</mat-label>
                                <mat-select formControlName="workLocationId" [disabled]="viewMode">
                                    <mat-option *ngFor="let client of clientNameOptions" [value]="client.id">
                                        {{client.clientName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.workLocationId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-label>Experience Required</mat-label>
                            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                <div fxFlex.lg="40" fxFlex.xs="40">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <input matInput min="0" max="100" type="number" autocomplete="off"
                                            formControlName="minExperience" (keypress)="restrictFloatnumber($event)"
                                            [readOnly]="viewMode">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.lg="10" fxFlex.xs="10"> to </div>
                                <div fxFlex.lg="40" fxFlex.xs="40">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <input matInput min="0" max="100" type="number" autocomplete="off"
                                            formControlName="maxExperience" (keypress)="restrictFloatnumber($event)"
                                            [readOnly]="viewMode">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Expected Role</mat-label>
                                <input matInput autocomplete="off" placeholder="Expected Role"
                                    formControlName="expectedRole" maxlength="200" [readOnly]="viewMode">
                                <mat-error *ngIf="f.expectedRole.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Number of Resources</mat-label>
                                <input matInput autocomplete="off" type="number" placeholder="Number of Resources"
                                    formControlName="resourcesCount" pattern="^([1-9][0-9]{0,2}|1000)$"
                                    (keypress)="restrictFloatnumber($event)" [readOnly]="viewMode">
                                <mat-error
                                    *ngIf="!f.resourcesCount.hasError('pattern') && f.resourcesCount.hasError('required')">
                                    Number of Resources is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="f.resourcesCount.hasError('pattern')">Resources should be between 1
                                    and 1000
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Expected Start Date</mat-label>
                                <input matInput [matDatepicker]="picker2" autocomplete="off" [min]="today"
                                    (click)="picker2.open()" (keydown)="false" formControlName="expectedStartDate"
                                    [readOnly]="viewMode">
                                <mat-error *ngIf="f.expectedStartDate.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Model</mat-label>
                                <mat-select formControlName="operatingModelId" [disabled]="viewMode">
                                    <mat-option *ngFor="let item of opModelLst" [value]="item.id">{{item.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.operatingModelId.hasError('required')">Field is
                                    <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100"></div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z6" style="margin-top: 10px ;">
                    <mat-expansion-panel-header class="panel">
                        <mat-panel-title fxFlex="100" align="start">
                            Job Description Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br />
                    <div class="row" fxLayout fxLayout.lt-md="column">
                        <div fxFlex.lg="28" fxFlex.xs="100">
                            <mat-form-field class="max-width" appearance="outline">
                                <mat-label>Department</mat-label>
                                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="departmentId"
                                    [disabled]="true">
                                    <mat-option *ngFor="let item of departmentOptions" [value]="item.id">
                                        {{item.departmentName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="28" fxFlex.xs="100">
                            <mat-form-field class="max-width" appearance="outline">
                                <mat-label>Practice</mat-label>
                                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="practiceId"
                                    [disabled]="true">
                                    <mat-option *ngFor="let practice of practiceOptions" [value]="practice.id">
                                        {{practice.practiceName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="28" fxFlex.xs="100">
                            <mat-form-field class="max-width" appearance="outline">
                                <mat-label>Template Name</mat-label>
                                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="templateId"
                                    (selectionChange)="onTemplateChange($event.value)">
                                    <mat-option *ngFor="let item of templatesLst" [value]="item.id">
                                        {{item.templateName}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint class="mat-error" *ngIf="formSubmitted && !templateId">Field is
                                    <strong>required</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="10" fxFlex.xs="100">
                            <button mat-raised-button color="primary" (click)="onJobSelection()"
                                style="margin-top:15px;">Continue</button>
                        </div>
                    </div>
                    <br />
                    <div *ngIf="showJdInfo">
                        <div class="row" fxLayout fxLayout.xs="column">
                            <div fxFlex="50" align="start">
                                <h3>Job Description Details</h3>
                            </div>
                        </div>
                        <div class="row" fxLayout fxLayout.xs="column">
                            <div fxFlex.lg="100" fxFlex.xs="100">
                                <mat-tab-group dynamicHeight>
                                    <mat-tab label="Company Background" appearance="outline">
                                        <br />
                                        <div class="row" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
                                            <div fxFlex="48">
                                                <mat-label>Company Background</mat-label>
                                                <mat-form-field class="full-width" appearance="outline">
                                                    <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                        [(ngModel)]="jobCompBg"
                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="48">
                                                <mat-label>Practice Background</mat-label>
                                                <mat-form-field class="full-width" appearance="outline">
                                                    <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                        [(ngModel)]="jobPracBg"
                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Job Description" appearance="outline">
                                        <br />
                                        <mat-label>Job Description</mat-label>
                                        <mat-form-field class="full-width" appearance="outline">
                                            <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                [(ngModel)]="jobds" [ngModelOptions]="{standalone: true}"></textarea>
                                        </mat-form-field>
                                    </mat-tab>

                                    <mat-tab label="Position/Responsibilities" appearance="outline">
                                        <br />
                                        <mat-label>Position/Responsibilities</mat-label>
                                        <mat-form-field class="full-width" appearance="outline">
                                            <textarea matInput autocomplete="off" rows="6" [disabled]="true"
                                                [(ngModel)]="jobresp" [ngModelOptions]="{standalone: true}"></textarea>
                                        </mat-form-field>
                                    </mat-tab>
                                    <mat-tab label="Skills" appearance="outline">
                                        <br />
                                        <div fxLayout="row wrap" fxLayout.lt-md="column"
                                            fxLayoutAlign="space-between center">
                                            <div fxFlex.lg="48" fxFlex.xs="100">
                                                <mat-label>Design Skills</mat-label>
                                                <mat-form-field class="full-width" appearance="outline">
                                                    <textarea matInput autocomplete="off" rows="3" [disabled]="true"
                                                        [(ngModel)]="jobDsSkill"
                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex.lg="48" fxFlex.xs="100">
                                                <mat-label>Technical Skills</mat-label>
                                                <mat-form-field class="full-width" appearance="outline">
                                                    <textarea matInput autocomplete="off" rows="3" [disabled]="true"
                                                        [(ngModel)]="jobTsSkill"
                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex.lg="48" fxFlex.xs="100">
                                                <mat-label>Certifications</mat-label>
                                                <mat-form-field class="full-width" appearance="outline">
                                                    <textarea matInput autocomplete="off" rows="2" [disabled]="true"
                                                        [(ngModel)]="jobCert"
                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex.lg="48" fxFlex.xs="100">
                                                <mat-label>Other Skills</mat-label>
                                                <mat-form-field class="full-width" appearance="outline">
                                                    <textarea matInput autocomplete="off" rows="2" [disabled]="true"
                                                        [(ngModel)]="jobOtherSkill"
                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Education" appearance="outline">
                                        <br />
                                        <mat-label>Education</mat-label>
                                        <mat-form-field class="full-width" appearance="outline">
                                            <textarea matInput autocomplete="off" rows="5" [disabled]="true"
                                                [(ngModel)]="jobEdu" [ngModelOptions]="{standalone: true}"></textarea>
                                        </mat-form-field>
                                    </mat-tab>
                                    <mat-tab label="Initial Screening Questions" appearance="outline">
                                        <br />
                                        <mat-label>Initial Screening Questions</mat-label>
                                        <mat-form-field class="full-width" appearance="outline">
                                            <textarea matInput autocomplete="off" rows="5" [disabled]="true"
                                                [(ngModel)]="jobScrnQs"
                                                [ngModelOptions]="{standalone: true}"></textarea>
                                        </mat-form-field>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z6" style="margin-top: 10px ;">
                    <mat-expansion-panel-header class="panel">
                        <mat-panel-title fxFlex="100" align="start">
                            Interview Panel Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br />
                    <mat-label *ngIf="panelGrid.length > 0"><b>Panel Details</b></mat-label>
                    <div fxLayout="row" fxLayout.lt-md="column" *ngIf="panelGrid.length > 0">
                        <div class="mat-table" fxFlex="100">
                            <div class="mat-header-row">
                                <div class="mat-header-cell" fxFlex="15">Level</div>
                                <div class="mat-header-cell" fxFlex="20">Name</div>
                                <div class="mat-header-cell" fxFlex="27">Panel Members</div>
                                <div class="mat-header-cell" fxFlex="27">Criteria</div>
                                <div class="mat-header-cell" fxFlex="10">Action</div>
                            </div>
                            <div class="mat-row" *ngFor="let item of panelGrid; let i =index">
                                <p fxFlex="15">{{getLevelName(item.level)}}</p>
                                <p fxFlex="20">{{item.name}}</p>
                                <p fxFlex="27">{{getNames(item.members, 'members')}}</p>
                                <p fxFlex="27">{{getNames(item.criteria, 'criteria')}}</p>
                                <p fxFlex="10">
                                    <mat-icon matTooltip="Edit" type="button" (click)="onPanelAction(item, 'edit', i)">
                                        edit</mat-icon>
                                    <mat-icon matTooltip="Delete" type="button"
                                        (click)="onPanelAction(item, 'delete', i)">
                                        cancel</mat-icon>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <fieldset style="min-height:100px;" *ngIf="!viewMode">
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lg="80px">
                            <div fxFlex.lg="30" fxFlex.xs="100">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Level <span
                                            [ngStyle]="(panelSubmitted && !level)? {'color':'red'} : {'color': 'black'}">*</span>
                                    </mat-label>
                                    <mat-select [(ngModel)]="level" [ngModelOptions]="{standalone: true}"
                                        (selectionChange)="onLevelChange($event.value)">
                                        <mat-option *ngFor="let item of interviewLevelLst" [value]="item.id">
                                            {{item.description}}</mat-option>
                                    </mat-select>
                                    <mat-hint class="mat-error" *ngIf="panelSubmitted && !level">Field is
                                        <strong>required</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="30" fxFlex.xs="100">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Panel Name <span
                                            [ngStyle]="(panelSubmitted && !panelName)? {'color':'red'} : {'color': 'black'}">*</span>
                                    </mat-label>
                                    <input matInput [(ngModel)]="panelName" autocomplete="off"
                                        [ngModelOptions]="{standalone: true}">
                                    <mat-hint class="mat-error" *ngIf="panelSubmitted && !panelName">Field is
                                        <strong>required</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                            <div fxFlex.lg="90" fxFlex.xs="100">
                                <mat-label>Panel Members <span
                                        [ngStyle]="(panelSubmitted && panelMembers.length == 0)? {'color':'red'} : {'color': 'black'}">*</span>
                                </mat-label>
                                <tag-input name="panelMembers" [(ngModel)]="panelMembers" #panel [disable]="true"
                                    [ngModelOptions]="{standalone: true}">
                                    <ng-template let-item="item" let-index="index">
                                        <span>
                                            {{ getNames(item, 'members') }}
                                        </span>
                                        <delete-icon (click)="panel.removeItem(item, index)">
                                        </delete-icon>
                                    </ng-template>
                                </tag-input>
                                <mat-hint class="mat-error" *ngIf="panelSubmitted && panelMembers.length == 0">Field is
                                    <strong>required</strong>
                                </mat-hint>
                            </div>
                            <div fxFlex.lg="10" fxFlex.xs="100">
                                <button mat-icon-button type="button" (click)="openSelectionModal('panel')">
                                    <mat-icon>add_box</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                            <div fxFlex.lg="90" fxFlex.xs="100">
                                <mat-label>Selection Criteria <span
                                        [ngStyle]="(panelSubmitted && criteria.length == 0)? {'color':'red'} : {'color': 'black'}">*</span>
                                </mat-label>
                                <tag-input name="Criteria" [(ngModel)]="criteria" #Criteria [disable]="true"
                                    [ngModelOptions]="{standalone: true}">
                                    <ng-template let-item="item" let-index="index">
                                        <span>
                                            {{ getTagNames(item, 'criteria') }}
                                        </span>
                                        <delete-icon (click)="Criteria.removeItem(item, index)">
                                        </delete-icon>
                                    </ng-template>
                                </tag-input>
                                <mat-hint class="mat-error" *ngIf="panelSubmitted && criteria.length == 0">Field is
                                    <strong>required</strong>
                                </mat-hint>
                            </div>
                            <div fxFlex.lg="10" fxFlex.xs="100">
                                <button mat-icon-button type="button" (click)="openSelectionModal('criteria')">
                                    <mat-icon>add_box</mat-icon>
                                </button>
                            </div>
                        </div>
                        <br />
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                            <div fxFlex="50" align="end">
                                <button mat-raised-button type="button" color="primary" (click)="addPanel()">
                                    <mat-icon>add_box</mat-icon> Add
                                </button>
                            </div>
                            <div fxFlex="50" align="start">
                                <button mat-raised-button type="button" color="primary" (click)="clearPanel()">
                                    Clear</button>
                            </div>
                        </div>
                    </fieldset>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="onSave()" *ngIf="!viewMode">{{selectedRow ? 'Update' :
                'Save'}}</button>
            <button mat-raised-button color="primary" (click)="onClose()">Close</button>
        </mat-card-actions>
    </mat-card>
</div>