<h2 mat-dialog-title align="center">Apply Leave</h2>
<mat-dialog-content (contextmenu)="onRightClick($event)">
  <form [formGroup]="applyLeaveForm" class="form" style="font-size: 14px;">
    <div class="row" *ngIf="onBehalf" class="full-width">
      <mat-label fxFlex="50" style="color: grey;">Name</mat-label>
      <p align="start">{{empInfo?.employeeName}}</p>
    </div>
    <mat-form-field class="full-width">
      <!-- floatLabel = "never" -->
      <mat-label>Type</mat-label>
      <mat-select formControlName="leaveType" (selectionChange)="onTypeSelection($event.value)">
        <mat-option>Select</mat-option>
        <mat-option *ngFor="let item of typeLst" [value]="item.leaveType">
          {{item.leaveTypeDescription}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.leaveType.hasError('required')">Leave Type is <strong>required</strong></mat-error>
      <mat-hint *ngIf="availableBalance"><strong>
          <h5>Available Days {{availableBalance}}</h5>
        </strong></mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" *ngIf="f.leaveType.value == 6">
      <mat-label>Comp Off Date (with Expiry Date)</mat-label>
      <mat-select formControlName="compOffDate" (selectionChange)="onCompOffDate($event.value)">
        <mat-option>Select</mat-option>
        <mat-option *ngFor="let item of compOffDatesLst" [value]="item.compOffAgainstDate">
          {{item.compOffAgainstDate | date:'dd-MMM-yyyy'}} ({{ item.expiryDate | date:'dd-MMM-yyyy'}})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.compOffDate.hasError('required')">Comp Off Date is <strong>required</strong></mat-error>
    </mat-form-field>
    <div *ngIf="f.leaveType.value == 4 || f.leaveType.value == 5">
      <mat-form-field class="full-width">
        <mat-label>{{f.leaveType.value == 5 ? 'Date of New Born Baby' : 'Expected Date'}}</mat-label>
        <input matInput [matDatepicker]="picker2" autocomplete="off" formControlName="expectedOrNewBornDate"
          (dateChange)=" f.leaveType.value == 5 && getPaternityFromDate($event)" (click)="picker2.open()"
          (keydown)="false" [min]="minDate" [max]="expMaxDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="f.expectedOrNewBornDate.hasError('required')">{{f.leaveType.value == 5 ? 'Date of New Born
          Baby' : 'Expected Date'}} is <strong>required</strong></mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="f.leaveType.value == 5">
      <div class="full-width" flexLayout="row" flexLayout.xs="column">
        <mat-label fxFlex="50">Gender of New Born Baby *</mat-label>
        <div fxFlex="50">
          <mat-radio-group flexLayout="row" color="primary" fxLayoutAlignGap="2px" matInput
            aria-label="Select an option" formControlName="babyGender">
            <mat-radio-button fxFlex value="M">Male </mat-radio-button>
            <mat-radio-button fxFlex value="F"> Female</mat-radio-button>
          </mat-radio-group>
          <mat-error flexLayout="row" *ngIf="f.babyGender.touched && f.babyGender.hasError('required')">Gender is
            <strong>required</strong>
          </mat-error>
        </div>
      </div>
    </div>
    <div class="row" fxLayout fxLayout.lt-xs="column" style="margin-top: 5px;">
      <mat-form-field
        [fxFlex]="( f.leaveType.value == 4 || f.leaveType.value == 5 || f.leaveType.value == 7 || f.leaveType.value == 6 ) ? 100 : 70 ">
        <mat-label>{{f.leaveType.value == 6 ? 'Date' : 'From Date'}}</mat-label>
        <input matInput [matDatepicker]="picker"
          [matDatepickerFilter]="f.leaveType.value == 5 ? fromDateFilter : dateFilter" autocomplete="off"
          formControlName="fromDate" (dateChange)="onDateChange($event, 'from')" (click)="picker.open()"
          (keydown)="false" [min]="minDate" [max]="f.leaveType.value == 7 ? today : maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="f.fromDate.hasError('required')">{{f.leaveType.value == 6 ? 'Date' : 'From Date'}} is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <span fxFlex="30"
        [fxShow]="!( f.leaveType.value == 4 || f.leaveType.value == 5 || f.leaveType.value == 7 || f.leaveType.value == 6 )">
        <mat-checkbox class="checkboxStyle" formControlName="halfDayStart" color="primary" (change)="calculateDays()">
          Half Day</mat-checkbox>
      </span>
    </div>
    <div class="row" fxLayout fxLayout.lt-xs="column" style="margin-top: 5px;" *ngIf="f.leaveType.value != 6">
      <mat-form-field
        [fxFlex]="( f.leaveType.value == 4 || f.leaveType.value == 5 || f.leaveType.value == 7) ? 100 : 70 ">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker1" [min]="f.fromDate.value"
          [matDatepickerFilter]="( f.leaveType.value == 4 || f.leaveType.value == 5 || f.leaveType.value == 7 ) ? endDateFilter : dateFilter"
          formControlName="toDate" autocomplete="off" (dateChange)="onDateChange($event, 'to')" (click)="picker1.open()"
          (keydown)="false" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="f.toDate.hasError('required')">To Date is <strong>required</strong></mat-error>
      </mat-form-field>
      <span fxFlex="30" [fxShow]="!( f.leaveType.value == 4 || f.leaveType.value == 5 || f.leaveType.value == 7)">
        <mat-checkbox class="checkboxStyle" formControlName="halfDayEnd" [disabled]="disableHalfDay" color="primary"
          (change)="calculateDays()">
          Half Day
        </mat-checkbox>
      </span>
    </div>
    <div class="row" *ngIf="noOfDays">
      <mat-label style="color: grey;">Applying Days : {{noOfDays}}</mat-label>
    </div>
    <mat-form-field class="full-width">
      <mat-label>Alternative Contact Info</mat-label>
      <input type="text" matInput autocomplete="off" maxlength="10" formControlName="alternateContactNumber"
        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57))" (keydown)="onKeydown($event)"/>
      <mat-error *ngIf="f.alternateContactNumber.hasError('required')">Alternate Contact Number is
        <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="f.alternateContactNumber.hasError('minlength') || f.alternateContactNumber.hasError('maxlength')">enter
        <strong>Valid</strong> Number
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Comments</mat-label>
      <textarea matInput autocomplete="off" formControlName="comments" maxlength="100"></textarea>
      <mat-error *ngIf="f.comments.hasError('required')">Comments is <strong>required</strong></mat-error>
    </mat-form-field>
    <div class="row">
      <mat-label fxFlex="50" style="color: grey;">Apply To</mat-label>
      <p align="start">{{empInfo?.approverNames}}</p>
    </div>
    <div class="row">
      <mat-label fxFlex="50" style="color: grey;">Copy To</mat-label>
      <p align="start">{{empInfo?.notifiernames}}</p>
    </div>
    <mat-form-field class="full-width">
      <mat-label>Notify To</mat-label>
      <mat-chip-list #chipList aria-label="Notify To">
        <mat-chip *ngFor="let item of notifyLst" (removed)="remove(item.empId)">
          {{item.fullName}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input #notifyInput [formControl]="notifyCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (ngModelChange)="search($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of searchLst" [value]="item"
          [ngClass]="{'hide-autocomplete': notifyCtrl.value.length < 3}">
          {{item.fullName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <br />
  <br />
  <br />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="danger">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>Apply</button>
</mat-dialog-actions>