.mat-dialog-title {
    background-color: aliceblue;
}

.form {
    // min-width: 350px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    margin-top: 5px;
    width: 100%;
  }

  .hide-autocomplete { display: none; }

  .checkboxStyle { margin: 20px}

