<form class="form" style="font-size: 14px;">
<h2 mat-dialog-title align="center">{{modalHeader}}</h2>
<mat-dialog-content>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Leave Type</mat-label>
            <p align="start">{{requestedData?.leaveTypeStr}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">From Date</mat-label>
            <p align="start">{{requestedData?.fromDate | date:'dd-MMM-yyyy'}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">To Date</mat-label>
            <p align="start">{{requestedData?.toDate | date:'dd-MMM-yyyy'}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Days</mat-label>
            <p align="start">{{requestedData?.days}}</p>
        </div>
        <div class="row" *ngIf="!reasonRequired">
            <mat-label fxFlex="50" style="color: grey;">Reason</mat-label>
            <p align="start">{{requestedData?.comments}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Status</mat-label>
            <p align="start">{{requestedData?.statusStr}}</p>
            <!-- <p align="start" *ngIf="modalHeader == 'Cancel Leave'">Cancelled</p>
            <p align="start" *ngIf="modalHeader == 'Approve Leave'">Approved</p>
            <p align="start" *ngIf="modalHeader == 'Reject Leave'">Rejected</p>
            <p align="start" *ngIf="modalHeader == 'Approve Cancellation'">Cancellation Approved</p>
            <p align="start" *ngIf="modalHeader == 'Reject Cancellation'">Cancellation Rejected</p> -->
        </div>
        <mat-form-field class="full-width">
            <mat-label>{{reasonRequired ? 'Reason' : 'Comments'}}</mat-label>
            <textarea matInput autocomplete="off" [(ngModel)]="reason" [ngModelOptions]="{standalone: true}" 
             [required]="reasonRequired"></textarea>
            <mat-error>Reason is <strong>required</strong></mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="danger">Cancel</button>
        <button type="submit" mat-button color="primary" (click)="onSubmit(requestedData, reason)" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
</form>