.mat-dialog-title {
    background-color: aliceblue;
}

.form {
    min-width: 350px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    margin-top: 5px;
    width: 100%;
}

p {
    word-wrap: break-word;
    word-break: break-all;
}
