<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="30" align="start">
            <h2><strong>Time Sheet Compliance Report</strong></h2>
        </div>
    </div>
    <fieldset style="min-height:100px;">
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px" style="padding: 10px;">
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" autocomplete="off" [(ngModel)]="fromDate"
                        (click)="picker.open()" (keydown)="false" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker1" autocomplete="off" [(ngModel)]="toDate"
                        (click)="picker1.open()" (keydown)="false" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Department</mat-label>
                    <mat-select [(ngModel)]="departmentId" (selectionChange)="onDeptChange($event.value)">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of departmentLst" [value]="item.id">{{item.departmentName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Practice</mat-label>
                    <mat-select [(ngModel)]="practiceId">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of practiceLst" [value]="item.id">{{item.practiceName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Account</mat-label>
                    <mat-select [(ngModel)]="accountId">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of clientsLst" [value]="item.id">{{item.clientName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Project</mat-label>
                    <mat-select [(ngModel)]="projectId">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of projectsLst" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Manager</mat-label>
                    <mat-select [(ngModel)]="managerId">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of managersLst" [value]="item.empId">{{item.fullName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width">
                    <mat-label>Employment Type</mat-label>
                    <mat-select [(ngModel)]="empType">
                        <mat-option value="">All</mat-option>
                        <mat-option value="1">Current Employee</mat-option>
                        <mat-option value="2">Ex Employee</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex.lg="25" fxFlex.xs="100">
                <mat-form-field class="max-width" >
                    <input matInput autocomplete="off" placeholder="Emp Name/Code" [(ngModel)]="searchEmp">
                </mat-form-field>
            </div>
            <div fxFlex.lg="10" fxFlex.xs="100">
                <div style="padding: 10px;">
                    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset style="min-height: 100px;">
        <legend><b>Points To Be Noted</b></legend>
        1. Holidays are counted based on employee location, holidays count include weekends also<br />
        2. Sum of Approved, Rejected and Pending gives No of Filled days.<br />
        3. Sum of Not Filled, Filled, Leaves and Holidays gives total No of days in selected date range.<br />
        4. If atleast one project timesheet is rejected (When resources is allocated to multiple project), That entire
        day is considered as <span style="color: red;"><b>Rejected</b></span>.<br />
        5. If Atleast one project timesheet is Pending for a day the entire day is considered as <span
            style="color: orange;"><b>Pending</b></span>.<br />
        6. If all project timesheets are Approved for a day the entire day is considered as <span
            style="color: green;"><b>Approved</b></span>.<br />
    </fieldset>
    <br />
    <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0) && showData">
        <div fxFlex="50" align="start" fxLayoutGap="3px">
            <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
        </div>
    </div>
    <div *ngIf="showData">
        <div fxLayout="row" fxLayout.xs="column">
            <div class="responsive-table" fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="tstable mat-elevation-z8">
                    <ng-container matColumnDef="EmpId">
                        <th mat-header-cell *matHeaderCellDef> Emp Id </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.employeeCode}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Name / Date</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.employeeName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Location">
                        <th mat-header-cell *matHeaderCellDef>Location</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.location}}</td>
                    </ng-container>

                    <ng-container matColumnDef="PracticeName">
                        <th mat-header-cell *matHeaderCellDef>Practice Name</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.practiceName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="RM">
                        <th mat-header-cell *matHeaderCellDef>RM</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.reportingManager}}</td>
                    </ng-container>

                    <ng-container matColumnDef="NotFilled">
                        <th mat-header-cell *matHeaderCellDef>Not Filled</th>
                        <td mat-cell *matCellDef="let element;let i=index">
                            <div [ngStyle]="{'color': element.notFilled > 0 ? 'red' : 'black' }">
                                {{element.notFilled}}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Filled">
                        <th mat-header-cell *matHeaderCellDef>Filled</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.filled}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Approved">
                        <th mat-header-cell *matHeaderCellDef>Approved</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.approved}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Rejected">
                        <th mat-header-cell *matHeaderCellDef>Rejected</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.rejected}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Pending">
                        <th mat-header-cell *matHeaderCellDef>Pending</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.pending}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Leaves">
                        <th mat-header-cell *matHeaderCellDef>Leaves</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.leaves}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Holidays">
                        <th mat-header-cell *matHeaderCellDef>Holidays</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.holidays}}</td>
                    </ng-container>

                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns;let i =index">
                        <th mat-header-cell *matHeaderCellDef> {{column | date:'MMM-dd'}}</th>
                        <td mat-cell *matCellDef="let element; let j =index"
                            [ngClass]="{'wknd': ((column | date:'EEE') == 'Sat' || (column | date:'EEE') == 'Sun')}">
                            <div *ngIf="element.typeStatusArray[i].timesheetStatus == 14">
                                {{element.typeStatusArray[i].hours > 0 ? element.typeStatusArray[i].hours : ''}}
                            </div>
                            <div *ngIf="element.typeStatusArray[i].leaveStatus != 0">
                                <div [ngStyle]="{'color': element.typeStatusArray[i].leaveStatus == 16 ? 'orange' : element.typeStatusArray[i].leaveStatus == 17 ? 'green' : 
                                element.typeStatusArray[i].leaveStatus == 18 ? 'red' : 'black' }">{{
                                    element.typeStatusArray[i].leaveType}}</div>
                                <div *ngIf="element.typeStatusArray[i].hours > 0" [ngStyle]="{'color': element.typeStatusArray[i].timesheetStatus == 11 ? 'orange' : element.typeStatusArray[i].timesheetStatus == 12 ? 'green' : 
                                    element.typeStatusArray[i].timesheetStatus == 13 ? 'red' : 'black' }">{{
                                    element.typeStatusArray[i].hours }}
                                </div>
                            </div>
                            <div *ngIf="element.typeStatusArray[i].timesheetStatus != 14 && element.typeStatusArray[i].leaveStatus == 0"
                                [ngStyle]="{'color': (element.typeStatusArray[i].timesheetStatus == 10 || element.typeStatusArray[i].timesheetStatus == 15) ? 'black' :
                        element.typeStatusArray[i].timesheetStatus == 11 ? 'orange' : element.typeStatusArray[i].timesheetStatus == 12 ? 'green' : 
                        element.typeStatusArray[i].timesheetStatus == 13 ? 'red' : 'black' }">
                                {{element.typeStatusArray[i].timesheetStatus == 10 ? 'Not Filled' :
                                element.typeStatusArray[i].timesheetStatus
                                == 15 ? 'Holiday' : element.typeStatusArray[i].hours}}
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
            <br />
        </div>
    </div>
</div>