.wknd {
    background-color: #FDE8CC;
    // color: white;
  }

  td.mat-cell {
    // border-bottom-width: 0;
    padding: 10px !important;
    border-right: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    min-height: 50px;
}


td.mat-cell:first-child {
    border-left: 1px solid lightgray;
  }