<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="30" align="start">
            <h2><strong>Add Project</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br/>
    <mat-accordion class="accordion">
        <mat-expansion-panel class="mat-elevation-z6">
            <mat-expansion-panel-header class="panel">
                <mat-panel-title fxFlex="100" align="start">
                    Details
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center" style="padding:10px">
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Customer</mat-label>
                        <mat-select>
                            <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="Project Name">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Project Type</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Engagement Model</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Project Stage</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Practice</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>SOW Type</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>SOW Signed</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Planned Start Date</mat-label>
                        <input matInput [matDatepicker]="picker" autocomplete="off" (click)="picker.open()"
                            (keydown)="false" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Actual Start Date</mat-label>
                        <input matInput [matDatepicker]="picker1" autocomplete="off" (click)="picker1.open()"
                            (keydown)="false" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Planned End Date</mat-label>
                        <input matInput [matDatepicker]="picker2" autocomplete="off" (click)="picker2.open()"
                            (keydown)="false" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Actual End Date</mat-label>
                        <input matInput [matDatepicker]="picker3" autocomplete="off" (click)="picker3.open()"
                            (keydown)="false" required>
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Project Status</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="Client Project Manager">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Project Manager</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Project QA Manager</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Invoice Approver</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Invoice Billing Amount</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Invoice Billing In</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Invoice Schedule</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="Sales Person">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Project Review Frequency</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Project Pre-Sales</mat-label>
                        <mat-select></mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="Solutions Engineer">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="Recruitment Manager">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <div class="max-width">
                        <mat-label fxFlex="50">Material Procurement</mat-label>
                        <div fxFlex="50">
                            <mat-radio-group flexLayout="row" color="primary" fxLayoutAlignGap="2px" matInput
                                aria-label="Select an option">
                                <mat-radio-button fxFlex [value]="true">Yes </mat-radio-button>
                                <mat-radio-button fxFlex [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Technology Used</mat-label>
                        <textarea matInput autocomplete="off" maxlength="300"></textarea>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>Description and Scope</mat-label>
                        <textarea matInput autocomplete="off" maxlength="300"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z6" style="margin-top: 10px;">
            <mat-expansion-panel-header class="panel">
                <mat-panel-title fxFlex="100" align="start">
                    Status
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center" style="padding:10px">
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>SOW Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="SOW Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>PO Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="PO Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>SRS Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="SRS Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>PP Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="PP Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>DD Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="DD Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>TP Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="TP Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>TCM Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="TCM Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>CRS Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="CRS Comment">
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width">
                        <mat-label>RNS Status</mat-label>
                        <mat-select>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.lg="32" fxFlex.xs="100">
                    <mat-form-field class="max-width" >
                        <input matInput autocomplete="off" placeholder="RNS Comment">
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>