.login {
    // background-image: url(../../../../assets/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background: rgb(0,102,176);
    background: linear-gradient(90deg, rgb(1, 80, 136) 0%, rgb(4, 158, 189) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    font-size: 14px;
}

.login-main {
    margin-top: 10%;
}
mat-card {
    min-width: 20%;
    border-radius: 20px;
    background: rgb(241, 241, 241);
}

.mat-card-title {
    color: rgb(207, 112, 4);
    text-shadow: 5px 3px #ddd8d8;
    font-size: 24px;
    .title {
        color: rgb(86, 95, 0);
    }
}
