<div class="login mat-body">
  <form autocomplete="off">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="mat-elevation-z8 login-main">
        <mat-card-header fxLayoutAlign="space-around" style="margin-top: 10px;">
          <mat-card-title><strong>Myspace NX <span class="title">V2.0</span></strong></mat-card-title>
        </mat-card-header>
        <br />
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <input type="text" [(ngModel)]="username" id="userName" [ngModelOptions]="{standalone: true}" matInput autocomplete="off"
              placeholder="Username" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || 
            (event.charCode==46 || event.charCode==64 || event.charCode==95 || event.charCode==13) || (event.charCode >= 65 && event.charCode <= 90)
            || (event.charCode >= 97 && event.charCode <= 122)">
          </mat-form-field>
          <mat-form-field>
            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" matInput
              autocomplete="nope" placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
          <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Login</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>