<div class="body-content">
    <mat-tab-group dynamicHeight>
        <mat-tab label="TimeSheet">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" align="start">
                            <h3>Project: </h3>
                        </div>
                    </div>
                    <b>Guideline for Invoicing:</b>
                    <p>1) It's mandatory to complete the Invoicing in Myspace for all projects (T&M or Fixed Bid) before
                        5th of every month for the previous month. <br />
                        2) Employee Timesheet hours & Billing hours should be validated on this screen. <br />
                        3) Please add any Additional/discountable amount to this invoice, which will be included in the
                        final spreadsheet. <br />
                        4) Invoice Approver or Finance team will approve/reject your invoice before sending to customer.
                        <br />
                        5) If Finance Team/Approver rejects project invoice, Please validate data based on SOW and other
                        terms and submit for approval again. <br />
                        6) Once the invoice is approved and sent to customer, the same will be displayed on Invoices
                        Tab.
                    </p>
                    <fieldset style="min-height:100px;">
                        <legend><b>Time Sheet</b></legend>
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px">
                            <div fxFlex.lg="25" fxFlex.xs="100">
                                <mat-form-field class="max-width">
                                    <mat-label>Report Type</mat-label>
                                    <mat-select>
                                        <!-- <mat-option *ngFor="let item of typesLst" [value]="item.id">
                                        {{item.leaveDescription}}</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="25" fxFlex.xs="100">
                                <mat-form-field class="max-width">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="picker" autocomplete="off" (click)="picker.open()"
                                        (keydown)="false" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="25" fxFlex.xs="100">
                                <mat-form-field class="max-width">
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="picker1" autocomplete="off"
                                        (click)="picker1.open()" (keydown)="false" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="25" fxFlex.xs="100">
                                <mat-form-field class="max-width">
                                    <mat-label>Report View</mat-label>
                                    <mat-select>
                                        <mat-option value="fullview">Full View</mat-option>
                                        <mat-option value="summary">Summary</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="25" fxFlex.xs="100">
                                <mat-form-field class="max-width">
                                    <mat-label>Sort By</mat-label>
                                    <mat-select>
                                        <mat-option value="resource">Resource</mat-option>
                                        <mat-option value="date">Date</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.lg="25" fxFlex.xs="100">
                                <mat-checkbox class="checkboxStyle" color="primary" style="padding-top: 15px;">
                                    Customer Approved
                                </mat-checkbox>
                            </div>
                            <div fxFlex.lg="10" fxFlex.xs="100">
                                <div style="padding: 10px;">
                                    <button mat-raised-button color="primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" align="start">
                            <h3>Invoice Details from To </h3>
                        </div>
                    </div>
                    <fieldset>
                        <legend><b>Change the Billable Hours</b></legend>
                        <mat-checkbox class="checkboxStyle" color="primary">
                            Calculate for 8 hours only.
                        </mat-checkbox>
                    </fieldset>
                    <br />
                    <fieldset style="min-height:100px;">
                        <legend><b>SOW Terms for T&M Monthly Billing Projects</b></legend>
                        <p style="color: blue;">*Dont check this option, If you would like to calculate the Invoice
                            Amount as per actual monthly hours.</p>
                        <mat-checkbox class="checkboxStyle" color="primary">
                            Invoice Amount should be calculated assuming 160 hours per month.
                        </mat-checkbox>
                        <mat-checkbox class="checkboxStyle" color="primary">
                            Fixed Billing Rate. Leaves/Holidays – No Impact on Billing (Timesheet will not be shared to
                            customer, only Summary will be shared)
                        </mat-checkbox>
                        <mat-checkbox class="checkboxStyle" color="primary">
                            Hourly pro-rata for resources working less than 100%. (invoice amount will be reduced
                            proportionally)
                        </mat-checkbox>
                        <mat-checkbox class="checkboxStyle" color="primary">
                            ONE (1) day per month per consultant is allowed as billable (Paid-Time) (If employee takes
                            one leave, we will still invoice 100%)
                        </mat-checkbox>
                        <mat-checkbox class="checkboxStyle" color="primary">
                            Hourly pro-rate for resources working Greater than 100%. (Additional hours will be invoiced)
                        </mat-checkbox>
                    </fieldset>
                    <br />
                    <fieldset>
                        <legend><b>Additional / Discountable Amount</b></legend>
                        <div class="own-mat-table">
                            <div class="mat-header-row">
                                <div class="own-mat-header-cell" fxFlex="20">Description</div>
                                <div class="own-mat-header-cell" fxFlex="20">Increase/Decrease</div>
                                <div class="own-mat-header-cell" fxFlex="15">Amount (USD)</div>
                                <div class="own-mat-header-cell" fxFlex="15">Action</div>
                            </div>
                            <div class="own-mat-row">
                                <p fxFlex="20">
                                    <mat-form-field class="max-width" >
                                        <textarea matInput></textarea>
                                    </mat-form-field>
                                </p>
                                <p fxFlex="20">
                                    <mat-radio-group color="primary" matInput aria-label="Select an option"
                                        style="padding: 10px;">
                                        <mat-radio-button fxFlex [value]="true"><b style="font-size: 24px;">+</b>
                                        </mat-radio-button>
                                        <mat-radio-button fxFlex [value]="false"><b style="font-size: 24px;">-</b>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </p>
                                <p fxFlex="15">
                                    <mat-form-field class="max-width" >
                                        <input matInput type="text" style="max-width: 95%;" />
                                    </mat-form-field>
                                </p>
                                <p fxFlex="15">
                                    <mat-icon matTooltip="delete">
                                        cancel
                                    </mat-icon>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" align="start">
                            <h3>Only Billable resources are shown in the below table.</h3>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column">
                        <div class="responsive-table" fxFlex="100">
                            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                                <ng-container matColumnDef="sl">
                                    <th mat-header-cell *matHeaderCellDef> S.No </th>
                                    <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="project">
                                    <th mat-header-cell *matHeaderCellDef> Project </th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="empCode">
                                    <th mat-header-cell *matHeaderCellDef> Emp Code</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="loc">
                                    <th mat-header-cell *matHeaderCellDef>Work Location</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef>Date</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="hours">
                                    <th mat-header-cell *matHeaderCellDef>Hours</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="Bhours">
                                    <th mat-header-cell *matHeaderCellDef>Billable Hours</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="ebAmount">
                                    <th mat-header-cell *matHeaderCellDef>External Billing Amount</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="ibAmount">
                                    <th mat-header-cell *matHeaderCellDef>Internal Billing Amount</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>

                                <ng-container matColumnDef="work">
                                    <th mat-header-cell *matHeaderCellDef>Work</th>
                                    <td mat-cell *matCellDef="let element"> </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                                    class="example-element-row">
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="11" align="center">No data</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br/>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around">
                        <button mat-raised-button color="primary">Save</button>
                        <button mat-raised-button color="primary">Review Invoice</button>
                        <button mat-raised-button color="primary">Submit for Approval</button>
                        <button mat-raised-button color="primary">Reset</button>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Invoices">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                    <app-invoices [pending]="false"></app-invoices>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="SOW / PO / MSA">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>