<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Personal</strong></h2>
        </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">

        <div fxFlex.lg="40" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Hiring Request</mat-label>
                <mat-select>

                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="40" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Hiring Need</mat-label>
                <mat-select>
                    <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex.lg="100" fxFlex.xs="100">
            <mat-tab-group>
                <mat-tab label="Professional Info " appearance="outline" required>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-label>Working Status</mat-label><br>
                        <mat-radio-group aria-label="Depricated">
                            <mat-radio-button value="1">Active</mat-radio-button>&nbsp;
                            <mat-radio-button value="2">Inactive</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Current Employer</mat-label>
                                <input matInput required autocomplete="off" placeholder="Current Employer"  name="currentEmployer" class="form-control" id="current-employer" maxlength="120"
                                [(ngModel)]=" ProfessionalFrmNoticePeriodData.currentEmployer" value="Infosys Private Ltd,Banglore"
                                #currentEmployerRef="ngModel" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Current Work Location</mat-label>
                                <input matInput required autocomplete="off" placeholder="Current Work Location" name="currentWorkLocation" maxlength="30"
                                [(ngModel)]=" ProfessionalFrmNoticePeriodData.currentWorkLocation" #currentWorkLocationRef="ngModel"
                                [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Notice Period</mat-label>
                                <mat-select  [(ngModel)]=" ProfessionalFrmNoticePeriodData.noticePeriod" [disabled]="viewMode">
                                     <mat-option *ngFor="let noticePeriod of comboData.noticeperiod" value={{noticePeriod.code}}>
                        {{noticePeriod.description}}</mat-option> 
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Current CTC</mat-label>
                                <input matInput required autocomplete="off" placeholder="Current CTC" [(ngModel)]="ProfessionalFrmNoticePeriodData.currentCTC" #currentCTCRef="ngModel"
                                [readOnly]="viewMode" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Expected CTC</mat-label>
                                <input matInput required autocomplete="off" placeholder="Expected CTC" [(ngModel)]="ProfessionalFrmNoticePeriodData.expectedCTC" #expectedCTCRef="ngModel"
                                [readOnly]="viewMode" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Total Experience (In years)</mat-label>
                                <input matInput required autocomplete="off" placeholder="Total Experience (In years)" name="totalExperienceInYears" min="0" max="100"
                                #totalExp="ngModel" [(ngModel)]=" ProfessionalFrmNoticePeriodData.totalExperienceInYears"
                                [readOnly]="viewMode" required
                                (keypress)="restrictFloatnumber($event) && validateExperience(totalExp.value)"
                                (change)="totalExpirenece( ProfessionalFrmNoticePeriodData.totalExperienceInYears,ProfessionalDataFrmProspectData.relevantExperienceInYears)">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Relevent Experience (In years)</mat-label>
                                <input matInput required autocomplete="off"
                                    placeholder="Relevent Experience (In years) " name="relevantExperienceInYears" #relExp="ngModel" min="0"
                                    max="100" [(ngModel)]=" ProfessionalFrmNoticePeriodData.relevantExperienceInYears"
                                    [readOnly]="viewMode" required
                                    (keypress)="restrictFloatnumber($event) && validateExperience(relExp.value)"
                                    (change)="releventExpirence( ProfessionalFrmNoticePeriodData.totalExperienceInYears, ProfessionalFrmNoticePeriodData.relevantExperienceInYears)">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Category</mat-label>
                                <mat-select (ngModel)]=" ProfessionalFrmNoticePeriodData.category"
                                [disabled]="viewMode">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Employment Type</mat-label>
                                <mat-select  [(ngModel)]=" ProfessionalFrmNoticePeriodData.employmentType" [disabled]="viewMode">
                                    <mat-option *ngFor="let employementType of comboData.employmentType" value={{employementType.code}}>
                        {{employementType.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Document Type</mat-label>
                                <mat-select name="documentType" [(ngModel)]="ProfessionalFrmNoticePeriodData.documentType" [disabled]="true">
                                    <mat-option *ngFor="let documentType of comboData.documentType" value= {{documentType.code}}>
                         {{documentType.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Prospect Source</mat-label>
                                <mat-select [(ngModel)]=" ProfessionalFrmNoticePeriodData.source" [disabled]="viewMode" (change)="propsectSourceChange()">
                                     <mat-option *ngFor="let prospectSource of comboData && comboData.prospectSource"
                        [value]="prospectSource.code">{{prospectSource.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100"></div>
                    </div>
                </mat-tab>
                <mat-tab label="Skillset" appearance="outline" required>
                    <div fxFlex.lg="30" fxFlex.xs="100">
                        <mat-form-field class="full-width" appearance="outline" required>
                            <mat-label>Skill Category</mat-label>
                            <mat-select>
                                <mat-option>1</mat-option>
                                <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button>Add Category</button>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div align="end">
        <button mat-raised-button>Close</button>&nbsp;&nbsp;
        <button mat-raised-button>Confirm & Continue</button>
    </div>
</div>