<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Ready to Offer</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <input matInput autocomplete="off" placeholder="Search by Name" [(ngModel)]="searchName" (keyup)="SearchByName()">
            </mat-form-field>
        </div>
     
<!-- 
        <div fxFlex="10">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </div> -->
    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Offers | Total</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table class="mat-elevation-z4 rtable">
                    <!-- [dataSource]="lstGrid" -->
           
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">{{element.displayName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="practice">
                        <th mat-header-cell *matHeaderCellDef>Practice</th>
                        <td mat-cell *matCellDef="let element">{{element.practice}}</td>
                    </ng-container>

                    <ng-container matColumnDef="des">
                        <th mat-header-cell *matHeaderCellDef>Designation</th>
                        <td mat-cell *matCellDef="let element">{{element.designation}}</td>
                    </ng-container>

                    <ng-container matColumnDef="st">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">{{element.status}}</td>
                    </ng-container>

                    <ng-container matColumnDef="wl">
                        <th mat-header-cell *matHeaderCellDef>Work Location</th>
                        <td mat-cell *matCellDef="let element">{{element.workLocation}}</td>
                    </ng-container>

                    <ng-container matColumnDef="joiningdate">
                        <th mat-header-cell *matHeaderCellDef>Joining Date</th>
                        <td mat-cell *matCellDef="let element">{{element.joiningdate}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ht">
                        <th mat-header-cell *matHeaderCellDef>Hiring Type</th>
                        <td mat-cell *matCellDef="let element">{{element.hiringType}}</td>
                    </ng-container>

                    <ng-container matColumnDef="hm">
                        <th mat-header-cell *matHeaderCellDef>Hiring Manager</th>
                        <td mat-cell *matCellDef="let element">{{element.hiringManager}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cd">
                        <th mat-header-cell *matHeaderCellDef>Created Date</th>
                        <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr> 
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination> -->
            </div>
        </div>
    </div>
</div>
<div align="end">
    <button mat-raised-button color="primary">Open</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Edit</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Delete</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">View</button>&nbsp;&nbsp;    
</div>

