<div class="body-content">
    <div class="containerLayout" style="margin: 30px;">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
            <div fxFlex="30">
                <mat-form-field class="max-width">
                    <mat-label>Search By Name or Code</mat-label>
                    <input type="text" matInput [(ngModel)]="name" [matAutocomplete]="auto"
                        (ngModelChange)="search($event)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)"
                        [displayWith]="getOptionText">
                        <mat-option *ngFor="let item of searchLst" [value]="item"
                            [ngClass]="{'hide-autocomplete': name.length < 3}">
                            {{item.fullName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="selectedEmp">Employee Code : {{ selectedEmp.empId}}</mat-hint>
                </mat-form-field>
            </div>
            <!-- <div fxFlex="10">
                <div style="padding: 10px;">
                    <button mat-raised-button color="primary" (click)="apply()">Search</button>
                </div>
            </div> -->
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div fxLayout="row" fxLayout.xs="column" *ngIf="showData">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <div *ngIf="(length && length > 0)">
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
                </div>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button color="primary" (click)="openApplyLeaveModal()">Apply Leave</button>
            </div>
        </div>
        <br />
        <div fxLayout="row" fxLayout.xs="column" *ngIf="showData">
            <div fxFlex="100">
                <table mat-table [dataSource]="summaryLst" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="from">
                        <th mat-header-cell *matHeaderCellDef> From Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.fromDate |
                            date:'dd-MMM-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="to">
                        <th mat-header-cell *matHeaderCellDef> To Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.toDate |
                            date:'dd-MMM-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="days">
                        <th mat-header-cell *matHeaderCellDef> Days </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.days}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.leaveTypeStr}} </td>
                    </ng-container>

                    <ng-container matColumnDef="appliedTo">
                        <th mat-header-cell *matHeaderCellDef> Applied To </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.appliedTo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.statusStr}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="summaryColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: summaryColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
</div>