<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>search</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput autocomplete="off" placeholder="First Name">
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput autocomplete="off" placeholder="Last Name">
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Email ID</mat-label>
                <input matInput autocomplete="off" placeholder="Email ID">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Relevent Experiance</mat-label>
                <input matInput autocomplete="off" placeholder="Relevent Experience">
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Matching Skills</mat-label>
                <input matInput autocomplete="off" placeholder="Matching Skills">
            </mat-form-field>
        </div>
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>PAN No.</mat-label>
                <input matInput autocomplete="off" placeholder="PAN No.">
            </mat-form-field>
        </div>
        </div>
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
        <div fxFlex.lg="30" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Mobile No.</mat-label>
                <input matInput autocomplete="off" placeholder="Mobile No.">
            </mat-form-field>
        </div>
    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>PROFILES | TOTAL</h3>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table class="mat-elevation-z4 rtable">
                    <!-- [dataSource]="lstGrid" -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="cn">
                        <th mat-header-cell *matHeaderCellDef>Candidate Name</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="relExp">
                        <th mat-header-cell *matHeaderCellDef>Relevent Experience</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Mobno">
                        <th mat-header-cell *matHeaderCellDef>Mobile No.</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="res">
                        <th mat-header-cell *matHeaderCellDef>Resume</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr> 
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination> -->
            </div>
        </div>
    </div>
</div>
<div class="example-button-row" align="end">
    <button mat-raised-button color="primary" >Attach</button>
    <button mat-raised-button color="primary">Show Timeline</button>
    <button mat-raised-button color="primary">View</button>
    <button mat-raised-button color="primary">Edit</button>
    <button mat-raised-button color="primary">Add Profile</button>
    <button mat-raised-button color="primary">View Details</button>
</div>

