<!-- <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>
    <div class="row" fxLayout style="margin-left: 45%;">
        <div>
            Myspace NX V2.0
        </div>
    </div>
</mat-toolbar> -->
<!-- <button mat-icon-button (click)="sidenav.toggle()"> -->
<!-- *ngIf="sidenav.mode === 'over'" -->
<!-- <mat-icon *ngIf="!sidenav.opened"> -->
<!-- <mat-icon>
        menu
    </mat-icon> -->
<!-- <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon> -->
<!-- </button> -->
<!-- <div fxShow="true" fxHide.lt-md fxFlex fxLayout>
    The following menu items will be hidden on both SM and XS screen sizes 
    <div fxFlex>
       <a href="#" mat-button>Align left</a>
       <a href="#" mat-button>Align left</a>
    </div>
    <div fxFlex fxLayoutAlign="center center">
       <a href="#" mat-button>Align center</a>
       <a href="#" mat-button>Align center</a>
    </div>
    <div fxFlex fxLayoutAlign="flex-end center">
       <a href="#" mat-button>Align right</a>
       <a href="#" mat-button>Align right</a>
    </div>
  </div> -->

<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="title-center">Myspace NX V2.0</span>
    <span align="left" *ngIf="sidenav.mode === 'side'" style="font-size: 16px;">{{today   | date:'MMM d, h:mm a'}}</span>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" [src]="userImg"
            onerror="this.onerror=null;this.src='../../../../assets/anonymous-user-circle-icon-vector-18958255.jpg'" />

        <h4 class="name">{{currentUser?.employeeName}}</h4>
        <p class="designation">{{currentUser?.designation}}</p>

        <mat-divider></mat-divider>

        <!-- <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button> -->

        <mat-nav-list>
            <mat-accordion class="example-headers-align">
                <!-- <mat-expansion-panel class="navList" [expanded]="expand1" (opened)="setActive('expand1')">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: white !important;">
                            Leaves
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['lms/myrequests']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>My Requests
                        </a>
                        <a mat-list-item [routerLink]="['lms/teamrequests']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>My Team Requests
                        </a>
                        <a mat-list-item [routerLink]="['lms/lmsReports/tabs']" routerLinkActive="active"
                            *ngIf="checkPermissions('hrLeaveReports')">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Reports
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="navList" [expanded]="expand2" (opened)="setActive('expand2')"
                    *ngIf="checkPermissions('hrLeaveReports')">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: white !important;">
                            HR
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['lms/hr/leaveadjustments']" routerLinkActive="active"
                            *ngIf="checkPermissions('hrLeaveReports')">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Leave Adjustments
                        </a>
                        <a mat-list-item [routerLink]="['lms/hr/applyLeaveHr']" routerLinkActive="active"
                            *ngIf="checkPermissions('hrLeaveReports')">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Apply Leave
                        </a>
                        <a mat-list-item [routerLink]="['lms/hr/cron']" routerLinkActive="active"
                            *ngIf="checkPermissions('hrLeaveReports')">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Accrue Leave
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="navList" [expanded]="expand3" (opened)="setActive('expand3')">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: white !important;">
                            Configuration
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['config/leavetypes']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Leave Types
                        </a>
                        <a mat-list-item [routerLink]="['config/holidays']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Holidays
                        </a>
                        <a mat-list-item [routerLink]="['config/roles']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Roles
                        </a>
                        <a mat-list-item [routerLink]="['config/permissions']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Permissions
                        </a>
                        <a mat-list-item [routerLink]="['config/settings']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Global Settings
                        </a>
                        <a mat-list-item [routerLink]="['config/userroles']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>User Roles
                        </a>
                        <a mat-list-item [routerLink]="['config/rolepriv']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Role Privileges
                        </a>
                        <a mat-list-item [routerLink]="['config/audit']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Audit
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="navList" [expanded]="expand4" (opened)="setActive('expand4')">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: white !important;">
                            Time Sheets
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['ts/ts']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Time Sheets
                        </a>
                        <a mat-list-item [routerLink]="['ts/teamts']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>My Team
                        </a>
                        <a mat-list-item [routerLink]="['ts/cr']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Compliance Report
                        </a>
                        <a mat-list-item [routerLink]="['ts/tsreport']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Team TS Report
                        </a>
                        <a mat-list-item [routerLink]="['ts/empDb']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Employee Dashboard
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel> -->
                <mat-expansion-panel class="parentmenu" [expanded]="expand5" (opened)="setActive('expand5')">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: white !important;">
                            Hiring
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-accordion class="submenubg">
                        <mat-expansion-panel class="submenu">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Hiring Requests
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item [routerLink]="['hiringRequests/jobdesc']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Create Job Description
                                </a>
                                <a mat-list-item [routerLink]="['hiringRequests/jobdesclist']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>JOB Description
                                </a>
                                <a mat-list-item [routerLink]="['hiringRequests/my-hiring-requests']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>My Hiring Requests
                                </a>
                                <a mat-list-item [routerLink]="['hiringRequests/all-hiring-requests']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>All Hiring Requests
                                </a>
                                <a mat-list-item [routerLink]="['hiringRequests/assigned-requests']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Assigned Requests
                                </a>
                                <a mat-list-item [routerLink]="['hiringRequests/assign-executive']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Assign Executive
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="submenu">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Offers
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item [routerLink]="['offers/all-offers']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>All Offers
                                </a>
                                <a mat-list-item [routerLink]="['offers/ready-to-offer']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Ready to Offer
                                </a>
                                <a mat-list-item [routerLink]="['offers/released-offers']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Released Offers
                                </a>
                                <a mat-list-item [routerLink]="['offers/declined-offers']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Declined Offers
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="submenu">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Interviews
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item [routerLink]="['interviews/scheduled-interviews']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Scheduled Interviews
                                </a>
                                <a mat-list-item [routerLink]="['interviews/my-interviews']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>My Interviews
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="submenu">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Profiles
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item [routerLink]="['profiles/search']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Search
                                </a>
                                <a mat-list-item [routerLink]="['profiles/all']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>All Profiles
                                </a>
                                <a mat-list-item [routerLink]="['profiles/profile-screening']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Profiles Screening
                                </a>
                                <a mat-list-item [routerLink]="['profiles/rejected']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Rejected
                                </a>
                                <a mat-list-item [routerLink]="['profiles/shortlisted']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Shortlisted
                                </a>
                                <a mat-list-item [routerLink]="['profiles/selected']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Selected
                                </a>
                                <a mat-list-item [routerLink]="['profiles/pre-offer-pending']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Pre-Offer Pending
                                </a>
                                <a mat-list-item [routerLink]="['profiles/pre-offer-completed']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Pre-Offer Completed
                                </a>
                                <a mat-list-item [routerLink]="['profiles/ready-to-verify']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Ready to Verify
                                </a>
                                <a mat-list-item [routerLink]="['profiles/verified']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Verified
                                </a>
                                <a mat-list-item [routerLink]="['profiles/offer-accepted']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Offer Accepted
                                </a>
                                <a mat-list-item [routerLink]="['profiles/pre-onboarding-pending']"
                                    routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Pre-Onboarding
                                    Pending
                                </a>
                                <a mat-list-item [routerLink]="['profiles/ready-to-join']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Ready to Join
                                </a>
                                <a mat-list-item [routerLink]="['profiles/joined']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Joined
                                </a>
                                <a mat-list-item [routerLink]="['profiles/no-show']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>No Show
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="submenu">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Timeline
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item [routerLink]="['features/hiring-timeline']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Hiring Timeline
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="submenu">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    IT Projection
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item [routerLink]="['features/hr-report']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>HR Report
                                </a>
                                <a mat-list-item [routerLink]="['features/it-report']" routerLinkActive="active">
                                    <mat-icon class="material-icons-sharp">navigate_next</mat-icon>IT Report
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['interviews/open-positions']" routerLinkActive="active">
                            <mat-icon class="material-icons-sharp">navigate_next</mat-icon>Open Possitions
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8 mat-body">
            <!-- <div class="route-content-top">
                <ol class="breadcrumbs">
                    Page Name
                  <li *ngFor="let breadcrumb of breadcrumbs; index as i; last as isLast">
                    <ng-container *ngIf="!breadcrumb.pauseDisplay">
                      <span class="breadcrumb-current-route" [class.breadcrumb-history-link]="!isLast" (click)="routeTo(i)">{{breadcrumb.name}}</span>
                      <span *ngIf="!isLast"> » </span>
                    </ng-container>
                  </li>
                </ol>
                <hr/>
                <mat-divider></mat-divider>
              </div> -->
            <div style="margin: 5px;">
                <!-- <br /> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>