mat-toolbar {
    // background: #004a9f;
    background: linear-gradient(to right, rgba(8, 155, 171, 1) 0%, rgba(13, 181, 200, 1) 100%);
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 260px;
    border-right: none;
    // background: #002b5c;
    background: linear-gradient(to right, rgba(8, 155, 171, 1) 0%, rgba(13, 181, 200, 1) 100%);
    color: white;
    border-radius: 10px;
    padding: 8px;  //16px;
    text-align: center;
    overflow: hidden;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 6px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: rgb(236, 234, 234);
}

mat-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

.mat-expansion-panel-header {
    height: 40px;
}


.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header {
    background: transparent;
}
// .mat-expansion-panel-content {
//     background: rgb(101, 176, 219);;
// }
// .mat-expansion-panel-body {
//     background: rgb(101, 176, 219) !important;
// }

.mat-expansion-panel-header-description, 
.mat-expansion-indicator::after {
    color: white;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
    color: white;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

// .mat-expansion-panel.mat-expanded,
// .mat-expansion-panel-header.mat-expanded:hover {
//   background: white;
//   color: black !important;
// }

// .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header {
//     background: white;
//     color: black !important;
// }

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 35px !important;
  }

  
//   .example-spacer {
//     flex: 1 1 auto;
//   }

  .title-center {
    flex: 1 1 auto;
    text-align: center;
  }