<div class="body-content">
    <div class="containerLayout" style="margin: 30px;">
        <!-- <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" align="end">
                <button mat-raised-button color="primary" (click)="onCreditLeaves()">Credit Leaves</button>
            </div>
        </div> -->
        <br />
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <div *ngIf="(length && length > 0)">
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
                </div>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button color="primary" (click)="onCreditLeaves()">Credit Leaves</button>
            </div>
        </div>
        
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Cron Job Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.cronJobTypeStr}} </td>
                    </ng-container>

                    <ng-container matColumnDef="month">
                        <th mat-header-cell *matHeaderCellDef> Month - Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'MMMM-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ltype">
                        <th mat-header-cell *matHeaderCellDef> Leave Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.accruedLeaveType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="runby">
                        <th mat-header-cell *matHeaderCellDef> Run By </th>
                        <td mat-cell *matCellDef="let element"> {{element.ranByName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="updated">
                        <th mat-header-cell *matHeaderCellDef> Created on </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'dd-MMM-yyyy'}} </td>
                    </ng-container>
    
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
</div>