<div class="body-content">
    <div class="containerLayout" style="margin: 30px;">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
            <div fxFlex="30">
                <mat-form-field class="max-width">
                    <mat-label>Search By Name or Code</mat-label>
                    <input type="text" matInput [(ngModel)]="name" [matAutocomplete]="auto"
                        (ngModelChange)="search($event)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)"
                    [displayWith]="getOptionText">
                        <mat-option *ngFor="let item of searchLst" [value]="item"
                            [ngClass]="{'hide-autocomplete': name.length < 3}">
                            {{item.fullName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="selectedEmp">Employee Code : {{ selectedEmp.empId}}</mat-hint>
                </mat-form-field>
            </div>
            <!-- <div fxFlex="10">
                <div style="padding: 10px;">
                    <button mat-raised-button color="primary" (click)="apply()">Search</button>
                </div>
            </div> -->
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div fxLayout="row" fxLayout.xs="column" *ngIf="showData">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <div *ngIf="(length && length > 0)">
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
                </div>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button color="primary" (click)="openDialog(adjustTemplate)">Adjust Leaves</button>
            </div>
        </div>
        <br />
        <div fxLayout="row" fxLayout.xs="column" *ngIf="showData">
            <div fxFlex="100">
                <table mat-table [dataSource]="adjustedLst" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Leave Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveTypeStr}} </td>
                    </ng-container>

                    <ng-container matColumnDef="days">
                        <th mat-header-cell *matHeaderCellDef> Adjusted Days </th>
                        <td mat-cell *matCellDef="let element"> {{element.days}} </td>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                        <th mat-header-cell *matHeaderCellDef> Comments </th>
                        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                    </ng-container>

                    <ng-container matColumnDef="updatedDate">
                        <th mat-header-cell *matHeaderCellDef>Updated Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.appliedDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="updatedBy">
                            <th mat-header-cell *matHeaderCellDef> Updated By </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="copl">
                        <th mat-header-cell *matHeaderCellDef>Comp Off / PL Date</th>
                        <td mat-cell *matCellDef="let element"> </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="adjustedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: adjustedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPaginationChange($event)">
                </mat-paginator> -->
            </div>
        </div>
    </div>
</div>

<ng-template #adjustTemplate>
    <h2 mat-dialog-title align="center">Leave Balance Adjustments</h2>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="leaveAdjustForm" class="form" style="font-size: 14px;">
        <mat-dialog-content>
            <div class="full-width">
                <mat-label fxFlex="50" style="color: grey;">Employee Code</mat-label>
                <p align="start">{{selectedEmp.empId}}</p>
            </div>
            <div class="full-width">
                <mat-label fxFlex="50" style="color: grey;">Name</mat-label>
                <p align="start">{{selectedEmp.fullName}}</p>
            </div>
            <div class="full-width">
                <mat-label fxFlex="50" style="color: grey;">DOJ</mat-label>
                <p align="start">{{selectedEmp.doj | date:'dd-MMM-yyyy'}}</p>
            </div>
            <mat-form-field class="full-width">
                <!-- floatLabel = "never" -->
                <mat-label>Action</mat-label>
                <mat-select formControlName="action">
                    <mat-option>Select</mat-option>
                    <mat-option value="increase">Increase</mat-option>
                    <mat-option value="decrease">Decrease</mat-option>
                </mat-select>
                <mat-error *ngIf="f.action.hasError('required')">Action is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <!-- floatLabel = "never" -->
                <mat-label>Type</mat-label>
                <mat-select formControlName="leaveType">
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let item of typeLst" [value]="item.id">
                        {{item.leaveDescription}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="f.leaveType.hasError('required')">Leave Type is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Days</mat-label>
                <input type="text" matInput autocomplete="off" maxlength="10" formControlName="days"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode==46)"
                    appTwoDecimal/>
                <mat-error *ngIf="f.days.hasError('required')">Days is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Comments</mat-label>
                <textarea matInput autocomplete="off" formControlName="comments" maxlength="100"></textarea>
                <mat-error *ngIf="f.comments.hasError('required')">Comments is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br />
            <br />
            <br />
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close color="danger">Cancel</button>
            <button mat-button color="primary" type="submit" (click)="onSubmit()" cdkFocusInitial>Submit</button>
        </mat-dialog-actions>
    </form>
</ng-template>