<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>{{pageTitle}}</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br/>
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Entity Name</mat-label>
                <mat-select [(ngModel)]="entityName">
                    <mat-option *ngFor="let item of entityLst" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" >
                <input matInput autocomplete="off" [(ngModel)]="entityId" placeholder="Entity Id"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Operation</mat-label>
                <mat-select [(ngModel)]="operation">
                    <mat-option value="">Select</mat-option>
                    <mat-option value="create">Create</mat-option>
                    <mat-option value="update">Update</mat-option>
                    <mat-option value="delete">Delete</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div *ngIf="showData">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef> Created By </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                    </ng-container>

                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef> Created On </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'dd-MMM-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="data">
                        <th mat-header-cell *matHeaderCellDef> Data </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon matTooltip="View" (click)="openDialog(element)">
                                visibility
                            </mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <h2 mat-dialog-title align="center">Request Data</h2>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content>
        <div fxLayout="row wrap">
            <div fxFlex="50" *ngFor="let key of objectKeys(viewData)">
                <mat-label fxFlex="50" style="color: grey;">{{key}}</mat-label>
                <p align="start">: {{(key == 'createdOn' || key == 'modifiedOn') ? (viewData[key] | date:'dd-MMM-yyyy')
                    : viewData[key]}}</p>
            </div>
        </div>
        <br />
    </mat-dialog-content>
</ng-template>