<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="30" align="start">
            <h2><strong>{{pageTitle}}</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="30" align="start" style="padding-left: 2px;">
            <div style="padding-top: 10px;" fxLayoutGap="3px">
                <!-- <button mat-raised-button class="exp-buttons">PDF</button>
                <button mat-raised-button class="exp-buttons">Excel</button> -->
            </div>
        </div>
        <div fxFlex="40" align="start">
            <div fxFlex="100" fxLayout fxLayout.xs="column" fxLayoutGap="3px">
                <div fxFlex="20" align="start">
                    <mat-form-field class="full-width">
                        <mat-label>Column</mat-label>
                        <mat-select  [(ngModel)]="columnName">
                            <mat-option>Select Column</mat-option>
                            <mat-option value="leaveCode">Code</mat-option>
                            <mat-option value="leaveDescription">Description</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="50" align="start">
                    <mat-form-field class="full-width" >
                        <input matInput autocomplete="off" placeholder="Search"  [(ngModel)]="searchField">
                        <mat-icon matSuffix class="material-icons-round" (click)="onSearch()">search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="30" align="end" style="padding-bottom: 3px; padding-left: 2px;">
            <div style="padding-top: 10px;" fxLayoutGap="3px">
                <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
                <button mat-raised-button color="primary" (click)="onDelete()">Delete</button>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
        <div class="responsive-table" fxFlex="100">
            <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef matTooltip="Select All">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                </ng-container>
                <ng-container matColumnDef="sl.no">
                    <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.leaveCode}} </td>
                </ng-container>

                <ng-container matColumnDef="desc">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.leaveDescription}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Edit" (click)="onEdit(element)">edit</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="8" align="center">No data</td>
                </tr>
            </table>
            <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
        </div>
    </div>
</div>

<ng-template #modalTemplate>
    <h2 mat-dialog-title align="center">{{f.id.value == 0 ? 'Add ' : 'Update '}} {{pageTitle}}</h2>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="inputForm" class="form" style="font-size: 14px;">
        <mat-dialog-content>
            <mat-form-field class="full-width">
                <mat-label>Leave Code</mat-label>
                <input matInput autocomplete="off" formControlName="leaveCode" maxlength="10" />
                <mat-error *ngIf="f.leaveCode.hasError('required')">Leave Code is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput autocomplete="off" formControlName="leaveDescription" maxlength="100"></textarea>
                <mat-error *ngIf="f.leaveDescription.hasError('required')">Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Days Per Year</mat-label>
                <input matInput autocomplete="off" formControlName="daysPerYear" maxlength="10" 
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"/>
                <mat-error *ngIf="f.daysPerYear.hasError('required')">Days is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Class Name</mat-label>
                <input matInput autocomplete="off" formControlName="className" maxlength="10" />
                <mat-error *ngIf="f.className.hasError('required')">Class Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" autocomplete="off" formControlName="startDate"
                    (click)="picker.open()" (keydown)="false">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker1" autocomplete="off" formControlName="endDate"
                    (click)="picker1.open()" (keydown)="false">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <div class="full-width" flexLayout="row" flexLayout.xs="column">
                <mat-label fxFlex="50">Accruable</mat-label>
                <div fxFlex="50">
                    <mat-radio-group flexLayout="row" color="primary" fxLayoutAlignGap="2px" matInput
                        aria-label="Select an option" formControlName="accruable">
                        <mat-radio-button fxFlex [value]="true">True </mat-radio-button>
                        <mat-radio-button fxFlex [value]="false">False</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="full-width" flexLayout="row" flexLayout.xs="column">
                <mat-label fxFlex="50">Active</mat-label>
                <div fxFlex="50">
                    <mat-radio-group flexLayout="row" color="primary" fxLayoutAlignGap="2px" matInput
                        aria-label="Select an option" formControlName="enabled">
                        <mat-radio-button fxFlex [value]="true">True </mat-radio-button>
                        <mat-radio-button fxFlex [value]="false">False</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <br />
            <br />
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close color="danger">Cancel</button>
            <button mat-button type="submit" color="primary" (click)="onSubmit()" cdkFocusInitial>Submit</button>
        </mat-dialog-actions>
    </form>
</ng-template>