<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Personal</strong></h2>
        </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
       
        <div fxFlex.lg="40" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Hiring Request</mat-label>
                 <mat-select>
                    
                </mat-select> 
            </mat-form-field>
        </div>
        <div fxFlex.lg="40" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Hiring Need</mat-label>
                <mat-select>
                    <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
      
    </div>

    <div>
      
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex.lg="100" fxFlex.xs="100">
            <mat-tab-group>
                <mat-tab label="Personal Info" appearance="outline" required> 
                    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput required autocomplete="off" placeholder="First Name" name="firstName"
                                maxlength="100" [(ngModel)]="personalDetailsFrmProspectData.firstName" #firstNameRef="ngModel"
                                [readOnly]="viewMode" pattern=".*\S+.*" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Middle Name</mat-label>
                                <input matInput required autocomplete="off" placeholder="Middle Name" name="middleName"
                                maxlength="100" [(ngModel)]="personalDetailsFrmProspectData.middleName" #middleNameRef="ngModel"
                                [readOnly]="viewMode" pattern=".*\S+.*" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput required autocomplete="off" placeholder="Last Name" name="lastName"
                                maxlength="100" [(ngModel)]="personalDetailsFrmProspectData.lastName" #lastNameRef="ngModel"
                                [readOnly]="viewMode" pattern=".*\S+.*" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Personal EmailID</mat-label>
                                <input matInput required autocomplete="off" placeholder="Personal EmailID" maxlength="64"
                                [(ngModel)]="personalDetailsFrmProspectData.email" name="personalEmailID" #personalEmailIDRef="ngModel"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [readOnly]="viewMode"
                                (blur)="checkEmail($any($event.target).value)" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput required autocomplete="off" placeholder="Mobile No." name="mobileNumber"
                                class="form-control inputText" id="mobileNumber" required minlength="10" maxlength="15"
                                (keypress)="restrictMobilenumber($event)"  [readOnly]="viewMode"
                                (blur)="checkMobile($any($event.target).value)">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Date</mat-label>
                                <input matInput required [matDatepicker]="picker3" autocomplete="off" (click)="picker3.open()"
                                    (keydown)="false">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Nationality</mat-label>
                                <input matInput required autocomplete="off" placeholder="Nationality" required maxlength="32"
                                [(ngModel)]="personalDetailsFrmProspectData.nationality" name="nationality"
                                #nationalityRef="ngModel" [readOnly]="viewMode" (keypress)="restrictLetters($event)" >
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter Aadhar</mat-label>
                                <input matInput  autocomplete="off" placeholder="Enter Aadhar" minlength="12" maxlength="12"
                                (keypress)="restrictNumeric($event)" [(ngModel)]="personalDetailsFrmProspectData.citizenIdentity1"
                                name="citizenIdentity1" [readOnly]="viewMode" #aadharRef="ngModel" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter PAN</mat-label>
                                <input matInput  autocomplete="off" placeholder="Enter PAN" maxlength="10" minlength="10"
                                [(ngModel)]="personalDetailsFrmProspectData.citizenIdentity2" name="citizenIdentity2"
                                [readOnly]="viewMode" #panRef="ngModel" (blur)="checkCitizenIdentity($any($event.target).value)"
                                 />
                            </mat-form-field>
                        </div>
                        <label>Current Address &nbsp;&nbsp;&nbsp;<mat-checkbox class="example-margin">Check me!</mat-checkbox></label>
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House No./Plot No.</mat-label>
                                <input matInput  autocomplete="off" placeholder="House No./Plot No."maxlength="100" class="form-control inputText"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.address1" name="currentPlotNumber"
                                #currentPlotNumberRef="ngModel" [readOnly]="viewMode" required />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House Name & Street</mat-label>
                                <input matInput  autocomplete="off" placeholder="House Name & Street" [(ngModel)]="personalDetailsFrmProspectData.currentAddress.address2" name="currentStreetName"
                                #currentStreetNameRef="ngModel" maxlength="100" [readOnly]="viewMode" />
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Country</mat-label>
                                <input matInput required autocomplete="off" placeholder="Country" name="currentCountry" class="form-control" #currentCountryRef="ngModel"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.country" [disabled]="viewMode"
                                (change)="getState($any($event.target).value);onCountryChange('present')">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput required autocomplete="off" placeholder="State" name="currentState" class="form-control" #currentStateRef="ngModel"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.state" [disabled]="viewMode"
                                (change)="getState($any($event.target).value);onCityChange('present')">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput required autocomplete="off" placeholder="City" maxlength="32" class="form-control inputText" required
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.city" name="currentCity"
                                #currentCityRef="ngModel" [readOnly]="viewMode" pattern=".*\S+.*" >
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Pin Code</mat-label>
                                <input matInput required autocomplete="off" placeholder="Pin Code"
                                [(ngModel)]="personalDetailsFrmProspectData.currentAddress.zipcode" maxlength="6"
                                name="currentZipcode" #currentZipcodeRef="ngModel" [readOnly]="viewMode"
                                (keypress)="restrictNumeric($event)" minlength="6" pattern="[0-9]{6}">
                            </mat-form-field>
                        </div>
                        <label>Permanent Address</label>
                        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House No./Plot No.</mat-label>
                                <input matInput required autocomplete="off" placeholder="House No./Plot No." maxlength="100" class="form-control inputText"
								[(ngModel)]="personalDetailsFrmProspectData.permanentAddress.address1"
								name="permanentPlotNumber" #permanentPlotNumberRef="ngModel" [readOnly]="viewMode"
								required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>House Name & Street</mat-label>
                                <input matInput  autocomplete="off" placeholder="House Name & Street" maxlength="100" class="form-control inputText"
								[(ngModel)]="personalDetailsFrmProspectData.permanentAddress.address2"
								name="permanentStreetName" #permanentStreetNameRef="ngModel" [readOnly]="viewMode">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Country</mat-label>
                                <input matInput required autocomplete="off" placeholder="Country">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput required autocomplete="off" placeholder="State">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>City</mat-label>
                                <input matInput required autocomplete="off" placeholder="City" required
								[(ngModel)]="personalDetailsFrmProspectData.permanentAddress.city" name="permanentCity"
								#permanentCityRef="ngModel" [readOnly]="viewMode" pattern=".*\S+.*">
                            </mat-form-field>
                        </div>
                        <div fxFlex.lg="30" fxFlex.xs="100">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Pin Code</mat-label>
                                <input matInput required autocomplete="off" placeholder="Pin Code" 
								[(ngModel)]="personalDetailsFrmProspectData.permanentAddress.zipcode" maxlength="6"
								name="permanentZipcode" #permanentZipcodeRef="ngModel" [readOnly]="viewMode"
								(keypress)="restrictNumeric($event)" minlength="6" pattern="[0-9]{6}" >
                            </mat-form-field>
                        </div>
                    </div>   
                    </div>   
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div align="end">
        <button mat-raised-button>Close</button>&nbsp;&nbsp;
        <button mat-raised-button>Confirm & Continue</button>
    </div>
    </div>
</div>





