<mat-tab-group dynamicHeight *ngIf="!showChild">
    <mat-tab label="Employee Dashboard">
        <ng-template matTabContent>
            <div class="containerLayout" style="margin: 30px;">
                <!-- <div class="row" fxLayout fxLayout.xs="column">
                    <div fxFlex="50" align="start">
                        <h2><strong>Time Sheets</strong></h2>
                    </div>
                </div> -->
                <!-- <mat-divider></mat-divider> -->
                <div fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex="10" align="start">
                        <h3>Color Codes : </h3>
                    </div>
                    <div fxFlex="90" align="start">
                        <div fxFlex="100" fxLayoutAlignGap="10px" style="padding-top: 5px;">
                            <p fxFlex style="color: chocolate;">Work From Home</p>
                            <p fxFlex style="color: green;">Holiday</p>
                            <p fxFlex style="color: #db8f03;">Leave</p>
                            <p fxFlex style="color: #03A9F4;">Onduty</p>
                            <p fxFlex style="color: #ffc400;">TS Pending</p>
                            <p fxFlex style="color: #a7ff91;">TS Approved</p>
                            <p fxFlex style="color: #ff5050;">TS Rejected</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" fxLayout fxLayout.lt-md="column">
                    <div fxFlex="50">
                        <h3>{{this.viewDay | date: 'MMMM - yyyy'}}</h3>
                    </div>
                    <div fxFlex="50">
                        <div fxLayout.lt-md="column" align="end" fxLayoutGap="10px">
                            <!-- <button mat-raised-button color="secondary" (click)="onFillAll()">Fill All</button> -->
                            <button mat-raised-button color="primary" (click)="onArrow('prev')">
                                <mat-icon>arrow_left</mat-icon>
                            </button>
                            <button mat-raised-button color="primary" (click)="onArrow('today')">Today</button>
                            <button mat-raised-button color="primary" (click)="onArrow('next')">
                                <mat-icon>arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div class="responsive-table" fxFlex="100">
                        <table mat-table [dataSource]="currentDates" class="tstable mat-elevation-z8">
                            <ng-container [matColumnDef]="column.day" *ngFor="let column of displayedColumns">
                                <th mat-header-cell *matHeaderCellDef> {{column.day}} </th>
                                <td mat-cell *matCellDef="let element; let i =index"
                                    [ngClass]="{highlightToday: isToday(element[column.pos]?.date)}">
                                    <div class="row" style="padding: 10px;" *ngIf="element[column.pos]?.date">
                                        <div fxFlex.lg="75" fxFlex.xs="100" align="left">
                                            <span class="material-icons"
                                                style="cursor: pointer; font-size: 30px;"
                                                title="Apply Leave" (click)="openApplyLeaveModal()">surfing</span>
                                                <!-- color: #db8f03; -->
                                            <span class="material-icons" style="cursor: pointer; font-size: 30px;"
                                                title="Time Sheets" (click)="onDate(element[column.pos])">schedule</span>
                                        </div>
                                        <div fxFlex.lg="25" fxFlex.xs="100" align="right">
                                            <b>{{(element[column.pos]?.date| date: 'dd')}}</b>
                                        </div>
                                    </div>
                                    <!-- <div style="padding:8px"
                                            *ngFor="let item of element[column.pos]?.lineInfoList">
                                            <mat-card [ngClass]="{'pending': item.type == 11, 'leave': item.type == 21 , 'rejected':item.type == 13,
                                            'approved': item.type == 22}" *ngIf="element[column.pos] && (item.type == 11 || item.type == 21
                                             || item.type == 22 || item.type == 13)"
                                                (click)="onDate(element[column.pos])" mat-ripple>
                                                {{item.info}}</mat-card>
                                            <mat-card [ngClass]="{'approved': item.type == 12}"
                                                *ngIf="element[column.pos] && (item.type == 12)"
                                                (click)="onView(element[column.pos], item)" mat-ripple>
                                                {{item.info}}</mat-card>
                                            <mat-card [ngClass]="{'holiday': item.type == 30}"
                                                *ngIf="element[column.pos] && (item.type == 30)"
                                                (click)="checkDate(element[column.pos]?.date) && onDate(element[column.pos])"
                                                mat-ripple>
                                                {{item.info}}</mat-card>
                                        </div> -->
                                    <div class="inptFields">
                                        <div style="padding-top:5px" class="newFields"
                                            *ngIf="element[column.pos]?.lineInfoList.length == 0 && checkDate(element[column.pos]?.date)">
                                            <mat-form-field style="width: 80px;">
                                                <input type="text" matInput autocomplete="off" maxlength="5"
                                                    placeholder="Hours" [(ngModel)]="element[column.pos].hours"
                                                    onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode==46))" 
                                                    (change)="onSave(element[column.pos])"/>
                                            </mat-form-field>
                                            <br />
                                            <mat-form-field appearance="outline" style="width: 150px;">
                                                <textarea type="text" matInput autocomplete="off" rows="2" [(ngModel)]="element[column.pos].desc"
                                                    placeholder="Description" (change)="onSave(element[column.pos])"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- </mat-card-content>
                                    </mat-card> -->
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row">
                            </tr>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<div *ngIf="showChild">
    <app-tasks [projectDetails]="projectDetails" [taskDate]="selectedDate" [employeeCode]="empCode"
        (messageEvent)="receiveMessage($event)"></app-tasks>
</div>