/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/app/shared/theming/theme.scss";

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: black;
}

// .mat-form-field-label {
//     font-size: 100px;
// }

.mat-header-cell {
  // background: #303F9F;
  background: rgb(101, 176, 219);
  color: white;
  font-size: 14px;
}

.mat-drawer-inner-container {
  padding-right: 10px;
}

.mat-dialog-content::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background-color: lightgrey;
}

.mat-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(180, 179, 179);
}

.mat-drawer-inner-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
  background-color: lightgrey;
}

.mat-drawer-inner-container:hover::-webkit-scrollbar {
  width: 15px;
  border-radius: 15px;
  background-color: lightgrey;
}

.mat-drawer-inner-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(180, 179, 179);
}

.mat-drawer-content::-webkit-scrollbar {
  width: 15px;
  border-radius: 15px;
  background-color: lightgrey;
}

.mat-drawer-content::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(180, 179, 179);
}

.responsive-table::-webkit-scrollbar {
  height: 10px;
  border-radius: 15px;
  background-color: lightgrey;
}

.responsive-table::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(180, 179, 179);
}
// .mat-dialog-content::-webkit-scrollbar {
//   width: 15px;
//   background-color: lightgrey;
// }

// .mat-dialog-content::-webkit-scrollbar-thumb {
//     background: rgb(180, 179, 179);
// }

.example-headers-align .mat-expansion-panel-body {
  background: #3ebbd5 !important;
  padding: 0 !important;
  a {
    color: rgb(70, 59, 1);
    // .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    //   height: 0px  !important;
    // }
  }
  // .mat-list-base .mat-list-item .mat-list-item-content {
  //   // height: 5px !important;
  // }
}

// .mat-drawer-inner-container::-webkit-scrollbar {
//   display: none;
// }

.example-headers-align .navList {
  background: rgb(0, 102, 176);
  background: linear-gradient(90deg, rgba(0, 102, 176, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.example-headers-align .parentmenu {
  background: rgb(0, 102, 176);
  background: linear-gradient(90deg, rgba(0, 102, 176, 1) 0%, rgba(0, 212, 255, 1) 100%);

  .mat-expansion-panel-body {
    margin: 3px !important;
    background: transparent !important;
  }

}

.submenubg .submenu {
  // margin-top: 5px;
  background: #01588a !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  mat-panel-title {
    color: white !important;
  }
  .mat-expansion-panel-body {
    background: #3ebbd5 !important;
    padding: 0 !important;
    color: white !important;
  }
  
  .mat-expansion-indicator, .mat-expansion-indicator:after {
    color: white !important;
  }
}

.accordion {
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header {
    background: rgb(0, 102, 176) !important;
  }
}

.accordion .panel {
  background: rgb(0, 102, 176);
  height: 40px;
  mat-panel-title {
    color: white !important;
  }

  .mat-expansion-indicator, .mat-expansion-indicator:after {
    color: white !important;
  }
}

.panel:hover {
  background: rgb(0, 102, 176) !important;
}

// @media (hover: none)
// .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
//   background: rgb(0, 102, 176);
//   background: linear-gradient(90deg, rgba(0, 102, 176, 1) 0%, rgba(0, 212, 255, 1) 100%);
// }
// .example-headers-align .mat-expansion-panel-content {
//         background: rgb(4, 89, 138);;
//     }

.snackbar-container {
  margin-top: 70px !important;
  color: white;
  // color: beige;
  &.error {
    background-color: #c62828 !important;
  }
  &.success {
    background-color: #2e7d32 !important;
  }

  &.warning {
    background-color: #ff8f00 !important;
  }

  &.info {
    background-color: #19a7e9 !important;
    // color: black;
  }
}

.cardLayout {
  display: block;
  min-height: 100%;
  overflow: auto;
  padding:10px;
}

.body-content {
  //tabs
  display: block;
  min-height: 100%;
  overflow: auto;
}

.containerLayout {
  //screens
  display: block;
  min-height: 100%;
  overflow: auto;
  margin: 20px 10px 10px 10px;
  // padding-top: 5px;
  // padding-bottom: 45px;
}

.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
  flex: 1 1 100%;
}

.responsive-table {
  overflow: auto;
  // overflow-x: scroll;
  // height: calc(100vh - 32px);
}

.rtable {
  min-width: 100%;
  margin-top: 10px !important;
}

.tstable {
  width: 100%;
  margin-top: 10px !important;
}

.mat-table {
  overflow-x: scroll;
}

// .mat-paginator{
//   // width:90vw;
// }


.mat-header-cell {
  // word-wrap: initial;
  // display: table-cell;
  padding: 0px 10px !important;
  // line-break: unset;
  // width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-cell {
  padding: 0px 10px !important;
  white-space: nowrap;
  // overflow: hidden;
  vertical-align: middle;
}

// .mat-row,
// .mat-header-row {
//   display: table-row;
// }

// Alternate Row Color
// .mat-row:nth-child(2n+1){
//   background-color: #e4f0ec;
// }
// .mat-row:not(:nth-child(4n+1)){
//   background-color:#ffffff;
// }

.mat-nav-list a.active {
  background-color: rgb(83, 83, 83) !important;
  color: white !important;
  border-left: 4px solid red;
  mat-icon {
    color: white !important;
    font-weight: bolder;
  }
}

.my-form-field .mat-form-field-wrapper {
  margin-bottom: -0.9em !important;
}

.mat-form-field {
  font-size: 14px;
}

.full-width {
  margin-top: 5px;
  width: 100%;
}

.max-width {
  margin-top: 5px;
  width: 90%;
}

.hide-autocomplete {
  display: none;
} // Hiding autocomplete

// .mat-form-field-appearance-fill .mat-form-field-flex {
//   background-color: transparent;
// }

// .mat-form-field-label {
//   color: #3f51b5 !important;
// }

// .primary {
//   color: #3f51b5 !important;
// }

ol.breadcrumbs {
  padding: 0;
  list-style-type: none;
}

.breadcrumb-current-route {
  color: inherit;
  font-weight: 500;
}

.breadcrumb-history-link {
  color: #3f51b5;
  text-decoration: underline;
  cursor: pointer;
}

ol.breadcrumbs li {
  list-style-type: none;
}

@media only screen and (min-width: 960px) {
  ol.breadcrumbs li {
    list-style-type: none;
    display: inline;
  }

  .route-content-top {
    height: 30px;
  }
}

// ************

.content {
  min-height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: block;
  // justify-content: center;
  // align-items: center;

  font-size: 14px;
  // 2rem
  overflow: auto;
  // color: black;
}

.mat-tab-body-content {
  min-height: 100% !important;
}

// .mat-list-item-content {
//   height: 30px !important;
// }

.fixed_col_ellipses {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fieldsetRadio .mat-radio-ripple {
  display: none !important;
}

.taskfield .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}

fieldset {
  border: 1px solid lightgrey;
  // background: #ddd;
  border-radius: 5px;
  padding: 15px;
  overflow: visible;
}

.own-mat-table {
  display: inline;
}

.own-mat-header-cell {
  align-items: center;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
  border: 1px solid lightgrey;
  padding: 5px;
  margin-bottom: 0px;
  background-color: rgb(236, 236, 236);
}

.own-mat-row p {
  word-wrap: break-word;
  // word-break: break-all;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px;
  margin-bottom: 0px;
}

// pagination *********************************************

.custom-pageNumber {
  font-size: small;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 18px;
  margin-right: 4px;
}

.custom-pagination {
  background-color: white;
}


.demo-row-is-clicked {
  font-weight: bold;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0px 5px !important;
  font-size: 16px !important;
}

// diabled color For label

.mat-form-field-appearance-outline.mat-form-field-disabled.mat-form-field-label {
  color: rgba(0,0,0,1)!important;
}

.mat-select-disabled .mat-select-value {
  color: rgba(0,0,0,1)!important;
}
// disabled color For input value

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: rgba(0,0,0,1)!important;
}

.ng2-tag-input.ng2-tag-input--disabled {
  opacity: 1 !important;
}