<div class="body-content">
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker" autocomplete="off" [(ngModel)]="fromDate"
                    (click)="picker.open()" (keydown)="false" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" autocomplete="off" [(ngModel)]="toDate"
                    (click)="picker1.open()" (keydown)="false" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width">
                <mat-label>Work Location</mat-label>
                <mat-select [(ngModel)]="location">
                    <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" >
                <input matInput autocomplete="off" [(ngModel)]="search" placeholder="Emp Name/Code">
                <!-- <mat-icon matSuffix class="material-icons-round" (click)="loadData()">search</mat-icon> -->
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div [hidden]="!showData">
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="100" align="start">
                <h3>Availed Leaves Report</h3>
            </div>
        </div>
        <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0)">
            <div fxFlex="50" align="start" fxLayoutGap="3px">
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv')">CSV</button>
                <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">
                    <ng-container matColumnDef="sl.no">
                        <th mat-header-cell *matHeaderCellDef> Sl.No </th>
                        <td mat-cell *matCellDef="let element;let i=index">{{i+1 + (pageIndex*pageSize)}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="empId">
                        <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cl">
                        <th mat-header-cell *matHeaderCellDef> Casual Leave </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesAvailed[1]}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="el">
                        <th mat-header-cell *matHeaderCellDef> Earned Leave </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesAvailed[2]}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oh">
                        <th mat-header-cell *matHeaderCellDef> Optional Holiday </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesAvailed[3]}} </td>
                    </ng-container>

                    <ng-container matColumnDef="co">
                        <th mat-header-cell *matHeaderCellDef> Comp Off </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesAvailed[6]}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lop">
                        <th mat-header-cell *matHeaderCellDef> LOP </th>
                        <td mat-cell *matCellDef="let element"> {{element.leavesAvailed[9]}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
</div>