<div class="body-content">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Leave Requests">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" align="start">
                            <h3>Project Team Leave Requests</h3>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" *ngIf="(length && length > 0)">
                        <div fxFlex="50" align="start" fxLayoutGap="3px">
                            <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv' , 'mr')">CSV</button>
                            <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx', 'mr')">Excel</button>
                        </div>
                    </div>
                    <div>
                        <table mat-table [dataSource]="lstGrid" class="mat-elevation-z4 rtable">

                            <ng-container matColumnDef="sl">
                                <th mat-header-cell *matHeaderCellDef> S.No </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{(pageSize * pageIndex) + i+1}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="from">
                                <th mat-header-cell *matHeaderCellDef> From Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.fromDate |
                                    date:'dd-MMM-yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="to">
                                <th mat-header-cell *matHeaderCellDef> To Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.toDate |
                                    date:'dd-MMM-yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="days">
                                <th mat-header-cell *matHeaderCellDef> Days </th>
                                <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.days}} </td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.leaveTypeStr}} </td>
                            </ng-container>

                            <ng-container matColumnDef="reason">
                                <th mat-header-cell *matHeaderCellDef> Reason </th>
                                <td mat-cell *matCellDef="let element" [matTooltip]="element.leaveRequest?.comments"> 
                                    <div class="fixed_col_ellipses">
                                        {{element.leaveRequest?.comments}} 
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.statusStr}} </td>
                            </ng-container>

                            <ng-container matColumnDef="appliedOn">
                                <th mat-header-cell *matHeaderCellDef> Applied On </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.leaveRequest?.appliedDate
                                    | date:'dd-MMM-yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <div
                                        *ngIf="element.leaveRequest?.statusStr == 'Cancellation applied' || element.leaveRequest?.statusStr == 'Applied'">
                                        <mat-icon matTooltip="Approve" (click)="openActionModal(element, 'Approve')">
                                            check_circle
                                        </mat-icon>
                                        <mat-icon matTooltip="Reject" (click)="openActionModal(element, 'Reject')">
                                            cancel
                                        </mat-icon>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="pendingLeaveColumns"></tr>
                            <tr mat-row *matRowDef="let element; columns: pendingLeaveColumns;"
                                class="example-element-row">
                            </tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="10" align="center">No data</td>
                            </tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="onPaginationChange($event)">
                    </mat-paginator>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Comp Off Requests">
            <ng-template matTabContent>
                <div class="containerLayout" style="margin: 30px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="50" align="start" fxLayoutGap="3px" *ngIf="(lengthCO && lengthCO > 0)">
                            <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv' , 'co')">CSV</button>
                            <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx' , 'co')">Excel</button>
                        </div>
                        <div fxFlex="50" align="end">
                            <!-- <h3>Project Team Leave Requests</h3> -->
                        </div>
                    </div>
                    <div>
                        <table mat-table [dataSource]="compOffGrid" class="mat-elevation-z4 rtable">

                            <ng-container matColumnDef="sl">
                                <th mat-header-cell *matHeaderCellDef> S.No </th>
                                <td mat-cell *matCellDef="let element;let i = index;"> {{(pageSizeCO * pageIndexCO) +
                                    i+1}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="empId">
                                <th mat-header-cell *matHeaderCellDef> Employee Code </th>
                                <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="reqdate">
                                <th mat-header-cell *matHeaderCellDef> Requested Comp Off Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.compOffAgainstDate |
                                    date:'dd-MMM-yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="reasonCO">
                                <th mat-header-cell *matHeaderCellDef> Reason </th>
                                <td mat-cell *matCellDef="let element" [matTooltip]="element.appliedComments"> 
                                    <div class="fixed_col_ellipses">
                                        {{element.appliedComments}} 
                                    </div>
                                   </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let element"> {{element.statusStr}} </td>
                            </ng-container>

                            <ng-container matColumnDef="appliedOn">
                                <th mat-header-cell *matHeaderCellDef> Applied On </th>
                                <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'dd-MMM-yyyy'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="element.statusStr == 'Comp off applied'">
                                        <mat-icon matTooltip="Approve"
                                            (click)="openCompOffModal(element, 'Approve', compOffTemplate)">
                                            check_circle
                                        </mat-icon>
                                        <mat-icon matTooltip="Reject"
                                            (click)="openCompOffModal(element, 'Reject', compOffTemplate)">cancel
                                        </mat-icon>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="compOffColumns"></tr>
                            <tr mat-row *matRowDef="let element; columns: compOffColumns;" class="example-element-row">
                            </tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="8" align="center">No data</td>
                            </tr>
                        </table>
                    </div>
                    <mat-paginator #paginatorCO [length]="lengthCO" [pageSize]="pageSizeCO"
                        [pageSizeOptions]="pageSizeOptions" (page)="onPaginationChange($event, 'CO')">
                    </mat-paginator>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #compOffTemplate>
    <h2 mat-dialog-title align="center">{{modalHeader}}</h2>
    <mat-divider></mat-divider>
    <br>
    <mat-dialog-content>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Employee Code</mat-label>
            <p align="start">{{requestedData?.employeeCode}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Name</mat-label>
            <p align="start">{{requestedData?.employeeName}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Comp Off Date</mat-label>
            <p align="start">{{requestedData?.compOffAgainstDate | date:'dd-MMM-yyyy'}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Reason</mat-label>
            <p align="start">{{requestedData?.appliedComments}}</p>
        </div>
        <div class="row">
            <mat-label fxFlex="50" style="color: grey;">Status</mat-label>
            <!-- <p align="start" *ngIf="modalHeader == 'Comp Off Approve'">Approve Comp Off</p>
            <p align="start" *ngIf="modalHeader == 'Comp Off Reject'">Reject Comp Off</p> -->
            <p align="start">{{requestedData?.statusStr}}</p>
        </div>
        <mat-form-field class="full-width">
            <mat-label>Comments</mat-label>
            <textarea matInput autocomplete="off" [(ngModel)]="compOffComments"
                [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="danger">Cancel</button>
        <button type="submit" mat-button color="primary" (click)="onCompOffSubmit()" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
</ng-template>