<mat-tab-group dynamicHeight>
    <mat-tab label="Leave">
        <!-- <ng-template matTabContent> -->
        <div class="containerLayout" style="margin: 30px;">
            <div class="row" fxLayout fxLayout.xs="column">
                <div fxFlex="50" align="start">
                    <h3>Leave Balance</h3>
                </div>
                <div fxFlex="50" align="end">
                    <button mat-raised-button color="primary" (click)="openApplyLeaveModal()">Apply Leave</button>
                </div>
            </div>
            <table mat-table [dataSource]="balanceLst" class="mat-elevation-z4 demo-table">
                <ng-container matColumnDef="demo-type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.leaveTypeDescription}} </td>
                </ng-container>

                <ng-container matColumnDef="demo-balance">
                    <th mat-header-cell *matHeaderCellDef> Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.leaveBalance}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="2" align="center">No data</td>
                </tr>
            </table>

            <br />

            <div class="row" fxLayout fxLayout.xs="column">
                <div fxFlex="50" align="start">
                    <h3>Leave Summary</h3>
                    <!-- <mat-form-field floatLabel="never" class="my-form-field">
                        <input matInput (keyup)="applyFilter($any($event.target).value)"
                        autocomplete="off" placeholder="Search">
                    </mat-form-field> -->
                </div>
            </div>
            <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0)">
                <div fxFlex="50" align="start" fxLayoutGap="3px">
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv', 'mr')">CSV</button>
                    <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx', 'mr')">Excel</button>
                </div>
            </div>
            <div class="responsive-table">
                <table mat-table [dataSource]="summaryLst" class="mat-elevation-z4 rtable"
                    [multiTemplateDataRows]="true">
                    <ng-container matColumnDef="request">
                        <th mat-header-cell *matHeaderCellDef> Request </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon (click)="expandedElement = expandedElement === element ? null : element">
                                {{expandedElement === element ? 'expand_less' : 'expand_more'}}</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="from">
                        <th mat-header-cell *matHeaderCellDef> From Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.fromDate  | date:'dd-MMM-yyyy' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="to">
                        <th mat-header-cell *matHeaderCellDef> To Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.toDate | date:'dd-MMM-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="days">
                        <th mat-header-cell *matHeaderCellDef> Days </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.days}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.leaveTypeStr}} </td>
                    </ng-container>

                    <ng-container matColumnDef="appliedTo">
                        <th mat-header-cell *matHeaderCellDef> Applied To </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.appliedTo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.leaveRequest?.statusStr}} </td>
                    </ng-container>

                    <ng-container matColumnDef="appliedOn">
                        <th mat-header-cell *matHeaderCellDef> Applied On </th>
                        <td mat-cell *matCellDef="let element"> {{ element.leaveRequest?.appliedDate
                            | date:'dd-MMM-yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <mat-icon matTooltip="Approve">check_circle</mat-icon> -->
                            <mat-icon matTooltip="Raise Cancel Request"
                                *ngIf="checkEligible(element.leaveRequest)" (click)="openActionModal(element)">
                                cancel</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <br />
                        <td mat-cell *matCellDef="let element" colspan="9">
                            <div class="example-element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                <table mat-table [dataSource]="element.leaveSummaryList"
                                    class="mat-elevation-z2 etable">
                                    <ng-container matColumnDef="eDate">
                                        <th mat-header-cell *matHeaderCellDef>{{element.leaveRequest?.leaveTypeStr == 'Paternity leave' ? 'New Born Baby Date' : 'Expected Date'}}</th>
                                        <td mat-cell *matCellDef="let element"> {{element.expectedOrNewBornDate | date:'dd-MMM-yyyy'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="eStatus">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.statusStr}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="eComments">
                                        <th mat-header-cell *matHeaderCellDef> Comments </th>
                                        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="eBalance">
                                        <th mat-header-cell *matHeaderCellDef> Balance </th>
                                        <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
                                    </ng-container>

                                    <tr mat-header-row
                                        *matHeaderRowDef="getDisplayedColumns(element.leaveRequest?.leaveTypeStr)"></tr>
                                    <tr mat-row
                                        *matRowDef="let row; columns: getDisplayedColumns(element.leaveRequest?.leaveTypeStr);">
                                    </tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4" align="center">No data</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="summaryColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: summaryColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element">
                        <!-- (click)="expandedElement = expandedElement === element ? null : element"> -->
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
            <!-- <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="onPaginationChange($event)">
            </mat-paginator> -->

        </div>
    <!-- </ng-template> -->
    </mat-tab>
    <mat-tab label="Request Comp Off" *ngIf="showCompOffTab">
        <!-- <ng-template matTabContent> -->
        <div class="containerLayout" style="margin: 30px;">
            <div class="row" fxLayout fxLayout.xs="column">
                <div fxFlex="50" align="start" fxLayoutGap="3px">
                    <div *ngIf="(lengthCO && lengthCO > 0)">
                        <button mat-raised-button class="exp-buttons" (click)="downloadReport('csv', 'co')">CSV</button>
                        <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx', 'co')">Excel</button>
                    </div>
                </div>
                <div fxFlex="50" align="end">
                    <button mat-raised-button color="primary" (click)="openDialog(template)">Request For Comp
                        off</button>
                </div>
            </div>
            <!-- <div fxLayout="row" fxLayout.xs="column"> -->
                <div class="responsive-table">
                    <table mat-table [dataSource]="compOffGrid" class="mat-elevation-z4 rtable"
                    [multiTemplateDataRows]="true">
                    <ng-container matColumnDef="request">
                        <th mat-header-cell *matHeaderCellDef> Request </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon (click)="expandedElement = expandedElement === element ? null : element">
                                {{expandedElement === element ? 'expand_less' : 'expand_more'}}</mat-icon>
                        </td>
                    </ng-container>

                        <ng-container matColumnDef="dateCO">
                            <th mat-header-cell *matHeaderCellDef> Requested Comp Off Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.compOffRequest?.compOffAgainstDate | date:'dd-MMM-yyyy'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="expiryCO">
                            <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.compOffRequest?.expiryDate | date:'dd-MMM-yyyy'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="appliedBy">
                            <th mat-header-cell *matHeaderCellDef> Applied By </th>
                            <td mat-cell *matCellDef="let element"> {{element.compOffRequest?.createdBy}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="appliedOnCO">
                            <th mat-header-cell *matHeaderCellDef> Applied On </th>
                            <td mat-cell *matCellDef="let element"> {{element.compOffRequest?.createdOn | date:'dd-MMM-yyyy'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="reasonCO">
                            <th mat-header-cell *matHeaderCellDef> Reason </th>
                            <td mat-cell *matCellDef="let element" [matTooltip]="element.appliedComments"> 
                                <div class="fixed_col_ellipses">
                                    {{element.compOffRequest?.appliedComments}} 
                                </div>
                               </td>
                        </ng-container>

                        <ng-container matColumnDef="statusCO">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.compOffRequest?.statusStr}} </td>
                        </ng-container>

                        <ng-container matColumnDef="expandedDetail">
                            <br />
                            <td mat-cell *matCellDef="let element" colspan="9">
                                <div class="example-element-detail"
                                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
    
                                    <table mat-table [dataSource]="element.compOfffHistoryList"
                                        class="mat-elevation-z2 etable">
    
                                        <ng-container matColumnDef="statusCO">
                                            <th mat-header-cell *matHeaderCellDef> Status </th>
                                            <td mat-cell *matCellDef="let element"> {{element.statusStr}} </td>
                                        </ng-container>
    
                                        <ng-container matColumnDef="actedBy">
                                            <th mat-header-cell *matHeaderCellDef> Acted By </th>
                                            <td mat-cell *matCellDef="let element"> {{element.actor}}
                                            </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="actedOn">
                                            <th mat-header-cell *matHeaderCellDef> Acted On </th>
                                            <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'dd-MMM-yyyy'}}
                                            </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="commentsCO">
                                            <th mat-header-cell *matHeaderCellDef> Comments </th>
                                            <td mat-cell *matCellDef="let element" [matTooltip]="element.actorComments">
                                                <div class="fixed_col_ellipses">
                                                    {{element.actorComments}} 
                                                </div>
                                                </td>
                                        </ng-container>
    
                                        <tr mat-header-row
                                            *matHeaderRowDef="expCompOffColumns"></tr>
                                        <tr mat-row
                                            *matRowDef="let row; columns: expCompOffColumns;">
                                        </tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4" align="center">No data</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="compOffColumns"></tr>
                        <tr mat-row *matRowDef="let element; columns: compOffColumns;" class="example-element-row"
                            [class.example-expanded-row]="expandedElement === element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="6" align="center">No data</td>
                        </tr>
                    </table>
                <app-custom-pagination [pageProperties]="CoPageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
                </div>
                <!-- <mat-paginator #paginatorCO [length]="lengthCO" [pageSize]="pageSizeCO" [pageSizeOptions]="pageSizeOptions"
                (page)="onPaginationChange($event, 'CO')">
            </mat-paginator> -->
            <!-- </div> -->

        </div>
    <!-- </ng-template> -->
        <ng-template #template>
            <h2 mat-dialog-title align="center">Request Comp Off</h2>
            <mat-divider></mat-divider>
            <br>
            <mat-dialog-content>
                <form [formGroup]="compOffForm" class="form" style="font-size: 14px;">
                    <div class="full-width">
                        <mat-label fxFlex="50" style="color: grey;">Type</mat-label>
                        <p align="start">Comp Off</p>
                    </div>
                    <mat-form-field class="full-width">
                        <mat-label>Date Worked
                        </mat-label>
                        <mat-select formControlName="compOffAgainstDate">
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let item of eligibleCompOffDatesLst" [value]="item">
                              {{item | date:'dd-MMM-yyyy'}}
                            </mat-option>
                          </mat-select>
                        <mat-error *ngIf="f.compOffAgainstDate.hasError('required')">Date Worked is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Comments</mat-label>
                        <textarea matInput autocomplete="off" formControlName="comments" maxlength="100"></textarea>
                        <mat-error *ngIf="f.comments.hasError('required')">Comments is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="full-width">
                        <p><span style="color: red;">Note:</span><span> Compoff leaves expire in 3 months from the day
                                you worked on.</span></p>
                    </div>
                </form>
                <br />
                <br />
                <br />
            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close color="danger">Cancel</button>
                <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>Apply</button>
            </mat-dialog-actions>
        </ng-template>
    </mat-tab>
</mat-tab-group>