.mat-tab-body-wrapper {
    flex: 1 1 100%;
  }

  .demo-table {
    width: 40%;
  }

  .table1{
    width: 100%;
  }

  .responsive-table {
 overflow: auto;
  }
  
  .mat-column-demo-type {
    // width: 32px;
    border-right: 1px solid lightgray;
    padding-right: 24px;
    text-align: center;
    font-size: 14px;
  }
  
  .mat-column-demo-balance {
    padding-left: 16px;
    font-size: 14px;
  }

  .my-form-field {
    font-size: 14px;
    color: black;
  }

  // *********************************** Expanded Table
  

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    width: 100%;
    overflow: hidden;
    display: flex;
    // text-align: center;
    th.mat-header-cell {
      // text-align: center;
      border-left: 1px solid lightgray;
      border-top: 1px solid lightgray;
    }
    td.mat-cell {
      border-left: 1px solid lightgray;
    }
    th.mat-header-cell:last-child, td.mat-cell:last-child {
      border-right: 1px solid lightgray;
    }
  }

  .etable {
    width: 100%;
    margin: 10px;
  }

  // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  //   padding: 4px !important;
  // }
  
  .form {
    // min-width: 350px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    margin-top: 5px;
    width: 100%;
  }

  .mat-column-username {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-action {
    // flex: 0 0 25% !important;
    width: 80px !important;
  }
  
  