<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="30" align="start">
            <h2><strong>Team Time Sheet Report</strong></h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="30"> </div>
        <div fxFlex="10">
            <button mat-mini-fab color="primary" (click)="onArrow('prev')">
                <mat-icon>arrow_left</mat-icon>
            </button>
        </div>
        <p fxFlex="20" class="viewDt">{{viewDay | date:'MMMM-yyyy'}}</p>
        <div fxFlex="10">
            <button mat-mini-fab color="primary" (click)="onArrow('next')"
            [disabled]="checkNext()">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </div>
        <div fxFlex="30"></div>
    </div>
    <br/>
    <div class="row" fxLayout fxLayout.xs="column" *ngIf="(length && length > 0) && showData">
        <div fxFlex="10" align="start" style="padding-top: 10px;">
            <button mat-raised-button class="exp-buttons" (click)="downloadReport('xlsx')">Excel</button>
        </div>
        <div fxFlex="20" align="start">
            <mat-form-field class="full-width" >
                <input matInput autocomplete="off" placeholder="Search by Emp Name / Code"  [(ngModel)]="empCode">
                <mat-icon matSuffix class="material-icons-round" (click)="onSubmit()">search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="showData">
        <div fxLayout="row" fxLayout.xs="column">
            <div class="responsive-table" fxFlex="100">
                <table mat-table [dataSource]="lstGrid" class="tstable mat-elevation-z8">
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Name / Date</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.employeeName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Project">
                        <th mat-header-cell *matHeaderCellDef>Project</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.projectName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ProjectManager">
                        <th mat-header-cell *matHeaderCellDef>Project Manager</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.projectManager}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ReportingManager">
                        <th mat-header-cell *matHeaderCellDef>Reporting Manager</th>
                        <td mat-cell *matCellDef="let element;let i=index">{{element.reportingManager}}</td>
                    </ng-container>
                 
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns;let i =index">
                        <th mat-header-cell *matHeaderCellDef> {{column | date:'MMM-dd'}}</th>
                        <td mat-cell *matCellDef="let element; let j =index"
                            [ngClass]="{'wknd': ((column | date:'EEE') == 'Sat' || (column | date:'EEE') == 'Sun')}">
                            <div *ngIf="element.typeStatusArray[i].leaveStatus != 0">
                                <div [ngStyle]="{'color': element.typeStatusArray[i].leaveStatus == 16 ? 'orange' : element.typeStatusArray[i].leaveStatus == 17 ? 'green' : 
                                element.typeStatusArray[i].leaveStatus == 18 ? 'red' : 'black' }">
                                {{ element.typeStatusArray[i].leaveType}}</div>
                                <div *ngIf="element.typeStatusArray[i].timesheetStatus > 10" [ngStyle]="{'color': element.typeStatusArray[i].timesheetStatus == 11 ? 'orange' : element.typeStatusArray[i].timesheetStatus == 12 ? 'green' : 
                                    element.typeStatusArray[i].timesheetStatus == 13 ? 'red' : 'black' }">
                                       {{ element.typeStatusArray[i].timesheetStatus == 11 ? 'Pending' : element.typeStatusArray[i].timesheetStatus == 12 ? 'Approved' : 
                                        element.typeStatusArray[i].timesheetStatus == 13 ? 'Rejected' : '' }}
                                </div>
                            </div>
                            <div *ngIf="element.typeStatusArray[i].leaveStatus == 0"
                                [ngStyle]="{'color': (element.typeStatusArray[i].timesheetStatus == 10 || element.typeStatusArray[i].timesheetStatus == 15) ? 'black' :
                        element.typeStatusArray[i].timesheetStatus == 11 ? 'orange' : element.typeStatusArray[i].timesheetStatus == 12 ? 'green' : 
                        element.typeStatusArray[i].timesheetStatus == 13 ? 'red' : 'black' }">
                                {{ element.typeStatusArray[i].timesheetStatus == 10 ? 'Not Filled' : element.typeStatusArray[i].timesheetStatus == 15 ? 'Holiday' :
                                element.typeStatusArray[i].timesheetStatus == 11 ? 'Pending' : element.typeStatusArray[i].timesheetStatus == 12 ? 'Approved' : 
                                element.typeStatusArray[i].timesheetStatus == 13 ? 'Rejected' : '' }}
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length" align="center">No data</td>
                    </tr>
                </table>
                <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)"></app-custom-pagination>
            </div>
            <br />
        </div>
    </div>
</div>