<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>IT Projection / HR Report</strong></h2>
        </div>
    </div>
    
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>HR REPORT | TOTAL</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table class="mat-elevation-z4 rtable">
                    <!-- [dataSource]="lstGrid" -->
                    <ng-container matColumnDef="s_no">
                        <th mat-header-cell *matHeaderCellDef>SI No</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="st">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="des">
                        <th mat-header-cell *matHeaderCellDef>Designation</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="rm">
                        <th mat-header-cell *matHeaderCellDef>Resource Manager</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="skill">
                        <th mat-header-cell *matHeaderCellDef>Skill</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="pract">
                        <th mat-header-cell *matHeaderCellDef>Practice</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="wl">
                        <th mat-header-cell *matHeaderCellDef>Work Location</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="ord">
                        <th mat-header-cell *matHeaderCellDef>Offer Release Date</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="doj">
                        <th mat-header-cell *matHeaderCellDef>DOJ as per the Offer Letter</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="c_doj">
                        <th mat-header-cell *matHeaderCellDef>Confirm DOJ</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="src">
                        <th mat-header-cell *matHeaderCellDef>Source</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="jm">
                        <th mat-header-cell *matHeaderCellDef>Joining Month</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="cl">
                        <th mat-header-cell *matHeaderCellDef>Current Location</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="pl">
                        <th mat-header-cell *matHeaderCellDef>Permanent Location</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="ac">
                        <th mat-header-cell *matHeaderCellDef>Asset Category</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="addConf">
                        <th mat-header-cell *matHeaderCellDef>Additional Configuration</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="ctc">
                        <th mat-header-cell *matHeaderCellDef>CTC</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="exp">
                        <th mat-header-cell *matHeaderCellDef>Experience</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef>Contact</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination> -->
            </div>
        </div>
    </div>
</div>
