<div class="containerLayout">
    <div class="row" fxLayout fxLayout.xs="column">
        <div fxFlex="50" align="start">
            <h2><strong>Assigned Requests</strong></h2>
        </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <br />
    <div class="row" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <input matInput autocomplete="off" placeholder="Search by Id">
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Department</mat-label>
                 <mat-select>
                    
                </mat-select> 
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Practice</mat-label>
                <mat-select>
                    <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Priority</mat-label>
                <mat-select>
                    <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.lg="22" fxFlex.xs="100">
            <mat-form-field class="max-width" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select>
                    <!-- <mat-option *ngFor="let item of locationLst" [value]="item.id">{{item.clientName}}</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <div style="padding: 10px;">
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row" fxLayout fxLayout.xs="column">
            <div fxFlex="50" align="start">
                <h3>Assigned Requests| Total</h3>
            </div>
            <div fxFlex="50" align="end">
                <button mat-raised-button class="exp-buttons">Excel</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100">
                <table mat-table class="mat-elevation-z4 rtable">
                    <!-- [dataSource]="lstGrid" -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="hm">
                        <th mat-header-cell *matHeaderCellDef>Hiring Manager</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>


                    <ng-container matColumnDef="purpose">
                        <th mat-header-cell *matHeaderCellDef>Purpose</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef>Department</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="practice">
                        <th mat-header-cell *matHeaderCellDef>Practice</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="ct">
                        <th mat-header-cell *matHeaderCellDef>Competency</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="cn">
                        <th mat-header-cell *matHeaderCellDef>Client Name</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef>Model</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    
                    <ng-container matColumnDef="ht">
                        <th mat-header-cell *matHeaderCellDef>Hiring Type</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>


                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef>Priority</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>


                    <ng-container matColumnDef="res">
                        <th mat-header-cell *matHeaderCellDef>Resources</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="cd">
                        <th mat-header-cell *matHeaderCellDef>Created Date</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="rsdate">
                        <th mat-header-cell *matHeaderCellDef>Requistion Start Date</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9" align="center">No data</td>
                    </tr>
                </table>
                <!-- <app-custom-pagination [pageProperties]="pageData" (pageEvent)="onPaginationChange($event)">
                </app-custom-pagination> -->
            </div>
        </div>
    </div>
</div>
<div align="end">
    <button mat-raised-button color="primary">Open</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Show Timeline</button>&nbsp;&nbsp;
</div>